Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1840210 - Rename mozac_ic_help to mozac_ic_help_circle_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_help_circle_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/home/HomeMenu.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_quit to mozac_ic_cross_circle_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_cross_circle_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1840210 - Rename mozac_ic_location to mozac_ic_location_24
  android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_location_24.xml
  focus-android/app/src/main/res/xml/site_permissions.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1840210 - Rename mozac_ic_clear to mozac_ic_cross_circle_fill_24
  android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_edittoolbar.xml
  android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserEditToolbar.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_cross_circle_fill_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/utils/ClearableEditText.kt
  fenix/app/src/main/res/layout/fragment_add_login.xml
  fenix/app/src/main/res/layout/fragment_edit_login.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1840210 - Rename mozac_ic_information to mozac_ic_information_24
  android-components/components/feature/downloads/src/main/res/layout/mozac_download_cancel.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_information_24.xml
  android-components/samples/browser/src/main/res/layout/activity_installed_add_on_details.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_home to mozac_ic_home_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_home_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1840210 - Rename mozac_ic_delete to mozac_ic_delete_24
  android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_unsupported_item.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_delete_24.xml
  fenix/app/src/main/res/menu/bookmarks_select_multi_not_item.xml
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/BrowserToolbarIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/session/SessionNotificationService.kt
  focus-android/app/src/main/res/drawable/ic_shortcut_erase.xml
  focus-android/app/src/main/res/menu/menu_autocomplete_remove.xml
  focus-android/app/src/main/res/menu/menu_remove_search_engines.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_warning to mozac_ic_warning_fill_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_warning_fill_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/share/viewholders/AccountDeviceViewHolder.kt
  fenix/app/src/main/res/drawable/mozac_ic_warning_with_bottom_padding.xml
  focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/ConnectionDetailsPanel.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/TrackingProtectionPanel.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_pin_remove to mozac_ic_pin_slash_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_pin_slash_24.xml
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1840210 - Rename mozac_ic_forward to mozac_ic_forward_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_forward_24.xml
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
  android-components/samples/toolbar/src/main/java/org/mozilla/samples/toolbar/ToolbarActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/NavigationButtonsIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/CustomTabMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
  focus-android/app/src/main/res/layout/menu_navigation.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_share to mozac_ic_share_android_24
  android-components/components/browser/menu/README.md
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_share_android_24.xml
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
  android-components/samples/toolbar/src/main/java/org/mozilla/samples/toolbar/ToolbarActivity.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1840210 - Rename mozac_ic_private_browsing to mozac_ic_private_mode_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_private_mode_24.xml
  android-components/components/ui/tabcounter/src/main/java/mozilla/components/ui/tabcounter/TabCounterMenu.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_pin_filled_2 to mozac_ic_pin_fill_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_pin_fill_24.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_search to mozac_ic_search_24
  android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_displaytoolbar.xml
  android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_edittoolbar.xml
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/ClipboardSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SearchSuggestionProviderTest.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_search_24.xml
  android-components/samples/toolbar/src/main/java/org/mozilla/samples/toolbar/ToolbarActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarMenu.kt
  fenix/app/src/main/res/menu/bookmarks_menu.xml
  fenix/app/src/main/res/menu/history_menu.xml
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/CustomTabMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/searchsuggestions/ui/SearchOverlay.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_link to mozac_ic_link_24
  android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_link_24.xml
  android-components/samples/browser/src/main/res/layout/activity_add_on_details.xml
  android-components/samples/browser/src/main/res/layout/activity_add_on_permissions.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_password_hide to mozac_ic_eye_slash_24
  android-components/components/feature/prompts/src/main/res/drawable/mozac_ic_password_reveal_two_state.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_eye_slash_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/PasswordRevealHelper.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1840210 - Rename mozac_ic_video to mozac_ic_camera_24
  android-components/components/feature/media/src/main/java/mozilla/components/feature/media/middleware/RecordingDevicesMiddleware.kt
  android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_camera_24.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_fingerprint to mozac_ic_fingerprinter_24
  android-components/components/feature/toolbar/src/main/java/mozilla/components/feature/toolbar/ContainerToolbarAction.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_fingerprinter_24.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_close_20 to mozac_ic_cross_20
  android-components/components/browser/tabstray/src/main/res/layout/mozac_browser_tabstray_item.xml
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupContent.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_cross_20.xml
  fenix/app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/inactivetabs/InactiveTabs.kt
  fenix/app/src/main/res/layout/download_dialog_layout.xml
  fenix/app/src/main/res/layout/no_collections_message.xml
  fenix/app/src/main/res/layout/onboarding_inactive_tabs_cfr.xml
  fenix/app/src/main/res/layout/tab_tray_grid_item.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1840210 - Rename mozac_ic_notification to mozac_ic_notification_24
  android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_notification_24.xml
  focus-android/app/src/main/res/xml/site_permissions.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1840210 - Rename mozac_ic_refresh to mozac_ic_arrow_clockwise_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_arrow_clockwise_24.xml
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
  android-components/samples/toolbar/src/main/java/org/mozilla/samples/toolbar/ToolbarActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/NavigationButtonsIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/CustomTabMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
  focus-android/app/src/main/res/layout/menu_navigation.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_menu to mozac_ic_ellipsis_vertical_24
  android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu_button.xml
  android-components/components/browser/menu2/src/main/res/layout/mozac_browser_menu2_button.xml
  android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_fragment_dialog_addon_installed.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_ellipsis_vertical_24.xml
  android-components/components/ui/widgets/src/main/res/layout/mozac_widget_site_item.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_extensions to mozac_ic_extension_24
  android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/WebExtensionBrowserMenuBuilder.kt
  android-components/components/browser/menu/src/test/java/mozilla/components/browser/menu/WebExtensionBrowserMenuBuilderTest.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/menu/WebExtensionNestedMenuCandidate.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonInstallationDialogFragment.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonsManagerAdapter.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/update/AddonUpdater.kt
  android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_fragment_dialog_addon_installed.xml
  android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_fragment_dialog_addon_permissions.xml
  android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_unsupported_item.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_extension_24.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_shield_disabled to mozac_ic_shield_slash_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_shield_slash_24.xml
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/BrowserToolbarIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/AddToHomescreenDialogFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/TrackingProtectionPanel.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1840210 - Rename mozac_ic_download to mozac_ic_download_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_download_24.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_shield to mozac_ic_shield_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_shield_24.xml
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/BrowserToolbarIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/TrackingProtectionPanel.kt
  focus-android/app/src/main/java/org/mozilla/focus/widget/SwitchWithDescription.kt
  focus-android/app/src/main/res/layout/dialog_tracking_protection_sheet.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1840210 - Rename mozac_ic_settings to mozac_ic_settings_24
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_login_multiselect_view.xml
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_prompts_address_select_prompt.xml
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_prompts_credit_card_select_prompt.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_settings_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/ShortcutsSuggestionProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/toolbar/SearchSelectorMenu.kt
  fenix/app/src/main/res/layout/component_tracking_protection_panel.xml
  fenix/app/src/main/res/layout/fragment_installed_add_on_details.xml
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/ShortcutsSuggestionProviderTest.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/home/HomeMenu.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1842257 - Convert `SettingsDeleteBrowsingDataTest` to support Tabs Tray rewrite
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSettingsDeleteBrowsingDataTest.kt
Due: lint-fenix

Update GeckoView (Release) to 115.0.20230710165010.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Set version to 115.2.0
  version.txt
Due: none

Bug 1840210 - Rename mozac_ic_check to mozac_ic_checkmark_24
  android-components/components/service/nimbus/src/main/res/layout/mozac_service_nimbus_branch_item.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_checkmark_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabListItem.kt
  fenix/app/src/main/res/layout/checkbox_item.xml
  fenix/app/src/main/res/layout/library_site_item.xml
  fenix/app/src/main/res/layout/locale_settings_item.xml
  fenix/app/src/main/res/menu/add_custom_searchengine_menu.xml
  fenix/app/src/main/res/menu/address_editor.xml
  fenix/app/src/main/res/menu/bookmarks_add_folder.xml
  fenix/app/src/main/res/menu/bookmarks_edit.xml
  fenix/app/src/main/res/menu/credit_card_editor.xml
  fenix/app/src/main/res/menu/edit_custom_searchengine_menu.xml
  fenix/app/src/main/res/menu/login_save.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1840210 - Rename mozac_ic_storage to mozac_ic_storage_24
  android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_storage_24.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840210 - Rename mozac_ic_microphone to mozac_ic_microphone_24
  android-components/components/feature/media/src/main/java/mozilla/components/feature/media/middleware/RecordingDevicesMiddleware.kt
  android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_microphone_24.xml
  fenix/app/src/main/res/layout/search_widget_large.xml
  fenix/app/src/main/res/layout/search_widget_medium.xml
  fenix/app/src/main/res/layout/search_widget_small.xml
  focus-android/app/src/main/java/org/mozilla/focus/searchwidget/SearchWidgetProvider.kt
  focus-android/app/src/main/res/xml/site_permissions.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1840210 - Rename mozac_ic_add_to_homescreen to mozac_ic_add_to_homescreen_24
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_add_to_home_screen_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/res/layout/fragment_pwa_onboarding.xml
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/CustomTabMenu.kt
  focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix
