Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1823903 - Fix flaky ContileTopSitesProviderTest test
  android-components/components/service/contile/src/test/java/mozilla/components/service/contile/ContileTopSitesProviderTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 113.0.20230322094136.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1819123 - Refactor SupportUtils and SupportUtilsTest to remove Robolectric.
  focus-android/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteCustomDomainsPreference.kt
  focus-android/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteDefaultDomainsPreference.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebanner/CookieBannerRejectAllPreference.kt
  focus-android/app/src/main/java/org/mozilla/focus/searchsuggestions/ui/SearchSuggestionsPreference.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/ManualAddSearchEngineSettingsFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/SettingsFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/utils/SupportUtils.kt
  focus-android/app/src/main/java/org/mozilla/focus/widget/TelemetrySwitchPreference.kt
  focus-android/app/src/test/java/org/mozilla/focus/utils/SupportUtilsTest.kt
  focus-android/quality/detekt-baseline.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819123 - Refactor IntentUtilsTest to remove Robolectric.
  focus-android/app/src/test/java/org/mozilla/focus/utils/IntentUtilsTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819123 - Remove unnecessary RobolectricTestRunner.
  focus-android/app/src/test/java/org/mozilla/focus/animation/TransitionDrawableGroupTest.java
  focus-android/app/src/test/java/org/mozilla/focus/locale/LocalesTest.java
  focus-android/app/src/test/java/org/mozilla/focus/telemetry/HistogramTest.kt
  focus-android/app/src/test/java/org/mozilla/focus/telemetry/ProfilerMarkerFactProcessorTest.kt
  focus-android/app/src/test/java/org/mozilla/focus/topsites/DefaultTopSitesStorageTest.kt
  focus-android/app/src/test/java/org/mozilla/focus/whatsnew/WhatsNewVersionTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819123 - Refactor SitePermissionOptionsStoreTest to remove Robolectric.
  focus-android/app/src/test/java/org/mozilla/focus/sitepermissions/SitePermissionOptionsStoreTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819123 - Refactor BiometricAuthenticationFragmentTest to remove Robolectric.
  focus-android/app/src/main/java/org/mozilla/focus/biometrics/BiometricAuthenticationFragment.kt
  focus-android/app/src/test/java/org/mozilla/focus/biometrics/BiometricAuthenticationFragmentTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819123 - Refactor ContextMenuCandidatesTest to remove Robolectric.
  focus-android/app/src/test/java/org/mozilla/focus/contextmenu/ContextMenuCandidatesTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819123 - Refactor BrowserMenuControllerTest to remove Robolectric.
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/BrowserMenuController.kt
  focus-android/app/src/test/java/org/mozilla/focus/menu/BrowserMenuControllerTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1822823 - Refactor settingsGeneralItemsTests UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsGeneralTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Due: lint-fenix

Bug 1819123 - Use EmptyFocusApplication.
  focus-android/app/src/test/java/org/mozilla/focus/TestFocusApplication.kt
  focus-android/app/src/test/java/org/mozilla/focus/cfr/CfrMiddlewareTest.kt
  focus-android/app/src/test/java/org/mozilla/focus/searchwidget/ExternalIntentNavigationTest.kt
  focus-android/app/src/test/resources/robolectric.properties
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1820467 - Force toolchain rebuild, build fix
  android-components/.buildconfig.yml
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1820467 - PR change. Move build check to caller. Updated dependencies for Focus and Sample Browser
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/content/Context.kt
  android-components/components/support/ktx/src/main/res/values/strings.xml
  android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/content/ContextTest.kt
  android-components/samples/browser/build.gradle
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/integration/ContextMenuIntegration.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  focus-android/.buildconfig.yml
  focus-android/app/build.gradle
  focus-android/app/src/main/java/org/mozilla/focus/contextmenu/ContextMenuCandidates.kt
  focus-android/app/src/main/java/org/mozilla/focus/utils/FocusSnackbarDelegate.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1820467 - Removed dependency to google_material from support-ktx gradle. Moved SnackbarDelegate.kt to ui-widget components.
  android-components/components/feature/contextmenu/build.gradle
  android-components/components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuCandidate.kt
  android-components/components/feature/contextmenu/src/test/java/mozilla/components/feature/contextmenu/ContextMenuCandidateTest.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/temporary/CopyDownloadFeature.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/temporary/CopyDownloadFeatureTest.kt
  android-components/components/support/ktx/build.gradle
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/content/Context.kt
  android-components/components/support/ktx/src/main/res/values/strings.xml
  android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/content/ContextTest.kt
  android-components/components/support/utils/build.gradle
  android-components/components/ui/widgets/src/main/java/mozilla/components/ui/widgets/SnackbarDelegate.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/CustomTabContextMenuCandidate.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/FenixSnackbarDelegate.kt
  fenix/app/src/main/res/values/strings.xml
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1823860 - Update crash monitoring docs to create a bugzilla report from Socorro
  fenix/docs/Crash-Monitoring.md
Due: lint-fenix

Bug 1817466 - Use new channel and certificate-alias names in push-apk
  taskcluster/ci/push-apk/kind.yml
Due: none

Bug 1821961 - WIP
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabSheetBehaviorManager.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/res/layout/fragment_tab_tray_dialog.xml
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Bug 1822750 - Add option to open default browser help page in custom tab
  fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
Due: lint-fenix

[Focus] Bug 1822619: fix crash due to NPE
  focus-android/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteListFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/autocomplete/SimpleCallback.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

[Focus] Bug 1822619: fix crash due to NPE
  focus-android/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteListFragment.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1821206 - Implement composified tab list click listeners
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayFragmentTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-vec/strings.xml
  android-components/components/browser/menu/src/main/res/values-vec/strings.xml
  android-components/components/browser/menu2/src/main/res/values-vec/strings.xml
  android-components/components/compose/browser-toolbar/src/main/res/values-vec/strings.xml
  android-components/components/feature/addons/src/main/res/values-vec/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 113.0.20230322211554.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1824052 - Set jvmTarget to 11 for KotlinCompile task in tooling-lint.
  android-components/components/tooling/lint/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
