Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1829156 - Target SDK 34 in Focus.
  focus-android/app/build.gradle
Due: buildconfig-focus, compare-locales-focus, ktlint-focus, lint-focus

Bug 1825116 - add license info to animated_splash_screen.xml
  fenix/app/src/beta/res/drawable/animated_splash_screen.xml
  fenix/app/src/debug/res/drawable/animated_splash_screen.xml
  fenix/app/src/main/res/drawable/animated_splash_screen.xml
  fenix/app/src/nightly/res/drawable/animated_splash_screen.xml
  fenix/app/src/release/res/drawable/animated_splash_screen.xml
Due: lint-fenix

Bug 1845496 - Upgrade Kotlin and compose compiler.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1845496 - Test new R8."
  android-components/build.gradle
  fenix/build.gradle
  focus-android/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1845496 - Test new R8.
  android-components/build.gradle
  fenix/build.gradle
  focus-android/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 119.0.20230911091854.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1825116 - delete trailing whitespace from docs
  docs/changelog.md
  docs/rfcs/0009-remove-interactors-and-controllers.md
  fenix/docs/architecture-overview.md
Due: lint-fenix

Bug 1852328 – removed suggestion map upcasting from Awesomebar
  android-components/components/compose/awesomebar/src/main/java/mozilla/components/compose/browser/awesomebar/AwesomeBar.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1851678 - Catch AutofillApiException exception when fetching autofill data and setting startup metrics
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: lint-fenix

Bug 1851012 – aligned Search Engine Suggestion Provider behaviour with Desktop
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SearchEngineSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SearchEngineSuggestionProviderTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1850833 - New Help button telemetry in home menu
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
Due: lint-fenix

Revert "Bug 1845235 - Add "Private" label to Felt Privacy mode home screen"
  fenix/app/src/main/res/drawable/ic_wordmark_text_felt_privacy.png
  fenix/app/src/main/res/layout/fragment_home.xml
  fenix/app/src/main/res/values/attrs.xml
  fenix/app/src/main/res/values/dimens.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230911134246.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1843536 - Fix tab reordering animation issues
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ReorderableGrid.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ReorderableList.kt
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230911154121.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Release) to 117.0.20230911200035.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-be/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1845292 - Remember scroll position in BookmarkView
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkView.kt
Due: lint-fenix

Update GeckoView (Release) to 117.0.20230912013654.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 119.0.20230912013213.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 119.20230912050246.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1844960 - Bookmark suggestions should appear unconcerned with the search suggestions setting.
  android-components/components/compose/awesomebar/src/main/java/mozilla/components/compose/browser/awesomebar/AwesomeBar.kt
  android-components/components/compose/awesomebar/src/main/java/mozilla/components/compose/browser/awesomebar/internal/Suggestions.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837082 - Show SITE_NOT_SUPPORTED when hasException
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannersStorageExt.kt
Due: lint-fenix

Bug 1852533 - Main menu tests TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddToHomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/MainMenuTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PDFViewerTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ThreeDotMenuMainTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerRobot.kt
  fenix/automation/taskcluster/androidTest/flank-arm-beta.yml
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  fenix/automation/taskcluster/androidTest/flank-arm-start-test.yml
Due: lint-fenix

Bug 1845747 - Allow enabling/disabling of onboarding cards
  fenix/app/onboarding.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/JunoOnboardingMapper.kt
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Bug 1845747 - Add "Add search widget" card for Juno Onboarding
  fenix/app/metrics.yaml
  fenix/app/onboarding.fml.yaml
  fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/JunoOnboardingMapperTest.kt
  fenix/app/src/main/AndroidManifest.xml
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/JunoOnboardingFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/JunoOnboardingTelemetryRecorder.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/WidgetPinnedReceiver.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/JunoOnboardingMapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/JunoOnboardingScreen.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageUiData.kt
  fenix/app/src/main/res/drawable/ic_onboarding_search_widget.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/JunoOnboardingMapperTest.kt
Due: lint-fenix

Bug 1852623 - Fix list tab reordering animation when dragging first element
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ReorderableList.kt
Due: lint-fenix

Bug 1840090 - Add content strings for shopping experience
  fenix/app/src/main/java/org/mozilla/fenix/compose/String.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckScaffold.kt
  fenix/app/src/main/res/values/static_strings.xml
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230912041249.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1841600 - Add review checker shopping icons
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_competitiveness_24.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_packaging_24.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_price_24.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_quality_24.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_shipping_24.xml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_shopping_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/res/drawable/ic_shopping_cart.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
