Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Use dev workers
  taskcluster/ci/config.yml
Due: none

Temporarily exclude components from nightly graph
  taskcluster/android_taskgraph/target_tasks.py
Due: none

Staging nightly
  try_task_config.json
Due: none

Use Autograph stage
  taskcluster/ci/signing-apk/kind.yml
Due: none

Bug 1840339 - Add review highlights card for shopping experience
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/res/values/static_strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStateTest.kt
Due: lint-fenix

Bug 1845900: deleting the last element of a collection, the entire collection is deleted
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: lint-fenix

Bug 1847186 - Enable the `mozAddonManager` web API on Fenix Nightly builds
  fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
Due: lint-fenix

Update GeckoView (Nightly) to 118.0.20230807092029.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1847179 - Fix wrong error message displayed when trying to install an unsupported add-on
  fenix/app/src/main/java/org/mozilla/fenix/extension/WebExtensionPromptFeature.kt
  fenix/app/src/test/java/org/mozilla/fenix/extension/WebExtensionPromptFeatureTest.kt
Due: lint-fenix

Bug 1847211 - New unified search tab UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTabDrawerRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/TabDrawerRobot.kt
Due: lint-fenix

Update GeckoView (Release) to 116.0.20230805021307.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Rename signing format to match "autograph_stage" everywhere
  taskcluster/ci/signing-apk/kind.yml
Due: none

Try v3 signatures on stage
  taskcluster/ci/signing-apk/kind.yml
Due: none

Bug 1567912 - build_apk -> build_android_app transform
  taskcluster/android_taskgraph/transforms/build_android_app.py
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/build-bundle/kind.yml
Due: none

Set version to 116.2.0
  version.txt
Due: none

Bug 1845234 - Adds a new background gradient for TPBM
  fenix/app/src/main/java/org/mozilla/fenix/theme/ThemeManager.kt
  fenix/app/src/main/res/drawable/felt_private_home_background_gradient.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Bug 1847645 - Changed the Confirm PromptFeature to correctly use the negative button title
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1845235 - Add "Private" label to Felt Privacy mode home screen
  fenix/app/src/main/res/drawable/ic_wordmark_text_felt_privacy.png
  fenix/app/src/main/res/layout/fragment_home.xml
  fenix/app/src/main/res/values/attrs.xml
  fenix/app/src/main/res/values/dimens.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-be/strings.xml
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  android-components/components/feature/addons/src/main/res/values-it/strings.xml
  android-components/components/feature/addons/src/main/res/values-iw/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-dsb/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1819737 - Added extensions process crash handling
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtensionDelegate.kt
  android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 118.0.20230807215239.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update Glean to 53.2.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1842736 - Video Background Playback should work between Regular Browsing and Private Browsing.
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: lint-fenix

Bug 1567912 - Add AAB builds for Fenix and Focus (#3049)
  taskcluster/android_taskgraph/transforms/build_android_app.py
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1847583 - Fenix: Add search by bookmarks tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeBookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeHistoryTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/NavigationToolbarRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
Due: lint-fenix

Bug 1847583 - Disable blocking UI tests: Bug 1846941, Bug 1847774
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
Due: lint-fenix

Bug 1846287 - Catch LoginsApiException exception when fetching the list of logins and setting startup metrics
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: lint-fenix
