Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1862996 - Search engine update
  android-components/components/feature/search/src/main/assets/search/list.json
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-au.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-ca.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-co-uk.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-de.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-es.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-fr.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-in.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-it.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-nl.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-se.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazondotcom.xml
  android-components/components/feature/search/src/main/assets/searchplugins/danawa-kr.xml
  android-components/components/feature/search/src/main/assets/searchplugins/elebila.xml
  android-components/components/feature/search/src/main/assets/searchplugins/leit-is.xml
  android-components/components/feature/search/src/main/assets/searchplugins/pledarigrond.xml
  android-components/components/feature/search/src/main/assets/searchplugins/rediff.xml
  android-components/components/feature/search/src/main/assets/searchplugins/reta-vortaro.xml
  android-components/components/feature/search/src/main/assets/searchplugins/skroutz.xml
  android-components/components/feature/search/src/main/assets/searchplugins/slovnik-sk.xml
  android-components/components/feature/search/src/main/assets/searchplugins/sztaki-en-hu.xml
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 121.0.20231103093836.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1862656 - Update AndroidX Fragment to version 1.6.2
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 120.0.20231103091743.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1861234 — Add SharedPreferences to NimbusBuilder
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
  focus-android/app/src/main/java/org/mozilla/focus/experiments/NimbusSetup.kt
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1858882 - Update "Learn More" link in private browsing description
  fenix/app/src/main/java/org/mozilla/fenix/home/privatebrowsing/controller/PrivateBrowsingController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/privatebrowsing/DefaultPrivateBrowsingControllerTest.kt
Due: detekt-fenix, lint-fenix

Update A-S to 121.20231102164430.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1861219 - Resolve breaking changes to the Rust fxa-client
  android-components/components/feature/accounts/src/main/java/mozilla/components/feature/accounts/FxaWebChannelFeature.kt
  android-components/components/feature/accounts/src/test/java/mozilla/components/feature/accounts/FirefoxAccountsAuthFeatureTest.kt
  android-components/components/feature/accounts/src/test/java/mozilla/components/feature/accounts/FxaWebChannelFeatureTest.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/Config.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FirefoxAccount.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FxaDeviceConstellation.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/AccountStorageTest.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaDeviceConstellationTest.kt
  android-components/samples/firefox-accounts/src/main/java/org/mozilla/samples/fxa/MainActivity.kt
  android-components/samples/sync-logins/src/main/java/org/mozilla/samples/sync/logins/MainActivity.kt
  android-components/samples/sync/src/main/java/org/mozilla/samples/sync/MainActivity.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/components/FxaServer.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/FxaServer.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1844523 - Translate and Restore to Original Engine Support
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/SystemEngineSession.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/EngineDelegateMiddleware.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/BrowserStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/TranslationsStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabSessionState.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/SessionState.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/TabSessionState.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/TranslationsState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/TranslationsActionTest.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationOperation.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationOptions.kt
  android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/EngineSessionTest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/address/AddressPickerTest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/creditcard/CreditCardPickerTest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/file/FilePickerTest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/login/LoginPickerTest.kt
  android-components/components/feature/session/src/main/java/mozilla/components/feature/session/SessionUseCases.kt
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1862927 — Remove duplicate nimbus enrollment/exposure events
  android-components/components/service/nimbus/docs/metrics.md
  android-components/components/service/nimbus/metrics.yaml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1861732 - Remove straight quotes from onboarding caption
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Update A-S to 121.20231103050336.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 121.0.20231103200528.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-kab/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update A-S to 121.20231104050329.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 121.0.20231104091937.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 121.0.20231104215054.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 121.0.20231105091909.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-ka/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 121.0.20231105213814.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1862926 - New high priority history UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddToHomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
Due: detekt-fenix, lint-fenix

Bug 1861173 - Correctly increment shopping CFR counter
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
Due: detekt-fenix, lint-fenix

Bug 1862402 - Mark AnalysisPresent as Immutable for compose compiler
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
Due: detekt-fenix, lint-fenix
