Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1881349 - Fix failing Focus UI tests
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/BrowserRobot.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/SearchRobot.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/helpers/Constants.kt
Due: compare-locales-focus, detekt-focus, ktlint-focus, lint-focus

Update GeckoView (Nightly) to 125.0.20240304212558.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1881803 - update webcompat-reporter to version 2.1.0
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/background.js
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/experimentalAPIs/aboutConfigPrefs.js
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/experimentalAPIs/aboutConfigPrefs.json
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/experimentalAPIs/browserInfo.js
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/experimentalAPIs/browserInfo.json
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/experimentalAPIs/tabExtras.js
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/experimentalAPIs/tabExtras.json
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/manifest.json
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1883331 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SitePermissionsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1883331 - Add logs to SitePermissionsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SitePermissionsRobot.kt
Due: detekt-fenix, lint-fenix

Update A-S to 125.20240305050046.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1883363 - Add logs to SettingsSubMenuSearchRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSearchRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1882976 - Add logs to ShareOverlayRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ShareOverlayRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1882308 - Updated custom tab to support private mode
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
  android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeatureTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1881831 - Translations Integration - Add "Offer to translate when possible" Connection
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationSettingsFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1879868 - Translations Automatically Popup bottom sheet on Offer Translation
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/TranslationsBinding.kt
  fenix/app/src/test/java/org/mozilla/fenix/browser/TranslationsBindingTest.kt
Due: detekt-fenix, lint-fenix

Bug 1883065 - Fix tab strip visibility issue on custom tabs
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1813913 - Added support for Custom Tabs setColorScheme & setColorSchemeParams API
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabConfig.kt
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabConfigHelper.kt
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabWindowFeature.kt
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
  android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabConfigHelperTest.kt
  android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabWindowFeatureTest.kt
  android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeatureTest.kt
  android-components/components/feature/pwa/src/main/java/mozilla/components/feature/pwa/ext/WebAppManifest.kt
  android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/ext/WebAppManifestKtTest.kt
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Window.kt
  android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/view/WindowTest.kt
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ColorUtils.kt
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/ColorUtilsTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/FennecWebAppIntentProcessor.kt
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/BrowserToolbarIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/NavigationButtonsIntegration.kt
  focus-android/app/src/main/java/org/mozilla/focus/telemetry/TelemetryMiddleware.kt
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 125.0.20240305094850.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1873457 - throw exception when an unsupported Activity is used in Activity ext
  fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  fenix/app/src/test/java/org/mozilla/fenix/ext/ActivityTest.kt
Due: detekt-fenix, lint-fenix

Bug 1833097 - Fix verifyAddAddressViewTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1837569 - Fix verifyStateFieldUpdatesInAccordanceWithCountryFieldTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1877277 - Translations add Check for isTranslationsEngineSupported
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/TranslationsBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: detekt-fenix, lint-fenix

Bug 1880544 — Add action params to MessageData
  android-components/components/service/nimbus/messaging.fml.yaml
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingController.kt
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorage.kt
  android-components/components/service/nimbus/src/test/java/mozilla/components/service/nimbus/messaging/NimbusMessagingControllerTest.kt
  android-components/components/service/nimbus/src/test/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorageTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingHomescreenTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1883651 - stop merging pull requests on main from 2024-03-15
  .mergify.yml
Due: none

Bug 1883703 - Direct contributors to Bugzilla for issue tracking
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Bug 1875668 - Bypass cache when intercepting site in desktop mode
  fenix/app/src/main/java/org/mozilla/fenix/components/UrlRequestInterceptor.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/UrlRequestInterceptorTest.kt
Due: detekt-fenix, lint-fenix

Fix a breaking change in the `feature-fxsuggest` tests.
  android-components/components/feature/fxsuggest/src/test/java/mozilla/components/feature/fxsuggest/FxSuggestSuggestionProviderTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1853107 - Fix a race condition on CreateEngineSession
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/CreateEngineSessionMiddleware.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1879663 - Add RFC proposing updates to the RFC process
  docs/rfcs/0000-template.md
  docs/rfcs/0013-rfc-process-updates.md
  docs/rfcs/README.md
Due: none

Bug 1882572 - Instrumenting Translations Nimbus Feature Release
  fenix/app/nimbus.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationOptionsDialog.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationSettings.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsBottomSheet.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
Due: detekt-fenix, lint-fenix
