Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Update GeckoView (Beta) to 117.0.20230731150216.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 118.0.20230731152552.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1567912 - debugging artifact path
  taskcluster/android_taskgraph/transforms/build_aab.py
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1567912 - debugging artifact path, again
  taskcluster/android_taskgraph/transforms/build_aab.py
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1839158 - Ignore invalid credit card save requests
  android-components/components/concept/storage/src/main/java/mozilla/components/concept/storage/CreditCardsAddressesStorage.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/creditcard/CreditCardSaveDialogFragment.kt
  android-components/components/service/sync-autofill/src/main/java/mozilla/components/service/sync/autofill/DefaultCreditCardValidationDelegate.kt
  android-components/components/service/sync-autofill/src/main/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegate.kt
  android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/DefaultCreditCardValidationDelegateTest.kt
  android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1839158 - Swallow number format exceptions to prevent crash
  android-components/components/service/sync-autofill/src/main/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegate.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1845230 - Adds feature flag for felt privacy
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
  fenix/app/pbm.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
Due: lint-fenix

Theme WIP
  fenix/app/src/main/java/org/mozilla/fenix/perf/ThreadPenaltyDeathWithIgnoresListener.kt
  fenix/app/src/main/java/org/mozilla/fenix/theme/ThemeManager.kt
  fenix/app/src/main/res/drawable/felt_private_home_background_gradient.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Bug 1845825 - Update AndroidX Fragment to version 1.6.1
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-ka/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ka/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-ka/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 118.0.20230731215815.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1838389 - Catch NullPointerException while printStackTrace
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 118.20230801050309.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1807268 - Disable failing verifyBasicNavigationToolbarFunctionality UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
Due: lint-fenix

Bug 1845905 - Add a utility to create store lazily
  fenix/app/src/main/java/org/mozilla/fenix/components/StoreProvider.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/StoreProviderTest.kt
Due: lint-fenix

Bug 1842560 - Fix verifyRecentlyClosedTabsListTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/RecentlyClosedTabsRobot.kt
Due: lint-fenix

Update GeckoView (Nightly) to 118.0.20230801034557.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840721 - For top sites we should prefer switching to open tabs vs opening a duplicate tab
  fenix/app/src/main/java/org/mozilla/fenix/home/recentbookmarks/controller/RecentBookmarksController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
Due: lint-fenix

Bug 1846480 - Add adjusted rating card for review quality check
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/res/values/static_strings.xml
Due: lint-fenix

Bug 1809828 - Display Tab Thumbnail when failing to download image
  fenix/app/src/main/java/org/mozilla/fenix/compose/Image.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/ImagesPlaceholder.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/ListItemTabLarge.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
Due: lint-fenix

Bug 1845255 - Add loading UI for review quality check
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductReviewLoading.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
Due: lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Revert "Bug 1845255 - Add loading UI for review quality check"
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductReviewLoading.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
Due: lint-fenix

Bug 1845255 - Add loading UI for review quality check
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductReviewLoading.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
Due: buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1845230 - Adds feature flag for felt privacy
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
  fenix/app/pbm.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: lint-fenix

Bug 1839250 - Avoid crash when an OutOfMemory Error is raised while trying to write a just-closed tab into storage
  android-components/components/feature/recentlyclosed/src/main/java/mozilla/components/feature/recentlyclosed/RecentlyClosedTabsStorage.kt
  android-components/components/feature/recentlyclosed/src/test/java/mozilla/components/feature/recentlyclosed/RecentlyClosedTabsStorageTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1567912 - more debugging to find aab location
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1567912 - try new artifact path
  taskcluster/android_taskgraph/transforms/build_aab.py
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1567912 - cleanup
  taskcluster/android_taskgraph/transforms/build_aab.py
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1567912 - correct variant -> variant_name
  taskcluster/ci/build-bundle/kind.yml
Due: none

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
