Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1819645 - Limit the cookie banner re-engagement dialog to a maximum of two shows
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
Due: lint-fenix

Bug 1813252 - Refactor MessagingMiddlewareTest to use a real Store instance
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Due: lint-fenix

Update Focus initial_experiments.json based on the current first-run experiments in experimenter
  focus-android/app/src/main/res/raw/initial_experiments.json
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1820271 - Renew telemetry probes expiring in v114
  fenix/app/metrics.yaml
Due: lint-fenix

Bug 1820861 - Update AC documentation Ruby dependencies
  docs/Gemfile
  docs/Gemfile.lock
Due: none

Bug 1817029 - Add the client-deduplication ping (#861)
  fenix/.experimenter.yaml
  fenix/app/metrics.yaml
  fenix/app/pings.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/ActivationPing.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
  fenix/nimbus.fml.yaml
Due: lint-fenix

Bug 1820036 - Add Matrix labeling on Firebase Test Lab
  fenix/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/android_taskgraph/transforms/test.py
  taskcluster/ci/ui-test-apk/kind.yml
Due: lint-fenix

Bug 1820553 - Fix speedometer3 task naming for Fenix.
  taskcluster/ci/browsertime/kind.yml
Due: none

Bug 1806741 - Expose hasRuleForBrowsingContext API
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/SystemEngineSession.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/EngineSessionTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1814988 - Add paging to `TabsTray`
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: buildconfig-fenix, lint-fenix

Update GeckoView (Nightly) to 112.0.20230307211537.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1819989 - Remove JDK8 from base docker image
  focus-android/tools/docker/Dockerfile
  taskcluster/ci/fetch/kind.yml
  taskcluster/docker/android-build/Dockerfile
  taskcluster/docker/base/Dockerfile
  taskcluster/scripts/toolchain/repack-android-sdk-linux.sh
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1820961 - Add smoke test annotation to mainMenuAddToHomeScreenTest and addPrivateBrowsingShortcutTest UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddToHomeScreenTest.kt
Due: lint-fenix

Bug 1820501 - Create new pdfFindInPageTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/FindInPageRobot.kt
Due: lint-fenix

Bug 1820501 - Add missing steps to findInPageTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
Due: lint-fenix

Bug 1820740 - Update to androidTest/AppRequestInterceptor.kt to match production code
  fenix/app/src/androidTest/java/org/mozilla/fenix/AppRequestInterceptor.kt
Due: lint-fenix

Bug 1820773 - Refactor Settings test classes to reflect current categories
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CookieBannerReductionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PwaTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsDeleteBrowsingDataTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivateBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSitePermissionsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsTest.kt
Due: lint-fenix

Bug 1820740 - Add UI tests coverage for HTTPS-only mode
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHTTPSOnlyModeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/NavigationToolbarRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuHttpsOnlyModeRobot.kt
Due: lint-fenix

Bug 1812144 - Homescreen appbar drag issue fixed
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: lint-fenix

Bug 1821024 - Disable blocking openDownloadedFileTest
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230308094825.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1820967 - Use `id` instead of `flight_id` to identify a sponsored story
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/ext/Mappers.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/ApiSpoc.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsJSONParser.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/ext/MappersKtTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/helpers/PocketTestResources.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/db/SpocsDaoTest.kt
  docs/changelog.md
  fenix/app/metrics.yaml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1821030 - Add telemetry for onboarding PWA dialog cancel button
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/shortcut/PwaOnboardingDialogFragment.kt
Due: lint-fenix

Bug 1821088 - Update notify block in test-apk CI task
  taskcluster/ci/test-apk/kind.yml
Due: none

Bug 1821032 - Add telemetry for the homescreen no collections placeholder close button
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
Due: lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
