Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1870701 - Replace straight quotes with curly quotes in RC onboarding
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Bug 1877887 - Update ZXing to version 3.5.3
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 124.0.20240214094558.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875229 - Add support for extensions not allowed in private windows
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtension.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtensionTest.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/webextension/MockWebExtension.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/Addon.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonInstallationDialogFragment.kt
  android-components/components/feature/addons/src/main/res/values/strings.xml
  android-components/components/feature/addons/src/test/java/AddonTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonInstallationDialogFragmentTest.kt
  android-components/components/support/webextensions/src/test/java/mozilla/components/support/webextensions/WebExtensionSupportTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragmentTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 124.0.20240213210653.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880221 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/RecentlyClosedTabsRobot.kt
Due: detekt-fenix, lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: detekt-fenix, lint-fenix

Bug 1880445 - Add logs to SettingsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/AppAndSystemHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1877278 - AC Translations Check for if the Engine is Supported
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/TranslationsMiddleware.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/TranslationsStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/BrowserState.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/TranslationsBrowserState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/TranslationsActionTest.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/TranslationsMiddlewareTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationError.kt
  fenix/app/src/test/java/org/mozilla/fenix/telemetry/TelemetryMiddlewareTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1880328 - Fix state checking issues
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FxaDeviceConstellation.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/AppServicesStateMachineChecker.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 124.0.20240215095551.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 124.0.20240214155234.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1807268 - Fix verifySavedAddressCanBeEditedTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1880494 - Update JUnit5 to version 5.10.2
  fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
  focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1880466 - Add logs to SettingsSubMenuAccessibilityRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAccessibilityRobot.kt
Due: detekt-fenix, lint-fenix

Update A-S to 124.20240215050333.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880445 - Remove redundant assertion functions from SettingsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1880466 - Remove redundant assertion functions from SettingsSubMenuAccessibilityRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAccessibilityRobot.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 124.0.20240214213412.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880620 - Add logs to SettingsSubMenuAddonsManagerRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1815651 - Fix verifyAutofillToggleTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
Due: detekt-fenix, lint-fenix

Bug 1880620 - Remove redundant assertion functions from SettingsSubMenuAddonsManagerRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerRobot.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 124.0.20240215210102.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1876385 - Update AndroidX Benchmark to version 1.2.3
  fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: detekt-fenix, lint-fenix

Update A-S to 125.20240216050339.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-eu/strings.xml
  android-components/components/feature/addons/src/main/res/values-cs/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  android-components/components/feature/addons/src/main/res/values-eu/strings.xml
  android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-it/strings.xml
  android-components/components/feature/addons/src/main/res/values-iw/strings.xml
  android-components/components/feature/addons/src/main/res/values-kk/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-nl/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/addons/src/main/res/values-ru/strings.xml
  android-components/components/feature/addons/src/main/res/values-si/strings.xml
  android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  android-components/components/feature/addons/src/main/res/values-ug/strings.xml
  android-components/components/feature/addons/src/main/res/values-vi/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rTW/strings.xml
  fenix/app/src/main/res/values-azb/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1880620 - Add logs to SettingsSubMenuAddonsManagerAddonDetailedMenuRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerAddonDetailedMenuRobot.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-bg/strings.xml
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/addons/src/main/res/values-kab/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/addons/src/main/res/values-sv-rSE/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-azb/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 124.0.20240216094648.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880759 - Update SnakeYAML to version 2.2
  shared-settings.gradle
Due: none

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-cy/strings.xml
  android-components/components/browser/menu/src/main/res/values-es/strings.xml
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-el/strings.xml
  android-components/components/feature/addons/src/main/res/values-es/strings.xml
  android-components/components/feature/addons/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/media/src/main/res/values-es/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 125.0.20240219095613.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 124.0.20240217214641.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880516 - Update Kotlin Serialization to version 1.6.3
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 124.0.20240216212328.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Set version to 125.0a1
  version.txt
Due: none

Bug 1880476 — Fixup documentation to point to the correct class
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorage.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880476 — Remove redundant nimbusFeature in NimbusMessagingStorage
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorage.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components
