Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1827599 - Partially re-enables auto-play settings tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSitePermissionsTest.kt
Due: lint-fenix

Bug 1822349 - monorepo-migration: avoid some overeager replacements
  monorepo-migration/generate-replace-message-expressions.py
Due: none

Bug 1822349 - monorepo-migration: add regexes to fix up previous commit message changes
  monorepo-migration/generate-replace-message-expressions.py
Due: none

Bug 1822349 - monorepo-migration: re-generate message-expressions.txt
  monorepo-migration/data/message-expressions.txt
Due: none

Bug 1822349 - monorepo-migration: don't break existing commit URLs
  monorepo-migration/filter-repo.py
Due: none

Update GeckoView (Nightly) to 115.0.20230530093928.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1830030 - Re-enable deleteCollectionTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
Due: lint-fenix

Bug 1833118 - Rename OnboardingPageState image to imageRes and update class desc @param to @Property
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
Due: lint-fenix

Bug 1826473 – add new search engine settings screens
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/SearchReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/SearchState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/SearchActionTest.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/middleware/SearchMiddleware.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchMetadataStorage.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/ext/BrowserStoreKtTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSearchRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/toolbar/SearchSelectorMenuBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/AddSearchEngineFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/DefaultEngineFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/EditCustomSearchEngineFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/RadioSearchEngineListPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineShortcuts.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchShortcutsFragment.kt
  fenix/app/src/main/res/color/toggle_button_text_color.xml
  fenix/app/src/main/res/layout/custom_search_engine.xml
  fenix/app/src/main/res/layout/custom_search_engine_radio_button.xml
  fenix/app/src/main/res/layout/fragment_add_search_engine.xml
  fenix/app/src/main/res/layout/fragment_default_search_engine.xml
  fenix/app/src/main/res/layout/fragment_search_shortcuts.xml
  fenix/app/src/main/res/layout/search_engine_radio_button.xml
  fenix/app/src/main/res/menu/add_custom_searchengine_menu.xml
  fenix/app/src/main/res/menu/edit_custom_searchengine_menu.xml
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/main/res/values/dimens.xml
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/xml/default_engine_preferences.xml
  fenix/app/src/main/res/xml/search_preferences.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1835856 - Update search urls.
  android-components/components/feature/search/src/main/assets/searchplugins/baidu.xml
  fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1809803 - Remove wallpaperV2 flag and related assets and code.
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperDownloader.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperFileManager.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  fenix/app/src/main/res/drawable-hdpi/amethyst.png
  fenix/app/src/main/res/drawable-hdpi/cerulean.png
  fenix/app/src/main/res/drawable-hdpi/sunrise.jpg
  fenix/app/src/main/res/drawable-land-hdpi/amethyst.png
  fenix/app/src/main/res/drawable-land-hdpi/cerulean.png
  fenix/app/src/main/res/drawable-land-hdpi/sunrise.jpg
  fenix/app/src/main/res/drawable-land-night-hdpi/amethyst.png
  fenix/app/src/main/res/drawable-land-night-hdpi/cerulean.png
  fenix/app/src/main/res/drawable-land-night-xhdpi/amethyst.png
  fenix/app/src/main/res/drawable-land-night-xhdpi/cerulean.png
  fenix/app/src/main/res/drawable-land-night-xxhdpi/amethyst.png
  fenix/app/src/main/res/drawable-land-night-xxhdpi/cerulean.png
  fenix/app/src/main/res/drawable-land-xhdpi/amethyst.png
  fenix/app/src/main/res/drawable-land-xhdpi/cerulean.png
  fenix/app/src/main/res/drawable-land-xhdpi/sunrise.jpg
  fenix/app/src/main/res/drawable-land-xxhdpi/amethyst.png
  fenix/app/src/main/res/drawable-land-xxhdpi/cerulean.png
  fenix/app/src/main/res/drawable-land-xxhdpi/sunrise.jpg
  fenix/app/src/main/res/drawable-night-hdpi/amethyst.png
  fenix/app/src/main/res/drawable-night-hdpi/cerulean.png
  fenix/app/src/main/res/drawable-port-night-xhdpi/amethyst.png
  fenix/app/src/main/res/drawable-port-night-xhdpi/cerulean.png
  fenix/app/src/main/res/drawable-port-night-xxhdpi/amethyst.png
  fenix/app/src/main/res/drawable-port-night-xxhdpi/cerulean.png
  fenix/app/src/main/res/drawable-port-xhdpi/amethyst.png
  fenix/app/src/main/res/drawable-port-xhdpi/cerulean.png
  fenix/app/src/main/res/drawable-port-xhdpi/sunrise.jpg
  fenix/app/src/main/res/drawable-port-xxhdpi/amethyst.png
  fenix/app/src/main/res/drawable-port-xxhdpi/cerulean.png
  fenix/app/src/main/res/drawable-port-xxhdpi/sunrise.jpg
  fenix/app/src/main/res/drawable-xhdpi/amethyst.png
  fenix/app/src/main/res/drawable-xxhdpi/amethyst.png
  fenix/app/src/test/java/org/mozilla/fenix/wallpapers/LegacyWallpaperFileManagerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Due: lint-fenix

Bug 1832612 - Convert `verifyTabTrayNotShowingStateHalfExpanded`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTabDrawerRobot.kt
  fenix/app/src/main/res/layout/component_tabstray3.xml
Due: lint-fenix

Bug 1830401 - add Adjust event for Activated Users
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/Event.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GrowthDataWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/DefaultMetricsStorageTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/ui/widgets/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 115.0.20230530213234.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 115.20230531050338.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Release) to 114.0.20230530221313.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 115.0.20230531041723.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1821716 - URL should leave 'focus' state when keyboard is dismissed
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: lint-fenix

Bug 1818633 - Fix overscroll "bounce-back" on Pocket stories & Recently visited
  fenix/app/src/main/java/org/mozilla/fenix/compose/LazyListEagerFlingBehavior.kt
Due: lint-fenix

Bug 1796331 - Added throws notation to AutofillCreditCardsAddressesStorage class
  android-components/components/service/sync-autofill/src/main/java/mozilla/components/service/sync/autofill/AutofillCreditCardsAddressesStorage.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1831104 – keep pre-fill arrows only for search engine suggestions
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/BookmarksStorageSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/CombinedHistorySuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryStorageSuggestionProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1831497 - [a11y] Dictate correct hint when selecting engine
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/toolbar/ToolbarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/toolbar/ToolbarViewTest.kt
Due: lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
