Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1837499 - convert 'post' tasks to from_deps transforms
  taskcluster/android_taskgraph/transforms/post_dummy.py
  taskcluster/android_taskgraph/transforms/version_bump.py
  taskcluster/ci/mark-as-shipped/kind.yml
  taskcluster/ci/post-beetmover/kind.yml
  taskcluster/ci/post-signing/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: none

Bug 1837499 - convert github-release-apk tasks to from_deps
  taskcluster/ci/github-release-apks/kind.yml
Due: none

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-es/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-gn/strings.xml
  android-components/components/feature/prompts/src/main/res/values-nb-rNO/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  focus-android/app/src/main/res/values-nb-rNO/strings.xml
  focus-android/app/src/main/res/values-su/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 116.0.20230619213151.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837060 - Remove unused search engine definitions.
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-br.xml
  android-components/components/feature/search/src/main/assets/searchplugins/amazon-mx.xml
  android-components/components/feature/search/src/main/assets/searchplugins/duckduckgo.xml
  android-components/components/feature/search/src/main/assets/searchplugins/google-2018.xml
  android-components/components/feature/search/src/main/assets/searchplugins/google.xml
  android-components/components/feature/search/src/main/assets/searchplugins/twitter-ja.xml
  android-components/components/feature/search/src/main/assets/searchplugins/twitter.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 116.20230620050317.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837521 - Load image url bitmaps in the Compose Top Sites
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1838717 - Enable alerting for APK file size. (#2505)
  fenix/buildSrc/src/main/java/org/mozilla/fenix/gradle/tasks/ApkSizeTask.kt
Due: lint-fenix

Update GeckoView (Nightly) to 116.0.20230620094433.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1835665 - Unify FocusDependencies with AC's DependenciesPlugin
  focus-android/app/build.gradle
  focus-android/build.gradle
  focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
  focus-android/service-telemetry/build.gradle
Due: buildconfig-focus, compare-locales-focus, ktlint-focus, lint-focus

Bug 1838120 - Unify Fenix buildSrc/Config with the ConfigPlugin
  android-components/plugins/config/src/main/java/ConfigPlugin.kt
  fenix/app/build.gradle
  fenix/buildSrc/src/main/java/Config.kt
  fenix/buildSrc/src/main/java/org/mozilla/fenix/gradle/ext/Runtime.kt
  fenix/settings.gradle
Due: buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1831107 - Allow bookmarks containing mobile subdomains to be searched when the corresponding search engine is selected
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/BookmarksStorageSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/BookmarksStorageSuggestionProviderTest.kt
  android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/ext/UriKtTest.kt
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/net/Uri.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Beta) to 115.0.20230620180051.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1832617 - Convert `closeTabTest`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTabDrawerRobot.kt
Due: lint-fenix

Bug 1832609 - Convert `closePrivateTabTest`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-gl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-nn-rNO/strings.xml
  android-components/components/feature/prompts/src/main/res/values-trs/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
  focus-android/app/src/main/res/values-mix/strings.xml
  focus-android/app/src/main/res/values-trs/strings.xml
  focus-android/app/src/main/res/values-ur/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 116.0.20230620212415.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1838569 – added a nimbus flag for splash screen duration (#2471)
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
Due: lint-fenix

Bug 1821210 - Added content description on Back button to say Navigate up button
  android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/WebExtensionBrowserMenuBuilder.kt
  android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/item/BackPressMenuItem.kt
  android-components/components/browser/menu/src/main/res/values/strings.xml
  android-components/components/browser/menu/src/test/java/mozilla/components/browser/menu/item/ParentBrowserMenuItemTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837961 - Part 1:Update components flow ext to use kotlin coroutines flow extensions
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlinx/coroutines/flow/Flow.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837984: Adjust the spacing between the normal, private and sync tabs
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: lint-fenix

Bug 1839358 - Allow open tabs containing mobile subdomains to be displayed as suggestions in the awesome bar
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SessionSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SessionSuggestionProviderTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1839578 - Allow ktlintFormat task to modify access java.lang class fields.
  android-components/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1839610 - bump taskgraph to 5.4.0
  taskcluster/requirements.txt
Due: none

Update GeckoView (Nightly) to 116.0.20230621040008.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1802817 - Replace deprecated main with mainClass.
  android-components/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837599 - Allow history visits containing mobile subdomains to be displayed in the awesome bar
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/CombinedHistorySuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryMetadataSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryStorageSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/CombinedHistorySuggestionProviderTest.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/HistoryMetadataSuggestionProviderTest.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/HistoryStorageSuggestionProviderTest.kt
  android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/ext/UriKtTest.kt
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/net/Uri.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1825124 - Change the way we show the post-install popup once an extension has been installed.
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/extension/WebExtensionPromptRequest.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonInstallationDialogFragment.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonInstallationDialogFragmentTest.kt
  android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  android-components/components/support/webextensions/src/test/java/mozilla/components/support/webextensions/WebExtensionSupportTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/extension/WebExtensionPromptFeature.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix
