Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1834775 - Pin Gradle plugin versions in their respective Dependencies files
  android-components/build.gradle
  android-components/components/browser/engine-gecko/build.gradle
  android-components/components/lib/crash/build.gradle
  android-components/components/service/nimbus/build.gradle
  android-components/components/support/sync-telemetry/build.gradle
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  android-components/samples/glean/build.gradle
  android-components/samples/glean/samples-glean-library/build.gradle
  fenix/app/build.gradle
  fenix/build.gradle
  fenix/buildSrc/src/main/java/FenixDependencies.kt
  focus-android/app/build.gradle
  focus-android/build.gradle
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1834775 - Update Fastlane Screengrab to version 2.1.1
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: lint-fenix

Bug 1834775 - Update jacoco to version 0.8.10
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1834775 - Update Python Envs Plugin to version 0.0.31
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1825425 - Address Jon's easy comments
  docs/rfcs/0009-remove-interactors-and-controllers.md
Due: none

Bug 1822552 - Adjust vertical padding in recently visited groups to prevent title text from being cut off at the bottom
  fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
Due: lint-fenix

Bug 1834432 - Remove multidex references from firefox-android
  android-components/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Update A-S to 115.20230524160034.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1832676: Fixes handle push breaking changes
  android-components/components/concept/sync/src/main/java/mozilla/components/concept/sync/AccountEvent.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FxaDeviceConstellation.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/Types.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaDeviceConstellationTest.kt
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  android-components/samples/sync/src/main/java/org/mozilla/samples/sync/MainActivity.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1812859 - Update tabpreview's tab count when starting swipe
  fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
Due: lint-fenix

Bug 1833756 - Remove unnecessary `selectionMode` parameter from normal and private tab pages
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
Due: lint-fenix

Bug 1834746 - Mock the proper extension class.
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: lint-fenix

Bug 1834746 - Refactor tests to remove mockkStatic.
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogFragmentTest.kt
Due: lint-fenix

Bug 1834746 - Upgrade Mockk to latest version.
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: lint-fenix

Bug 1834746 - Replace OAuthAccount mock with implementation mock.
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusEventTest.kt
Due: lint-fenix

Bug 1828698 - Refactor `DropdownMenu` into a use case Composable
  fenix/app/src/main/java/org/mozilla/fenix/compose/Menu.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/collections/Collection.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarks.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: lint-fenix

Bug 1832611 - Re-enable `closePrivateTabsNotificationTest` for Compose
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 115.0.20230524162134.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1832613 - Convert `verifyEmptyTabTray`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTabDrawerRobot.kt
Due: lint-fenix

Bug 1831104 – keep pre-fill arrows only for search engine suggestions
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/BookmarksStorageSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/CombinedHistorySuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryStorageSuggestionProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Import translations from android-l10n
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-quc/strings.xml
Due: compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1822448 – Prevent tabs tray from being animated multiple times on older android versions
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Bug 1833757 - Merge `onTabMultiSelectClick` and `onTabClick` lambdas
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeGridViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeListViewHolder.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolderTest.kt
Due: lint-fenix

Bug 1834698 - Change text for "Data Collection" in Chinese in Mozillaonline builds
  fenix/app/src/main/java/org/mozilla/fenix/settings/DataChoicesFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  fenix/app/src/main/res/values-zh-rCN/mozonline_strings.xml
  fenix/app/src/main/res/values/mozonline_strings.xml
Due: lint-fenix

Bug 1834692 - [MozillaOnline] Disable "isMarketingTelemetryEnabled" no matter what users click in privacy pop window in MozillaOnline builds
  fenix/app/src/main/java/org/mozilla/fenix/home/mozonline/PrivacyContentDisplayHelper.kt
Due: lint-fenix

Update GeckoView (Nightly) to 115.0.20230524214208.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1832616 - Convert `verifyContextMenuShortcuts`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
Due: lint-fenix

Bug 1832615 - Convert `verifyOpenTabDetails`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTabDrawerRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabListItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTestTag.kt
Due: lint-fenix

Bug 1807307 - Disable LeakCanary in CI debug APKs used for UI fuzzy testing
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Update A-S to 115.20230525050257.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1833348 - [Bug][downloads] "Try again" should work after the connection is reestablished.
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/manager/FetchDownloadManager.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/AbstractFetchDownloadServiceTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1834974 - run external-gradle-dependencies job on changes to dependencies
  taskcluster/ci/external-gradle-dependencies/kind.yml
Due: none
