Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1847141 - Suppress UnspecifiedRegisterReceiverFlag for SDK < 33
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ext/Context.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1847141 - Restrict receiving download broadcasts.
  android-components/components/feature/downloads/src/main/AndroidManifest.xml
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  docs/changelog.md
  fenix/app/src/main/AndroidManifest.xml
  focus-android/app/src/main/AndroidManifest.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1851186 - Add new design system color tokens
  android-components/components/ui/colors/src/main/java/mozilla/components/ui/colors/PhotonColors.kt
  android-components/components/ui/colors/src/main/res/values/photon_colors.xml
  fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
  fenix/app/src/main/res/values-night/colors.xml
  fenix/app/src/main/res/values/colors.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Revert "Bug 1826933 - Add tests for NotificationsDelegate."
  android-components/components/support/base/src/main/java/mozilla/components/support/base/android/NotificationsDelegate.kt
  android-components/components/support/base/src/test/java/mozilla/components/support/base/android/NotificationsDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1826933 - Use WeakHashMap and WeakReference for activity and launcher."
  android-components/components/support/base/src/main/java/mozilla/components/support/base/android/NotificationsDelegate.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 118.0.20230905175953.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1839513 - Pass crash reporter to SessionStorage
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: lint-fenix

Bug 1851213 - Prefix Application Services dependency
  android-components/components/browser/storage-sync/build.gradle
  android-components/components/feature/fxsuggest/build.gradle
  android-components/components/feature/push/build.gradle
  android-components/components/service/firefox-accounts/build.gradle
  android-components/components/service/nimbus/build.gradle
  android-components/components/service/sync-autofill/build.gradle
  android-components/components/service/sync-logins/build.gradle
  android-components/components/support/rusterrors/build.gradle
  android-components/components/support/rusthttp/build.gradle
  android-components/components/support/rustlog/build.gradle
  android-components/components/support/test-appservices/build.gradle
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1850761 - Allow for local usage of experiment integration test suite
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/Pipfile
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/Pipfile.lock
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/conftest.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/pytest.ini
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/test_integration.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/variables.yaml
Due: lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-cy/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-de/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-dsb/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-fi/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-fr/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-gn/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-hsb/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-hu/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-ia/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-is/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-it/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-iw/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-kk/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-ko/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-nl/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-ru/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-sl/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-vi/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-zh-rCN/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-zh-rTW/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 119.0.20230905215534.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 119.20230906050317.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1839967 - Updated the Firefox Browser imagery assets.
  fenix/app/src/beta/res/drawable-hdpi/ic_logo_wordmark_normal.png
  fenix/app/src/beta/res/drawable-hdpi/ic_logo_wordmark_private.png
  fenix/app/src/beta/res/drawable-mdpi/ic_logo_wordmark_normal.png
  fenix/app/src/beta/res/drawable-mdpi/ic_logo_wordmark_private.png
  fenix/app/src/beta/res/drawable-xhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/beta/res/drawable-xhdpi/ic_logo_wordmark_private.png
  fenix/app/src/beta/res/drawable-xxhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/beta/res/drawable-xxhdpi/ic_logo_wordmark_private.png
  fenix/app/src/beta/res/drawable-xxxhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/beta/res/drawable-xxxhdpi/ic_logo_wordmark_private.png
  fenix/app/src/beta/res/drawable/ic_wordmark_text_normal.png
  fenix/app/src/beta/res/drawable/ic_wordmark_text_private.png
  fenix/app/src/nightly/res/drawable-hdpi/ic_logo_wordmark_normal.png
  fenix/app/src/nightly/res/drawable-hdpi/ic_logo_wordmark_private.png
  fenix/app/src/nightly/res/drawable-mdpi/ic_logo_wordmark_normal.png
  fenix/app/src/nightly/res/drawable-mdpi/ic_logo_wordmark_private.png
  fenix/app/src/nightly/res/drawable-xhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/nightly/res/drawable-xhdpi/ic_logo_wordmark_private.png
  fenix/app/src/nightly/res/drawable-xxhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/nightly/res/drawable-xxhdpi/ic_logo_wordmark_private.png
  fenix/app/src/nightly/res/drawable-xxxhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/nightly/res/drawable-xxxhdpi/ic_logo_wordmark_private.png
  fenix/app/src/nightly/res/drawable/ic_wordmark_text_normal.png
  fenix/app/src/nightly/res/drawable/ic_wordmark_text_private.png
  fenix/app/src/release/res/drawable-hdpi/ic_logo_wordmark_normal.png
  fenix/app/src/release/res/drawable-hdpi/ic_logo_wordmark_private.png
  fenix/app/src/release/res/drawable-mdpi/ic_logo_wordmark_normal.png
  fenix/app/src/release/res/drawable-mdpi/ic_logo_wordmark_private.png
  fenix/app/src/release/res/drawable-xhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/release/res/drawable-xhdpi/ic_logo_wordmark_private.png
  fenix/app/src/release/res/drawable-xxhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/release/res/drawable-xxhdpi/ic_logo_wordmark_private.png
  fenix/app/src/release/res/drawable-xxxhdpi/ic_logo_wordmark_normal.png
  fenix/app/src/release/res/drawable-xxxhdpi/ic_logo_wordmark_private.png
  fenix/app/src/release/res/drawable/ic_wordmark_text_normal.png
  fenix/app/src/release/res/drawable/ic_wordmark_text_private.png
Due: lint-fenix

Bug 1851543 - Cleanup old Onboarding UI test code
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddToHomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeHomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DeepLinkTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusEventTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NoNetworkAccessStartupTests.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PocketTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TopSitesTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/CustomTabRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: lint-fenix

Bug 1846979 - Add extensions process spawning disabled dialog
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/BrowserStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/BrowserState.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtensionRuntime.kt
  android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/ExtensionProcessDisabledPopupFeature.kt
  android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  android-components/components/support/webextensions/src/test/java/mozilla/components/support/webextensions/WebExtensionSupportTest.kt
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/ExtensionProcessDisabledController.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/ExtensionProcessDisabledControllerTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 119.0.20230906091315.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1850493 - The tracking protection divider should be gone if all the views are gone.
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/QuickSettingsSheetDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/ProtectionsView.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/ProtectionsViewTest.kt
Due: lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1848605 - Implement similar functionality as loadIntoView for Compose Favicons
  android-components/components/browser/icons/src/main/java/mozilla/components/browser/icons/BrowserIcons.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/Favicon.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1851826 - Turn off Fenix mozillaonline builds
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/signing-apk/kind.yml
Due: none
