Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1875891 - Adding MalformedInputException to catch list of handlePlacesExceptions.
  android-components/components/browser/storage-sync/src/main/java/mozilla/components/browser/storage/sync/PlacesStorage.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-azb/strings.xml
  android-components/components/feature/media/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 124.0.20240128212206.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1876751 - Remove redundant preferences from SettingsFragment
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  fenix/app/src/main/res/values/preference_keys.xml
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 124.0.20240129090053.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1861744 - Don't display pending to delete bookmarks when refresh
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1875087 - Do no intercept content urls in applinks
  android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksUseCases.kt
  android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksUseCasesTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 123.0.20240129091730.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1876752 - Reorder preferences in `SettingsFragment` to match the UI layout
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1864692 - Create new startup-test Robo Test Task for Fenix/Focus w/opt-enabled Nightly
  fenix/automation/taskcluster/androidTest/flank-arm-start-test-robo.yml
  focus-android/automation/taskcluster/androidTest/flank-arm-start-test-robo.yml
  focus-android/automation/taskcluster/androidTest/robo-test.sh
  taskcluster/ci/startup-test/kind.yml
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1871093 - Review checker change info card button color
  fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: detekt-fenix, lint-fenix

Revert "Bug 1812843 - Increased the width for a CustomTabsToolbarFeature action button"
  android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_displaytoolbar.xml
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
  android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeatureTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875225 - Part 1. Support <InputEncoding> element in search plugin.
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/search/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineWriter.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/ext/SearchEngineKtTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineReaderTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineWriterTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875225 - Part 2. Use valid InputEnconding element for Rakuten and Yahoo! Japan Auctions.
  android-components/components/feature/search/src/main/assets/searchplugins/rakuten.xml
  android-components/components/feature/search/src/main/assets/searchplugins/yahoo-jp-auctions.xml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1876610 - Minor Translations UI Adjustments
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/automatic/AutomaticTranslationPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSitePreference.kt
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Bug 1867717 - Add DownloadsFeature to AddonPopupBaseFragment.
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonInternalSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonPopupBaseFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/WebExtensionActionPopupFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/DownloadDialogUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/DownloadUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/DownloadStyling.kt
  fenix/app/src/main/res/layout/fragment_add_on_internal_settings.xml
  fenix/app/src/test/java/org/mozilla/fenix/addons/AddonPopupBaseFragmentTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/browser/BaseBrowserFragmentTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/browser/DownloadDialogUtilsTest.kt
Due: detekt-fenix, lint-fenix

Bug 1870335 - Merge content descriptions in the Add-ons details screen.
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegate.kt
  fenix/app/src/main/res/layout/fragment_add_on_details.xml
  fenix/app/src/test/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegateTest.kt
Due: detekt-fenix, lint-fenix

Bug 1870351 - Improve touch targets Add-ons details screen.
  fenix/app/src/main/res/layout/fragment_add_on_details.xml
Due: detekt-fenix, lint-fenix

Bug 1873983 - Translations Secret Settings Option in Nightly
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Due: detekt-fenix, lint-fenix

Bug 1864760 - Added actions to Toolbar and MenuButton to hide and show the menu button
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/BrowserToolbar.kt
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/MenuButton.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/BrowserToolbarTest.kt
  android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/feature/CustomTabSessionTitleObserverTest.kt
  android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarAutocompleteFeatureTest.kt
  android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarInteractorTest.kt
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1876419 - Fix ktlint errors in ToolbarAutocompleteFeatureTest
  android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarAutocompleteFeatureTest.kt
  android-components/ktlint-baseline.xml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1876419 - Move comment from editorconfig files"
  android-components/.editorconfig
  fenix/.editorconfig
  focus-android/.editorconfig
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Revert "Bug 1876419 - Update ktlint-baseline for all projects"
  android-components/ktlint-baseline.xml
  fenix/ktlint-baseline.xml
  focus-android/build.gradle
  focus-android/ktlint-baseline.xml
Due: buildconfig-focus, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Revert "Bug 1875923 - Update max_line_length in editorconfig to match detekt"
  android-components/.editorconfig
  fenix/.editorconfig
  focus-android/.editorconfig
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-su/strings.xml
  android-components/components/feature/media/src/main/res/values-su/strings.xml
  android-components/components/feature/prompts/src/main/res/values-su/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  focus-android/app/src/main/res/values-su/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1870933 - Remove Tabs and Menu buttons from HomeFragment
  fenix/app/src/main/java/org/mozilla/fenix/home/ToolbarView.kt
Due: detekt-fenix, lint-fenix
