Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1817398 - Run `external-gradle-dependencies-lint-fenix` when `Dependencies.kt` changes
  taskcluster/ci/external-gradle-dependencies/kind.yml
Due: none

Bug 1814986 - Create the logic fork for the Tabs Tray to Compose rewrite
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
Due: lint-fenix

Bug 1813753 - Skip the half-expanded state when collapsing the Tabs Tray
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabSheetBehaviorManager.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230217165316.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-be/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rMX/strings.xml
  android-components/components/feature/addons/src/main/res/values-is/strings.xml
  android-components/components/feature/addons/src/main/res/values-it/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 112.0.20230218090955.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1809820 - For Recent bookmarks, always display them instead of just for 10 day
  fenix/app/src/main/java/org/mozilla/fenix/components/bookmarks/BookmarksUseCase.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/bookmarks/BookmarksUseCaseTest.kt
Due: lint-fenix

Bug 1812175 - Turn on Sync page and touch target suggestion is displayed.
  fenix/app/src/main/res/layout/fragment_turn_on_sync.xml
Due: lint-fenix

Bug 1812251 - making the URL icons from the Bookmarks page larger
  fenix/app/src/main/res/values/dimens.xml
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-cak/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ka/strings.xml
  android-components/components/feature/addons/src/main/res/values-en-rGB/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/addons/src/main/res/values-fur/strings.xml
  android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  android-components/components/feature/addons/src/main/res/values-ka/strings.xml
  android-components/components/feature/addons/src/main/res/values-kab/strings.xml
  android-components/components/feature/addons/src/main/res/values-kk/strings.xml
  android-components/components/feature/addons/src/main/res/values-lo/strings.xml
  android-components/components/feature/addons/src/main/res/values-nn-rNO/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/addons/src/main/res/values-ru/strings.xml
  android-components/components/feature/addons/src/main/res/values-skr/strings.xml
  android-components/components/feature/addons/src/main/res/values-sv-rSE/strings.xml
  android-components/components/feature/addons/src/main/res/values-tg/strings.xml
  android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-ja/strings.xml
  fenix/app/src/main/res/values-ka/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-ace/strings.xml
  focus-android/app/src/main/res/values-cak/strings.xml
  focus-android/app/src/main/res/values-ka/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 112.0.20230219095859.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 111.0.20230219190218.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rES/strings.xml
  android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-in/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  android-components/components/feature/app-links/src/main/res/values-dsb/strings.xml
  android-components/components/feature/app-links/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-dsb/strings.xml
  fenix/app/src/main/res/values-es-rES/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-in/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  focus-android/app/src/main/res/values-es-rES/strings.xml
  focus-android/app/src/main/res/values-hsb/strings.xml
  focus-android/app/src/main/res/values-in/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-sk/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 112.0.20230219211858.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1816908 - The search via the widget's microphone should open a new tab containing the search term.
  focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1814140 - Added fixed height to the elements in the edit login page
  fenix/app/src/main/res/layout/fragment_credit_card_editor.xml
Due: lint-fenix

Bug 1812468 - Consider increasing the Standard and Strict options
  fenix/app/src/main/res/layout/onboarding_tracking_protection.xml
Due: lint-fenix

Bug 1807289 - Fix collections related UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/MatcherHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/CollectionRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: lint-fenix

Bug 1812430 - No success pop-up or snackbar is displayed after adding.
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/controller/SavedLoginsStorageController.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/EditLoginFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/LoginDetailFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsFragment.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/settings/logins/SavedLoginsStorageControllerTest.kt
Due: lint-fenix

Bug 1817726 - Add Recents url sharing
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: lint-fenix

Bug 1812960 - Added a menu item to open current page in a new private tab
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarMenuControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
Due: lint-fenix

For #1807369 - Added Modifier.clickable for Talkback to mention Learn more
  fenix/app/src/main/java/org/mozilla/fenix/compose/ClickableSubstringLink.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230220094640.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1812959 - Add top padding to the Home App Bar
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/res/values/dimens.xml
Due: lint-fenix

Bug 1815634 - Set weight and fill to text to display collection expand
  fenix/app/src/main/java/org/mozilla/fenix/compose/list/ExpandableListHeader.kt
Due: lint-fenix

Bug 1810631 - Display name instead of e-mail in menu.
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserMenuSignIn.kt
  fenix/app/src/test/java/org/mozilla/fenix/menu/BrowserMenuSignInTest.kt
Due: lint-fenix
