Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Update GeckoView (Beta) to 117.0.20230810181819.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Update GeckoView (Nightly) to 118.0.20230810155203.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1847746 - Content Description on Print and Save to Save To PDF
  fenix/app/src/main/java/org/mozilla/fenix/share/PrintItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFItem.kt
Due: lint-fenix

Update A-S to 118.20230811050249.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1842566 - Fix flaky saveEditedPdfTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix

Bug 1813794 - When navigating back from a saved login your search results should be saved.
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/controller/LoginsListController.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/LoginDetailFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsFragment.kt
  fenix/app/src/main/res/menu/login_list.xml
  fenix/app/src/test/java/org/mozilla/fenix/settings/logins/LoginsListControllerTest.kt
Due: lint-fenix

Bug 1836896 - Hide statusbar when fullscreen
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Activity.kt
  android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/view/ActivityTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815632 - Adds https to non-http(s) protocols when adding new login
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
Due: lint-fenix

Bug 1847923 - Part 1: Add ProductAnalysisMapper
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapper.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ProductAnalysisTestData.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapperTest.kt
Due: lint-fenix

Bug 1848144 - Onboarding tests TestRail Matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/UpgradingUsersOnboardingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: lint-fenix

Update GeckoView (Nightly) to 118.0.20230811095324.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1848349 - Sponsored shortcuts TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SponsoredShortcutsTest.kt
Due: lint-fenix

Bug 1848355: Upate GeckoPromptDelegateTest to adapt to GeckoView FedCM API changes
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Set version to 116.3.0
  version.txt
Due: none

Bug 1567912 - Add signing tasks for AABs (#3193)
  taskcluster/android_taskgraph/transforms/signing_android_app.py
  taskcluster/android_taskgraph/transforms/upstream_artifacts.py
  taskcluster/ci/signing-apk/kind.yml
  taskcluster/ci/signing-bundle/kind.yml
Due: none

Revert "Bug 1567912 - Add signing tasks for AABs (#3193)"
  taskcluster/android_taskgraph/transforms/signing_apk.py
  taskcluster/android_taskgraph/transforms/upstream_artifacts.py
  taskcluster/ci/signing-apk/kind.yml
  taskcluster/ci/signing-bundle/kind.yml
Due: none

Bug 1840338 - Add review quality info card to review product analysis.
  fenix/app/src/main/java/org/mozilla/fenix/compose/ClickableSubstringLink.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/res/values/static_strings.xml
Due: lint-fenix

Bug 1848191 - Add experimenter UI integration testing framework
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/Pipfile
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/Pipfile.lock
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/SurveyExperimentIntegrationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/__init__.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/conftest.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/gradlewbuild.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/launchSimScript.sh
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/pytest.ini
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/test_integration.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAboutRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuExperimentsRobot.kt
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
  fenix/automation/taskcluster/androidTest/flank-x86.yml
Due: lint-fenix

Bug 1842251 - Refactor HistoryController delete functions to lib-state.
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragmentStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/PendingDeletionHistory.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistoryStorageMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistoryTelemetryMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/bindings/PendingDeletionBinding.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistoryStorageMiddlewareTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistoryTelemetryMiddlewareTest.kt
Due: lint-fenix

Bug 1847282 - Change the default for pull-to-refresh to disabled
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: lint-fenix

Update GeckoView (Release) to 116.0.20230811183303.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1567912 - Add signing tasks for AABs
  taskcluster/android_taskgraph/routes.py
  taskcluster/android_taskgraph/transforms/signing_android_app.py
  taskcluster/android_taskgraph/transforms/upstream_artifacts.py
  taskcluster/ci/signing-apk/kind.yml
  taskcluster/ci/signing-bundle/kind.yml
Due: none

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-rm/strings.xml
  android-components/components/feature/addons/src/main/res/values-tg/strings.xml
  android-components/components/lib/crash/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-hr/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-rm/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 118.0.20230811213712.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 118.0.20230812111307.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components
