Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1868993 - Addons local file installation's cacheDir is not cleaned.
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonFilePicker.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonFilePickerTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1854641 - The downloads should stop when the user closes the private tabs.
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/AbstractFetchDownloadServiceTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 122.20231212050319.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1869534: Use VerticalSwipeRefreshLayout from AndroidComponents
  android-components/samples/browser/src/main/res/layout/fragment_browser.xml
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1869567 - Ignore intermittent shopping analysis status tests
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: detekt-fenix, lint-fenix

Bug 1869568 - Use new large test file in downloads related UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: detekt-fenix, lint-fenix

Bug 1866799 - Don't crash on FxA `NoExistingAuthFlow` exceptions
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/Exceptions.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1868940 - Cannot install an add-on a from local file on Android <10.
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/SettingsFragmentTest.kt
Due: detekt-fenix, lint-fenix

Bug 1866128 - Add new debug fab icon
  fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/DebugOverlay.kt
  fenix/app/src/main/res/drawable/ic_debug_transparent_fire_24.xml
Due: detekt-fenix, lint-fenix

Bug 1850833 - New telemetry for menu non-operation exits
  android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/BrowserMenu.kt
  android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/facts/BrowserMenuFacts.kt
  android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/view/MenuButton.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/display/DisplayToolbarTest.kt
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/Event.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsHelperService.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MetricsHelperServiceTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1858789 - vastly more efficient counting of bookmarks for the home activity.
  android-components/components/browser/storage-sync/src/main/java/mozilla/components/browser/storage/sync/PlacesBookmarksStorage.kt
  android-components/components/concept/storage/src/main/java/mozilla/components/concept/storage/BookmarksStorage.kt
  android-components/components/concept/storage/src/test/java/mozilla/components/concept/storage/BookmarkNodeTest.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/BookmarksStorageSuggestionProviderTest.kt
  docs/changelog.md
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkItemMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/DesktopFolders.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-gl/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/addons/src/main/res/values-si/strings.xml
  android-components/components/feature/prompts/src/main/res/values-gl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update Glean to 56.0.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 122.0.20231213004326.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 122.20231213050241.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1866113 - Add determinate analysis progress ui for review checker
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/NoAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProgressIndicator.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckInfoCard.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ProductAnalysisTestData.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStateTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: detekt-fenix, lint-fenix

Bug 1807289 - Enable verifyDownloadInACustomTabTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CustomTabsTest.kt
Due: detekt-fenix, lint-fenix

Bug 1813521 - Disable failing pauseResumeCancelDownloadTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: detekt-fenix, lint-fenix

Bug 1869752 - New restartDownloadFromSystemNotificationAfterConnectionIsInterruptedTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 122.0.20231213092726.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1858948 - Add shopping NotAvailable product state and UI
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/EnumMapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNetworkMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckService.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysisError.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/shopping/fake/FakeReviewQualityCheckService.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/EnumMapperTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapperTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: detekt-fenix, lint-fenix

Bug 1815395 - Re-enable audio and video permissions tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSitePermissionsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SitePermissionsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1866617 - IntentReceiverActivity should be ignored when onTaskRemoved of AbstractPrivateNotificationService
  android-components/components/feature/privatemode/src/main/java/mozilla/components/feature/privatemode/notification/AbstractPrivateNotificationService.kt
  android-components/components/feature/privatemode/src/test/java/mozilla/components/feature/privatemode/notification/AbstractPrivateNotificationServiceTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1866113 - Unchange changed string
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix
