Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1865726 - Sync up Fenix enableGlobalRules/subFrames default values with Firefox desktop.
  fenix/app/nimbus.fml.yaml
Due: detekt-fenix, lint-fenix

Bug 1857537 - [a11y] Add heading structure to Review Checker
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckCards.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckInfoCard.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckScaffold.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ext/HeadingResource.kt
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Bug 1865889 - Swap out Pixel2.arm [API 26] in robo-arm for Motorola G20
  fenix/automation/taskcluster/androidTest/flank-arm-robo-test.yml
Due: detekt-fenix, lint-fenix

Bug 1855562 - `RegionManager` now uses the cached result from its `LocationService`.
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/region/RegionManager.kt
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1855562 - Adds a cache lifetime to `MozillaLocationService`.
  android-components/components/service/location/src/main/java/mozilla/components/service/location/MozillaLocationService.kt
  android-components/components/service/location/src/test/java/mozilla/components/service/location/MozillaLocationServiceTest.kt
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1855976 - Initial Runtime Translations Support
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Engine.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/Language.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/LanguageModel.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/ModelManagementOptions.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/ModelOperation.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/OperationLevel.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationSupport.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationsRuntime.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1865329 - Fix secret debug info text theme
  fenix/app/src/main/java/org/mozilla/fenix/settings/SecretDebugSettingsFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1860844 - Add GeckoTranslateSessionDelegate to Android Components
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/translate/GeckoTranslateSessionDelegate.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/translate/GeckoTranslateSessionDelegateTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/TranslationsStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/TranslationsState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/TranslationsActionTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/DetectedLanguages.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationEngineState.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationPair.kt
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 122.0.20231121163301.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1825116 - Resolve many lint issues found on oak
  android-components/components/feature/pwa/src/main/java/mozilla/components/feature/pwa/db/ManifestDao.kt
  android-components/components/service/digitalassetlinks/src/test/java/mozilla/components/service/digitalassetlinks/api/DigitalAssetLinksApiTest.kt
  android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/FactCollectDetector.kt
  android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/NotificationManagerChecks.kt
  android-components/components/tooling/lint/src/test/java/mozilla/components/tooling/lint/FactCollectDetectorTest.kt
  android-components/plugins/dependencies/src/main/java/ExtraRepositories.kt
  docs/changelog.md
  docs/rfcs/0009-remove-interactors-and-controllers.md
  docs/shared/android/writing_lint_rules.md
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/generate_smoke_tests.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/gradlewbuild.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/tests/test_generic_scenarios.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/ViewVisibilityIdlingResource.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuDeleteBrowsingDataOnQuitRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSitePermissionsExceptionsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSitePermissionsRobot.kt
  fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/ContextCompatDetectorTest.kt
  fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/LicenseDetectorTest.kt
  focus-android/service-telemetry/src/main/java/org/mozilla/telemetry/measurement/TimezoneOffsetMeasurement.java
  taskcluster/ci/browsertime/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/test-apk/kind.yml
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/ui-test-apk/kind.yml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

support for handling custom tab intent extra headers properly inside focus app
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabSessionState.kt
  android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/CustomTabsUseCases.kt
  focus-android/app/src/main/java/org/mozilla/focus/session/IntentProcessor.kt
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

fix import
  focus-android/app/src/main/java/org/mozilla/focus/session/IntentProcessor.kt
Due: compare-locales-focus, detekt-focus, ktlint-focus, lint-focus

note extra headers intent key handling in the changelog before pull request
  docs/changelog.md
Due: none

Update GeckoView (Nightly) to 122.0.20231121183118.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1865904 - Add correct default elevation to FAB
  fenix/app/src/main/java/org/mozilla/fenix/compose/button/FloatingActionButton.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ug/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fr/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1865941 - Adds secret setting to enable Felt Privacy related features
  fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/static_strings.xml
  fenix/app/src/main/res/xml/secret_settings_preferences.xml
Due: detekt-fenix, lint-fenix

Bug 1803465 - Replace INVERT() with comments.
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/WebURLFinderTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 122.20231122050238.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1865452 - Remove review checker crossfade
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
Due: detekt-fenix, lint-fenix

Bug 1865318 - Fix review checker store tests
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 122.0.20231122095244.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1865422 - Update review checker powered by url
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddleware.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Beta) to 121.0.20231122091904.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1866060 - Add foreground permissions for feature-media
  android-components/components/feature/media/README.md
  android-components/components/feature/media/src/main/AndroidManifest.xml
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1866062 - New high priority Firefox suggest UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/FirefoxSuggestTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1803465 - Update changelog
  docs/changelog.md
Due: none

Bug 1864549 - Fix for IllegalStateException in full screen notification dialog
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/FullScreenNotificationDialog.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1825116 - Resolve many lint issues found on oak (#4551)
  android-components/components/feature/pwa/src/main/java/mozilla/components/feature/pwa/db/ManifestDao.kt
  android-components/components/service/digitalassetlinks/src/test/java/mozilla/components/service/digitalassetlinks/api/DigitalAssetLinksApiTest.kt
  android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/FactCollectDetector.kt
  android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/NotificationManagerChecks.kt
  android-components/components/tooling/lint/src/test/java/mozilla/components/tooling/lint/FactCollectDetectorTest.kt
  android-components/plugins/dependencies/src/main/java/ExtraRepositories.kt
  docs/changelog.md
  docs/rfcs/0009-remove-interactors-and-controllers.md
  docs/shared/android/writing_lint_rules.md
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/generate_smoke_tests.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/gradlewbuild.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/tests/test_generic_scenarios.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/ViewVisibilityIdlingResource.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuDeleteBrowsingDataOnQuitRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSitePermissionsExceptionsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSitePermissionsRobot.kt
  fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/ContextCompatDetectorTest.kt
  fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/LicenseDetectorTest.kt
  focus-android/service-telemetry/src/main/java/org/mozilla/telemetry/measurement/TimezoneOffsetMeasurement.java
  taskcluster/ci/browsertime/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/test-apk/kind.yml
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/ui-test-apk/kind.yml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix
