Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1872704 - Fix home activity leak by ExtensionsProcessDisabledController
  android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/ExtensionsProcessDisabledPromptObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/ExtensionsProcessDisabledBackgroundController.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/ExtensionsProcessDisabledForegroundController.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/ExtensionsProcessDisabledBackgroundControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/ExtensionsProcessDisabledForegroundControllerTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1874885 - Fix reset to default locale when a test crashes
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/AppAndSystemHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeNavigationToolbarTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsGeneralTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
Due: detekt-fenix, lint-fenix

Bug 1874768 - Hide default browser onboarding card if user already set us as default browser
  fenix/app/onboarding.fml.yaml
  fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageUiData.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingScreen.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingPageUiDataTest.kt
Due: detekt-fenix, lint-fenix

Bug 1875111 - Remove stateAlwaysHidden from manifest for MainActivity.
  focus-android/app/src/main/AndroidManifest.xml
Due: compare-locales-focus, detekt-focus, ktlint-focus, lint-focus

Bug 1866133 - Add additional headers for Google search
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/request/RequestInterceptor.kt
  fenix/app/src/main/java/org/mozilla/fenix/AppRequestInterceptor.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Services.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/UrlRequestInterceptor.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogController.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/UrlRequestInterceptorTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogControllerTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 123.0.20240118095536.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1861616 - Prevent Custom Tabs from stopping background media
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: detekt-fenix, lint-fenix

Update A-S to 123.20240118050325.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1870231 - Remove no-ops from ExternalAppBrowserActivity
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserActivity.kt
  fenix/app/src/test/java/org/mozilla/fenix/customtabs/ExternalAppBrowserActivityTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/account/AuthCustomTabActivityTest.kt
Due: detekt-fenix, lint-fenix

Update kind.yml removing conditioned profiles
  taskcluster/ci/browsertime/kind.yml
Due: none

Bug 1875187 - Avoid race condition setting mode before opening a tab
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/intent/ReEngagementIntentProcessor.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/recentlyclosed/RecentlyClosedFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/intent/ReEngagementIntentProcessorTest.kt
Due: detekt-fenix, lint-fenix

Revert "Bug 1861459 - Remove BrowsingModeManager"
  fenix/app/src/androidTest/java/org/mozilla/fenix/perf/StartupExcessiveResourceUseTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/BrowsingModeBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/browsingmode/BrowsingModeManager.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/bindings/BrowserStoreBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/home/TabsTrayReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/home/ToolbarReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/home/WallpapersReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/TabCounterView.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkController.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  fenix/app/src/test/java/org/mozilla/fenix/browser/browsingmode/DefaultBrowsingModeManagerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/browser/browsingmode/SimpleBrowsingModeManager.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/customtabs/ExternalAppBrowserActivityTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/TabCounterViewTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/TabsTrayReducerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/ToolbarReducerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/WallpapersReducerTest.kt
Due: detekt-fenix, lint-fenix

Revert "Bug 1861459 - Remove Home Screen usages of BrowsingModeManager"
  fenix/app/src/main/java/org/mozilla/fenix/BrowsingModeBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/BrowsingModePersistenceMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/browsingmode/BrowsingModeManager.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/AppStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/PrivateBrowsingButtonView.kt
  fenix/app/src/test/java/org/mozilla/fenix/BrowsingModeBindingTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/BrowsingModePersistenceMiddlewareTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/HomeActivityTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/PrivateBrowsingButtonViewTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/intent/HomeDeepLinkIntentProcessorTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/downloads/DownloadControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: detekt-fenix, lint-fenix

Revert "Bug 1861459 - Add a binding from BrowserStore to AppStore for selected tab changes"
  fenix/app/src/main/java/org/mozilla/fenix/bindings/BrowserStoreBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppState.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  fenix/app/src/test/java/org/mozilla/fenix/bindings/BrowserStoreBindingTest.kt
Due: detekt-fenix, lint-fenix

Bug 1867539 - reformat testrail scripts with black
  fenix/automation/taskcluster/androidTest/lib/testrail_conn.py
  fenix/automation/taskcluster/androidTest/testrail.py
  focus-android/automation/taskcluster/androidTest/lib/testrail_conn.py
  focus-android/automation/taskcluster/androidTest/testrail.py
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Update GeckoView (Release) to 122.0.20240118164516.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875360 - Update archived "Good First Issue" search with Bugzilla search in Fenix README.md
  fenix/README.md
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/compose/awesomebar/src/main/res/values-azb/strings.xml
  android-components/components/compose/browser-toolbar/src/main/res/values-azb/strings.xml
  android-components/components/compose/cfr/src/main/res/values-azb/strings.xml
  android-components/components/compose/tabstray/src/main/res/values-azb/strings.xml
  android-components/components/feature/addons/src/main/res/values-azb/strings.xml
  android-components/components/feature/addons/src/main/res/values-ca/strings.xml
  android-components/components/feature/media/src/main/res/values-ca/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-ca/strings.xml
  focus-android/app/src/main/res/values-co/strings.xml
  focus-android/app/src/main/res/values-cy/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-es-rAR/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-fur/strings.xml
  focus-android/app/src/main/res/values-fy-rNL/strings.xml
  focus-android/app/src/main/res/values-is/strings.xml
  focus-android/app/src/main/res/values-iw/strings.xml
  focus-android/app/src/main/res/values-kk/strings.xml
  focus-android/app/src/main/res/values-nl/strings.xml
  focus-android/app/src/main/res/values-pa-rIN/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1875360 - Update archived "Good First Issue" search with Bugzilla search in Fenix README.md (#5209)
  fenix/README.md
Due: detekt-fenix, lint-fenix

Bug 1875225 - Part 1. Support <InputEncoding> element in search plugin.
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/search/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineWriter.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/ext/SearchEngineKtTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineReaderTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineWriterTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875225 - Part 2. Use valid InputEnconding element for Rakuten and Yahoo! Japan Auctions.
  android-components/components/feature/search/src/main/assets/searchplugins/rakuten.xml
  android-components/components/feature/search/src/main/assets/searchplugins/yahoo-jp-auctions.xml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 123.0.20240118213414.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 123.20240119050311.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components
