Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Update GeckoView (Nightly) to 112.0.20230221212648.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-en-rCA/strings.xml
  android-components/components/feature/addons/src/main/res/values-su/strings.xml
  android-components/components/feature/addons/src/main/res/values-th/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  android-components/components/feature/app-links/src/main/res/values-su/strings.xml
  fenix/app/src/main/res/values-su/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-su/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1816906 - Remove filter-incomplete-translations and clean up obsolete localization files
  .gitignore
  android-components/l10n-uplift.py
  fenix/automation/taskcluster/l10n/filter-release-translations.py
  fenix/automation/taskcluster/l10n/locales.py
  fenix/l10n-release.toml
  fenix/l10n-uplift.py
  focus-android/.android2po
  focus-android/.gitignore
  focus-android/docs/Localization.md
  focus-android/tools/l10n/filter-release-translations.py
  taskcluster/android_taskgraph/transforms/build_apk.py
  taskcluster/ci/build-apk/kind.yml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1816879 - Move credit cards autofill related UI tests to a new class
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
Due: lint-fenix

Bug 1816879 - Part 1: New credit card autofill related UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: lint-fenix

Bug 1818058 - Enable TCP by default for all releases
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/nimbus.fml.yaml
Due: lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230222094403.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1818251 - Rename Fenix Dependencies.kt to FenixDependencies.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
  taskcluster/ci/external-gradle-dependencies/kind.yml
Due: lint-fenix

Bug 1815185 - Remove fixed height from `RecentSyncedTab`
  fenix/app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
Due: lint-fenix

Bug 1813753 - Skip the half-expanded state when collapsing the Tabs Tray
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabSheetBehaviorManager.kt
Due: lint-fenix

Bug 1816433 - Reduce maybeFetchExperiments interval when using the preview collection
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
Due: lint-fenix

Bug 1815609 - changes to Acehnese locale name
  focus-android/app/src/main/java/org/mozilla/focus/locale/screen/LocaleDescriptor.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1817522 – Add dark theme support for seach button background
  fenix/app/src/main/res/layout/search_selector.xml
Due: lint-fenix

Bug 1816754 - Remove A-C Glean Gradle plugin wrapper
  android-components/.buildconfig.yml
  android-components/CODEOWNERS
  android-components/components/tooling/glean-gradle-plugin/README.md
  android-components/components/tooling/glean-gradle-plugin/build.gradle
  android-components/components/tooling/glean-gradle-plugin/src/main/java/mozilla/components/tooling/glean-gradle-plugin/GleanGradlePlugin.kt
  android-components/components/tooling/glean-gradle-plugin/src/main/resources/META-INF/gradle-plugins/mozilla.components.tooling.glean-gradle-plugin.properties
  android-components/publish.gradle
  docs/changelog.md
  taskcluster/ci/config.yml
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815939 - Clean up AC autopublish code in Fenix and Focus
  fenix/README.md
  fenix/app/build.gradle
  fenix/settings.gradle
  focus-android/README.md
  focus-android/app/build.gradle
  focus-android/settings.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ro/strings.xml
  android-components/components/feature/addons/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  android-components/components/feature/addons/src/main/res/values-hy-rAM/strings.xml
  android-components/components/feature/addons/src/main/res/values-nl/strings.xml
  android-components/components/feature/addons/src/main/res/values-oc/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/app-links/src/main/res/values-el/strings.xml
  android-components/components/feature/app-links/src/main/res/values-hy-rAM/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-hy-rAM/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  focus-android/app/src/main/res/values-cak/strings.xml
  focus-android/app/src/main/res/values-ixl/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1818059 - Update to application services version 97.0.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
  fenix/app/src/test/java/org/mozilla/fenix/experiments/NimbusSetupKtTest.kt
  focus-android/app/src/main/java/org/mozilla/focus/experiments/NimbusSetup.kt
  focus-android/app/src/test/java/org/mozilla/focus/experiments/NimbusSetupTest.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 112.0.20230222214030.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1816516 – improve menu positioning tests
  android-components/components/browser/menu2/src/main/java/mozilla/components/browser/menu2/BrowserMenuController.kt
  android-components/components/browser/menu2/src/main/java/mozilla/components/browser/menu2/ext/BrowserMenuPositioning.kt
  android-components/components/browser/menu2/src/main/java/mozilla/components/browser/menu2/ext/PopupWindow.kt
  android-components/components/browser/menu2/src/test/java/mozilla/components/browser/menu2/BrowserMenuControllerTest.kt
  android-components/components/browser/menu2/src/test/java/mozilla/components/browser/menu2/ext/BrowserMenuPositioningTest.kt
  android-components/components/browser/menu2/src/test/java/mozilla/components/browser/menu2/ext/PopupWindowTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1812447 - Search Logins by Username
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/LoginsFragmentStore.kt
Due: lint-fenix

Bug 1811175 - Implement fallback protocol for sponsored tiles
  android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Response.kt
  android-components/components/service/contile/src/main/java/mozilla/components/service/contile/ContileTopSitesProvider.kt
  android-components/components/service/contile/src/test/java/mozilla/components/service/contile/ContileTopSitesProviderTest.kt
  docs/changelog.md
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 112.0.20230223094032.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1816724 - Show previous ETP message in onboarding if TCP is not enabled
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/OnboardingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingTrackingProtectionViewHolder.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingTrackingProtectionViewHolderTest.kt
Due: lint-fenix

Bug 1817245 - new Nimbus feature for controlling client-deduplication ping
  fenix/.experimenter.yaml
  fenix/nimbus.fml.yaml
Due: lint-fenix

Bug 1817029 - Add the client-deduplication ping
  fenix/app/metrics.yaml
  fenix/app/pings.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
Due: lint-fenix

Bug 1817029 - Suggested changes
  fenix/app/metrics.yaml
  fenix/app/pings.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/ActivationPing.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
Due: lint-fenix

Bug 1817029 - remove unnecessary pass-through function
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
Due: lint-fenix
