Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1567912 - resolve optimization / tasks-for
  taskcluster/android_taskgraph/transforms/build_aab.py
Due: none

Bug 1567912 - fixup optimization fix
  taskcluster/android_taskgraph/transforms/build_aab.py
Due: none

Bug 1837524 - Contile Top Sites impression probe in Compose Top Sites
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: lint-fenix

Bug 1567912 - comment update
  taskcluster/android_taskgraph/transforms/build_aab.py
Due: none

Bug 1843244 – fixed notch background color
  fenix/app/src/main/res/values-night-v27/styles.xml
  fenix/app/src/main/res/values-v23/styles.xml
  fenix/app/src/main/res/values-v24/styles.xml
  fenix/app/src/main/res/values-v27/styles.xml
Due: lint-fenix

Update GeckoView (Beta) to 117.0.20230801180159.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1842249 - Refactor HistoryFragment sync handlers to lib-state
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistorySyncMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistorySyncMiddlewareTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 118.0.20230801160652.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1839158 - Ignore invalid credit card save requests
  android-components/components/concept/storage/src/main/java/mozilla/components/concept/storage/CreditCardsAddressesStorage.kt
  android-components/components/concept/storage/src/test/java/mozilla/components/concept/storage/CreditCardEntryTest.kt
  android-components/components/service/sync-autofill/src/main/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegate.kt
  android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-eo/strings.xml
  android-components/components/feature/prompts/src/main/res/values-eo/strings.xml
  fenix/app/src/main/res/values-eo/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Update A-S to 118.20230802050330.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1846480 - Add adjusted rating card for review quality check
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/res/values/static_strings.xml
Due: lint-fenix

Bug 1833120 - Programmatically switch toolbar position for verifySearchBookmarksViewTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
Due: lint-fenix

Bug 1841587 - Fix suggestions timing in verifySearchForBookmarkedItemsTest & verifySearchForHistoryItemsTest
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
Due: lint-fenix

Bug 1845820 - Add the `WebExtensionInstallException.Blocklisted` class
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtensionException.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoWebExtensionExceptionTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 118.0.20230802094513.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1845255 - Add loading UI for review quality check
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductReviewLoading.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
Due: buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1845823 - Display a better error message when a user installs a blocklisted add-on
  android-components/components/feature/addons/src/main/res/values/strings.xml
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/AddonsManagementFragmentTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1846773 - Set adjust preinstall file path in system properties
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
Due: lint-fenix

Bug 1567912 - cleanup and formatting, ready for review
  taskcluster/android_taskgraph/transforms/build_aab.py
  taskcluster/ci/build-bundle/kind.yml
Due: none

Bug 1817926 - Sets a min height on the browser window to prevent it from completely collapsing
  fenix/app/src/main/res/layout/fragment_browser.xml
Due: lint-fenix

Bug 1843859 - Address NullPointerException in CrashHandlerService.onStartCommand
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/handler/CrashHandlerService.kt
  android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/handler/CrashHandlerServiceTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1806469 - Adds an exception to `ThreadPenaltyDeath`
  fenix/app/src/main/java/org/mozilla/fenix/perf/ThreadPenaltyDeathWithIgnoresListener.kt
  fenix/app/src/test/java/org/mozilla/fenix/perf/ThreadPenaltyDeathWithIgnoresListenerTest.kt
  fenix/app/src/test/resources/IdsControllerLogcat.txt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1841574 – changed menu item checkbox gravity from center horizontal to end
  android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu_item_image_text_checkbox_button.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 118.0.20230802220030.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components
