Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1822106 - Move experimenter.yaml file location
  android-components/components/lib/crash/docs/metrics.md
  android-components/components/support/sync-telemetry/docs/metrics.md
  fenix/app/.experimenter.yaml
  focus-android/app/.experimenter.yaml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1821715 - Update OnboardingPageState to include button actions
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/NotificationPermissionDialogScreen.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/UpgradeOnboarding.kt
Due: lint-fenix

Update GeckoView (Beta) to 112.0.20230313211718.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1814032 - Retry attempts for address autofill in UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: lint-fenix

Bug 1819012 - Update browser toolbar behavior only if view is created.
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1820967 - Use `id` instead of `flight_id` to identify a sponsored story
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/ext/Mappers.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/ApiSpoc.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsJSONParser.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/ext/MappersKtTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/helpers/PocketTestResources.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/db/SpocsDaoTest.kt
  docs/changelog.md
  fenix/app/metrics.yaml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1807324 - Add macrobenchmarks for startup metrics
  fenix/.buildconfig.yml
  fenix/app/build.gradle
  fenix/app/src/main/AndroidManifest.xml
  fenix/app/src/main/java/org/mozilla/fenix/Config.kt
  fenix/benchmark/build.gradle
  fenix/benchmark/src/main/AndroidManifest.xml
  fenix/benchmark/src/main/java/org/mozilla/fenix/benchmark/StartupBenchmark.kt
  fenix/benchmark/src/main/java/org/mozilla/fenix/benchmark/utils/Constants.kt
  fenix/benchmark/src/main/java/org/mozilla/fenix/benchmark/utils/MacroBenchmarkRule.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
  fenix/settings.gradle
Due: buildconfig-fenix, lint-fenix

Bug 1814994 - Create Tabs Tray list and grid layouts
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
Due: lint-fenix

Bug 1803130 - Remove leftover .git-blame-ignore-revs file
  fenix/.git-blame-ignore-revs
Due: lint-fenix

Bug 1822375 - Remove unneeded and now incorrect AndroidComponents.kt
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: lint-fenix

Bug 1819153 - Add androidx tracing dependency to resolve NoSuchMethodError
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1822392 - Remove stray GMS reference for annotation
  fenix/app/src/main/java/org/mozilla/fenix/widget/VoiceSearchActivity.kt
Due: lint-fenix

Bug 1822378 - Refactor OnboardingInteractor into its own file
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingFinishViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingPrivacyNoticeViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/interactor/OnboardingInteractor.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingFinishViewHolderTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingPrivacyNoticeViewHolderTest.kt
Due: lint-fenix

Bug 1807268 - Disable toggleSearchBookmarksAndHistoryTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
Due: lint-fenix

Bug 1820897 - Disable the private theme from being used in the Composified Tabs Tray
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
Due: lint-fenix

Update GeckoView (Nightly) to 113.0.20230314161405.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/contextmenu/src/main/res/values-cak/strings.xml
  android-components/components/support/ktx/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-sc/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  focus-android/app/src/main/res/values-da/strings.xml
  focus-android/app/src/main/res/values-mix/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Beta) to 112.0.20230314181505.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1822050 - Verify HTTPS summary updates in UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHTTPSOnlyModeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Due: lint-fenix

Bug 1822050 - Verify cookie banner reduction summary updates in UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CookieBannerReductionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuCookieBannerReductionRobot.kt
Due: lint-fenix

Bug 1822267 - Improve coverage for "Edit bookmarks" related UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ThreeDotMenuMainTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix

Bug 1821016 - Disable openPocketStoryItemTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
Due: lint-fenix

Bug 1807268 - Disable verifySponsoredShortcutsSettingsOptionTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SponsoredShortcutsTest.kt
Due: lint-fenix
