Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1848188 - Remove Nimbus flag for Juno Onboarding
  fenix/app/.experimenter.yaml
  fenix/app/onboarding.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-lij/strings.xml
  android-components/components/feature/addons/src/main/res/values-am/strings.xml
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 119.0.20230921212056.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

comment out unused code
  fenix/automation/taskcluster/androidTest/testrail.py
Due: lint-fenix

Update A-S to 119.20230922050411.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

check env and python version
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

export TEST_STATUS
  fenix/automation/taskcluster/androidTest/ui-test.sh
Due: lint-fenix

check TEST_STATUS
  fenix/automation/taskcluster/androidTest/testrail.py
Due: lint-fenix

remove debug commands
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

source ui-test to get env var
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

empty commit to reset pr checks
  fenix/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/ui-test-apk/kind.yml
Due: lint-fenix

Bug 1837526 - Call StartupTimeline in the Compose Top Sites
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSitesViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/perf/StartupReportFullyDrawn.kt
  fenix/app/src/main/java/org/mozilla/fenix/perf/StartupTimeline.kt
Due: lint-fenix

source ui-test script to get env var
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

fix source call
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Bug 1854354 - Bookmarks TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeBookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobot.kt
Due: lint-fenix

Bug 1854566 - Disable verifyCreditCardRedirectionsToAutofillSectionAfterInterruptionTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
Due: lint-fenix

Bug 1854570 - Restore Pixel 3 for legacy and robo UI tests
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  fenix/automation/taskcluster/androidTest/flank-arm-robo-test.yml
Due: lint-fenix

push test status to .env file
  fenix/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/ui-test-apk/kind.yml
Due: lint-fenix

fix ls command
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Bug 1853113 - Monitor Search Widget presence based on activation
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/java/org/mozilla/gecko/search/SearchWidgetProvider.kt
Due: lint-fenix

load test status with dotenv
  fenix/automation/taskcluster/androidTest/testrail.py
  taskcluster/docker/base/Dockerfile
Due: lint-fenix

add path debugging
  fenix/automation/taskcluster/androidTest/testrail.py
  fenix/automation/taskcluster/androidTest/ui-test.sh
Due: lint-fenix

move pip install dotenv to ui-tests
  taskcluster/docker/ui-tests/Dockerfile
Due: none

Update GeckoView (Nightly) to 119.0.20230922092201.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1842203: Implement of the final UX of FedCM Provider and Account dialogs in Compose
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegate.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/prompt/PromptRequest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/identitycredential/Provider.kt
  android-components/components/feature/prompts/build.gradle
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/BasicAccountsAdapter.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/BasicProvidersAdapter.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/IdentityCredentialItem.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectAccountDialog.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectAccountDialogFragment.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectProviderDialog.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectProviderDialogFragment.kt
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_prompts_choose_identity_account_dialog.xml
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_prompts_choose_identity_provider_dialogs.xml
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_prompts_identity_crendential_account_item.xml
  android-components/components/feature/prompts/src/main/res/layout/mozac_feature_prompts_identity_crendential_provider_item.xml
  android-components/components/feature/prompts/src/main/res/values/strings.xml
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

remove dotenv install and move to ui-tests
  taskcluster/docker/base/Dockerfile
Due: none

remove TEST_STATUS env var
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

add more debugging
  fenix/automation/taskcluster/androidTest/testrail.py
Due: lint-fenix

Bug 1811976 - Hide Sync FAB in TabsTray when user not signed in
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/FloatingActionButtonBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFab.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/FloatingActionButtonBindingTest.kt
Due: lint-fenix

Bug 1854662 - Remove unused addons string mozac_feature_addons_user_rating_count
  android-components/components/feature/addons/src/main/res/values-az/strings.xml
  android-components/components/feature/addons/src/main/res/values-ga-rIE/strings.xml
  android-components/components/feature/addons/src/main/res/values-kn/strings.xml
  android-components/components/feature/addons/src/main/res/values-lij/strings.xml
  android-components/components/feature/addons/src/main/res/values-ml/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1854662 - Remove unused prompt strings mozac_feature_prompt_logins_save_message mozac_feature_prompts_select_address
  android-components/components/feature/prompts/src/main/res/values-ast/strings.xml
  android-components/components/feature/prompts/src/main/res/values-bg/strings.xml
  android-components/components/feature/prompts/src/main/res/values-cak/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es-rMX/strings.xml
  android-components/components/feature/prompts/src/main/res/values-et/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ga-rIE/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pa-rPK/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sq/strings.xml
  android-components/components/feature/prompts/src/main/res/values-uz/strings.xml
  android-components/components/feature/prompts/src/main/res/values-vec/strings.xml
  android-components/components/feature/prompts/src/main/res/values-yo/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components
