Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1839810 - New downloads related UI tests
  fenix/app/src/androidTest/assets/pages/generic3.html
  fenix/app/src/androidTest/assets/resources/pdfForm.pdf
  fenix/app/src/androidTest/assets/resources/washington.pdf
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/Constants.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsDeleteBrowsingDataOnQuitTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TextSelectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/DownloadRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/NotificationRobot.kt
Due: lint-fenix

Bug 1840816 - New open link in external app context menu UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
Due: lint-fenix

Bug 1837417 - Remember synced tabs collapsed/expanded state in composed tabs tray
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
Due: lint-fenix

Bug 1826513 - Expose FTL JUnit results in live log
  fenix/automation/taskcluster/androidTest/parse-ui-test-fromfile.py
  fenix/automation/taskcluster/androidTest/ui-test.sh
  focus-android/automation/taskcluster/androidTest/parse-ui-test-fromfile.py
  focus-android/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/docker/ui-tests/Dockerfile
Due: compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1838935 - Inactive tabs not selectable in multi-select mode
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 116.0.20230628091831.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840676 - Update Robolectric to version 4.10.3
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840341 - Add memory telemetry for experiment
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/test/java/org/mozilla/fenix/FenixApplicationTest.kt
Due: lint-fenix

Bug 1837437 - update compose tabs tray size depending on orientation
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
Due: lint-fenix

Bug 1840791 - Remove unused GleanTestRule.
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabLayoutObserverTest.kt
Due: lint-fenix

Bug 1840061 - Adds PDF viewer - Open in app button UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PDFViewerTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix

Bug 1837504 - Display undo snackbar when compose top site is removed
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/HomeFragmentTest.kt
Due: lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1836780 - Add UI For Printing Page Content
  docs/changelog.md
  fenix/app/metrics.yaml
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/PrintItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/ShareController.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/ShareFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/ShareInteractor.kt
  fenix/app/src/main/res/drawable/ic_print.xml
  fenix/app/src/main/res/layout/fragment_share.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarMenuControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/share/ShareControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/share/ShareInteractorTest.kt
Due: lint-fenix

Bug 1840677 - Update Sentry to version 6.24.0
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840382 - Add experimentation flag to enable passing a channel ID to use for search
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/middleware/SearchMiddleware.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/BundledSearchEnginesStorage.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/BundledSearchEnginesStorageTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/ParseSearchPluginsTest.kt
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1837446 - Fix tabs tray pager rotation bug #2640
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
Due: lint-fenix

Bug 1836360 - Add a dialog for handling FedCM showPolicyPrompt.
  android-components/.buildconfig.yml
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegate.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegateTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/prompt/PromptRequest.kt
  android-components/components/feature/prompts/build.gradle
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptContainer.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/PromptDialogFragment.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/PrivacyPolicyDialogFragment.kt
  android-components/components/feature/prompts/src/main/res/values/strings.xml
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/PromptContainerTest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/PromptFeatureTest.kt
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonPopupBaseFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-si/strings.xml
  android-components/components/browser/menu/src/main/res/values-gl/strings.xml
  android-components/components/browser/menu/src/main/res/values-kk/strings.xml
  android-components/components/browser/menu/src/main/res/values-lo/strings.xml
  android-components/components/browser/menu/src/main/res/values-si/strings.xml
  android-components/components/browser/menu/src/main/res/values-sr/strings.xml
  android-components/components/browser/menu/src/main/res/values-vi/strings.xml
  android-components/components/feature/downloads/src/main/res/values-si/strings.xml
  android-components/components/feature/media/src/main/res/values-si/strings.xml
  android-components/components/feature/prompts/src/main/res/values-gl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-iw/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 116.0.20230628215308.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840308 – added condition to finish first time splash screen faster if the marekting and experiment data is fetched first
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/NimbusBuilder.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update A-S to 116.20230629050331.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Status check flaky closePrivateTabTest UI test
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: lint-fenix

Update GeckoView (Nightly) to 116.0.20230629085424.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1841032 - Cannot un-focus the keyboard once selected in the OG onboarding without pressing back.
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: lint-fenix
