Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1822601 - Refactor toolbar related logic into a ToolbarView
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/ToolbarView.kt
Due: lint-fenix

Bug 1815951 - Increase the size of buttons in Edit login
  fenix/app/src/main/res/layout/fragment_edit_login.xml
Due: lint-fenix

Bug 1815951 - Increase the size of text fields in Edit login
  fenix/app/src/main/res/layout/fragment_edit_login.xml
Due: lint-fenix

Bug 1812736 - Display snackbar when a new tab is added to a collection
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: lint-fenix

Bug 1802627 - Correctly place microphone in the 2x1 search widget of Focus
  android-components/components/feature/search/src/main/res/layout/mozac_search_widget_small.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815011 - Create a top-level FAB Composable
  fenix/app/src/main/java/org/mozilla/fenix/compose/button/FloatingActionButton.kt
Due: lint-fenix

Update GeckoView (Nightly) to 113.0.20230317093727.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1823059 - Replace deprecated ktlint_disabled_rules.
  focus-android/.editorconfig
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1822283 - Fix race condition for Ad IDs
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-bg/strings.xml
  android-components/components/feature/addons/src/main/res/values-bg/strings.xml
  android-components/components/feature/app-links/src/main/res/values-bg/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-bg/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-et/strings.xml
  android-components/components/feature/prompts/src/main/res/values-bg/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-bg/strings.xml
  android-components/components/lib/crash/src/main/res/values-bg/strings.xml
  android-components/components/support/ktx/src/main/res/values-bg/strings.xml
  android-components/components/support/ktx/src/main/res/values-et/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-bg/strings.xml
  fenix/app/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-et/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-bg/strings.xml
  focus-android/app/src/main/res/values-ppl/strings.xml
  focus-android/app/src/main/res/values-tt/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230317210204.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/engine-system/src/main/res/values-ppl/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ppl/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-kaa/strings.xml
  focus-android/app/src/main/res/values-kw/strings.xml
  focus-android/app/src/main/res/values-ppl/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230318212539.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 113.0.20230319093700.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Set version to 111.1.0
  version.txt
Due: none

Update GeckoView (Beta) to 112.0.20230319180129.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815631 - changed height and reduced padding for `Active` text from the Studies menu (#919)
  fenix/app/src/main/res/layout/studies_section_item.xml
  fenix/app/src/main/res/values/integers.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Bug 1820169 - Ensure shortcuts snackbars are shown
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarMenuControllerTest.kt
Due: lint-fenix

Bug 1819914 - Call ensureMarketingChannelExists in MessageNotificationWorker
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
Due: lint-fenix

Bug 1819012 - Update browser toolbar behavior only if view is created.
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819014 - Add sw480dp and default dimensions to proper folder.
  focus-android/app/src/main/res/values-sw480dp/dimens.xml
  focus-android/app/src/main/res/values/dimens.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1819014 - Move sw600dp dimensions to proper folder.
  focus-android/app/src/main/res/values-sw600dp/configuration.xml
  focus-android/app/src/main/res/values-sw600dp/dimens.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
