Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1853299 - Part 1: Prepare rc state for reanalysis
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNetworkMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckPreferencesMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStore.kt
Due: lint-fenix

Bug 1853299 - Part 2: Update rc non error states for reanalysis
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNetworkMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ProductAnalysisTestData.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapperTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStateTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230918094102.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1795650 - Status bar and navigation bar colours should be the same, like toolbar colours.
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1850165 - The useragent_locale crash annotation should be reported the same as on desktop.
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
  android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/MozillaSocorroServiceTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1853413 - Remove references to an old naming of the shopper footer as "byline"
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysisError.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
Due: lint-fenix

Bug 1567912 - Add beetmover-bundle task
  taskcluster/android_taskgraph/manifests/apk_releases.yml
  taskcluster/android_taskgraph/transforms/beetmover_android_app.py
  taskcluster/ci/beetmover-bundle/kind.yml
Due: none

Update GeckoView (Nightly) to 119.0.20230918144226.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Set version to 118.0
  version.txt
Due: none

Switch to GeckoView Release
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1853045 - Add nimbus homescreen survey message integration test - Dismiss Survey
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/SurveyExperimentIntegrationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/test_integration.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix

Update GeckoView (Release) to 118.0.20230918143747.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1853013 - Ship 118.3.0 of feature-webcompat
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/aboutConfigPrefs.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/aboutConfigPrefs.json
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/aboutConfigPrefsChild.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/injections.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/shims.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-es/strings.xml
  android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  android-components/components/feature/addons/src/main/res/values-gl/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-rm/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update A-S to 119.20230919050304.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840090 - Update content description string for shopping experience
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckScaffold.kt
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Bug 1853299 - Part 3: Update review checker error states
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/di/ReviewQualityCheckMiddlewareProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/NetworkChecker.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNetworkMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ProductAnalysisMapperTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStateTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: lint-fenix

Bug 1853654 - Advanced settings TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAddonsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
Due: lint-fenix

Bug 1853177 - Avoid multiple crash dialogs to be created and shown
  fenix/app/src/main/java/org/mozilla/fenix/addons/ExtensionProcessDisabledController.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/ExtensionProcessDisabledControllerTest.kt
Due: lint-fenix

Bug 1840333 - Add review quality check No analysis UI
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/NoAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProgressIndicator.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/res/drawable-hdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-mdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-night-hdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-night-mdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-night-xhdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-night-xxhdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-night-xxxhdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-night/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-xhdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-xxhdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable-xxxhdpi/shopping_no_analysis.webp
  fenix/app/src/main/res/drawable/shopping_no_analysis.webp
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230919093728.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1853707 - Send Search Widget telemetry when primary button tapped
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/JunoOnboardingFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/JunoOnboardingScreen.kt
Due: lint-fenix

Bug 1851586 - UI tests: replace external apps links with workarounds
  fenix/app/src/androidTest/assets/pages/externalLinks.html
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeContextMenusTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix

Bug 1853687 - Disable test get history metadata between
  android-components/components/browser/storage-sync/src/test/java/mozilla/components/browser/storage/sync/PlacesHistoryStorageTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1853687 - Disable store can delete by range
  android-components/components/browser/storage-sync/src/test/java/mozilla/components/browser/storage/sync/PlacesHistoryStorageTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1851676 - Makes `initIfNeeded` public inside `SentryService`.
  android-components/components/lib/crash-sentry/src/main/java/mozilla/components/lib/crash/sentry/SentryService.kt
  docs/changelog.md
  fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1853045 - Add nimbus homescreen survey message integration test - Dismiss Survey (#3625)
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/SurveyExperimentIntegrationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/test_integration.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix
