Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Update GeckoView (Nightly) to 113.0.20230330214245.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1823430 - Refactor home menu button dismissal into HomeMenuView
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/HomeFragmentTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-fa/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/media/src/main/res/values-fa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-ka/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  focus-android/app/src/main/res/values-es-rCL/strings.xml
  focus-android/app/src/main/res/values-fa/strings.xml
  focus-android/app/src/main/res/values-kaa/strings.xml
  focus-android/app/src/main/res/values-skr/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1823892 - Added option to not show 'Open in Firefox' and 'POWERED BY FIREFOX' menu items in Custom tab
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarView.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/test/java/org/mozilla/fenix/customtabs/CustomTabToolbarMenuTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/customtabs/ExternalAppBrowserActivityTest.kt
Due: lint-fenix

Bug 1821430 - Update strings in the ETP settings screen part 2. Use the new strings and update the layout (#1213)
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DeepLinkTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/EnhancedTrackingProtectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuEnhancedTrackingProtectionRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/FenixSwitchPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/TrackingProtectionFragment.kt
  fenix/app/src/main/res/drawable/ic_etp_artwork.xml
  fenix/app/src/main/res/layout/preference_divider.xml
  fenix/app/src/main/res/layout/preference_no_widget.xml
  fenix/app/src/main/res/layout/preference_widget_radiobutton_with_info.xml
  fenix/app/src/main/res/layout/preference_widget_switch_fenix_style.xml
  fenix/app/src/main/res/layout/tracking_protection_learn_more_preference.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/xml/tracking_protection_preferences.xml
Due: lint-fenix

Bug 1825020 - Update the SET_AS_DEFAULT_BROWSER breadcrumb and use getGenericSumoURLForTopic for Android <= M
  fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/intent/HomeDeepLinkIntentProcessorTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 113.0.20230331095100.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1795459 - Move private browsing notification create and refresh off main thread
  android-components/components/feature/privatemode/src/main/java/mozilla/components/feature/privatemode/notification/AbstractPrivateNotificationService.kt
  android-components/components/feature/privatemode/src/test/java/mozilla/components/feature/privatemode/notification/AbstractPrivateNotificationServiceTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1825028 - Delay init of MozillaOnline build until privacy notice accepted
  fenix/app/build.gradle
  fenix/app/src/androidTest/java/org/mozilla/fenix/perf/StartupExcessiveResourceUseTest.kt
  fenix/app/src/main/AndroidManifest.xml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/MozillaOnlineHomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/mozonline/PrivacyContentDisplayActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/mozonline/PrivacyContentDisplayHelper.kt
  fenix/app/src/main/java/org/mozilla/fenix/perf/StrictModeManager.kt
  fenix/app/src/main/res/layout/activity_privacy_content_display.xml
Due: buildconfig-fenix, lint-fenix

Bug 1806454 - add comment
  taskcluster/ci/build-components/kind.yml
Due: none

Bug 1806454 - fixup and cleanup debugging
  taskcluster/android_taskgraph/transforms/mark_as_shipped.py
  taskcluster/android_taskgraph/transforms/release_started.py
  taskcluster/android_taskgraph/transforms/version_bump.py
  taskcluster/ci/mark-as-shipped/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: none

Bug 1806454 - Add 'beta' build type for components
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/android_taskgraph/release_type.py
  taskcluster/android_taskgraph/transforms/mark_as_shipped.py
  taskcluster/android_taskgraph/transforms/release_started.py
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/github-release-components/kind.yml
  taskcluster/ci/mark-as-shipped/kind.yml
  taskcluster/ci/post-beetmover/kind.yml
  taskcluster/ci/post-signing/kind.yml
  taskcluster/ci/signing/kind.yml
Due: none

Bug 1825064 - Change What's New URL to Fenix release notes
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/SupportUtilsTest.kt
Due: lint-fenix

Bug 1814993 - Add inactive tabs to the composified `TabsTray`
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/inactivetabs/InactiveTabs.kt
Due: lint-fenix

Bug 1821778 - Add card for fullscreen research surface
  fenix/app/src/main/java/org/mozilla/fenix/experiments/ResearchSurfaceDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/experiments/view/ResearchSurfaceSurvey.kt
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1804115 Catch errors thrown in the error reporter
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
Due: lint-fenix

Update GeckoView (Nightly) to 113.0.20230331215504.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 113.0.20230401094507.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-fa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ppl/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-en-rCA/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-eo/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-pl/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-fa/strings.xml
  android-components/components/support/ktx/src/main/res/values-en-rCA/strings.xml
  android-components/components/support/ktx/src/main/res/values-eo/strings.xml
  android-components/components/support/ktx/src/main/res/values-pl/strings.xml
  android-components/components/ui/widgets/src/main/res/values-en-rCA/strings.xml
  android-components/components/ui/widgets/src/main/res/values-eo/strings.xml
  android-components/components/ui/widgets/src/main/res/values-es-rMX/strings.xml
  android-components/components/ui/widgets/src/main/res/values-hu/strings.xml
  android-components/components/ui/widgets/src/main/res/values-lo/strings.xml
  android-components/components/ui/widgets/src/main/res/values-nn-rNO/strings.xml
  android-components/components/ui/widgets/src/main/res/values-pl/strings.xml
  android-components/components/ui/widgets/src/main/res/values-ru/strings.xml
  android-components/components/ui/widgets/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-en-rCA/strings.xml
  fenix/app/src/main/res/values-eo/strings.xml
  fenix/app/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-hy-rAM/strings.xml
  fenix/app/src/main/res/values-pl/strings.xml
  fenix/app/src/main/res/values-rm/strings.xml
  focus-android/app/src/main/res/values-be/strings.xml
  focus-android/app/src/main/res/values-en-rCA/strings.xml
  focus-android/app/src/main/res/values-pl/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230401210031.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
