Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1821088 - Update notify block in test-apk CI task
  taskcluster/ci/test-apk/kind.yml
Due: none

Bug 1809292 - Display decoded URL in toolbar and context menu title
  android-components/components/browser/toolbar/build.gradle
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/edit/EditToolbar.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/display/DisplayToolbarTest.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/edit/EditToolbarTest.kt
  android-components/components/feature/contextmenu/build.gradle
  android-components/components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuFeature.kt
  android-components/components/support/utils/src/main/java/mozilla/components/support/ktx/util/URLStringUtils.kt
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/URLStringUtilsTest.kt
  docs/changelog.md
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Rename tests to just account for Notification surface
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingNotificationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/HardcodedNimbusFeatures.kt
Due: lint-fenix

UI test exploration of messaging
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
Due: lint-fenix

Tests now working for all supported versions of Android
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/HardcodedNimbusFeatures.kt
Due: lint-fenix

Update tests to remove initialDelay and special casing of polling interval
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingNotificationTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
Due: lint-fenix

Bug 1817070 - Add strings used for experimentation with Re-engagement notifications
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

detekt / ktlint
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingNotificationTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
Due: lint-fenix

Bug 1812144 - Homescreen appbar drag issue fixed
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: lint-fenix

Bug 1816743 - Create Tabs Tray banner container UI
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
Due: lint-fenix

Bug 1821128 - Use correct beetmover folder prefix for fenix nightly
  taskcluster/android_taskgraph/util/scriptworker.py
Due: none

Bug 1812149 - Add ActivityContextWrapper before updating locale
  android-components/.buildconfig.yml
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/activity/GeckoViewActivityContextDelegate.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/activity/GeckoViewActivityContextDelegateTest.kt
  android-components/components/support/locale/src/main/java/mozilla/components/support/locale/ActivityContextWrapper.kt
  android-components/components/support/locale/src/main/java/mozilla/components/support/locale/LocaleAwareAppCompatActivity.kt
  android-components/components/support/locale/src/test/java/mozilla/components/support/locale/ActivityContextWrapperTest.kt
  android-components/samples/browser/build.gradle
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BaseBrowserFragment.kt
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BrowserActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update A-S to 97.2.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1817525 - Voice input now appends query in EditToolbar
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/edit/EditToolbar.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/BrowserToolbarTest.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/edit/EditToolbarTest.kt
  android-components/components/ui/autocomplete/src/main/java/mozilla/components/ui/autocomplete/InlineAutocompleteEditText.kt
  android-components/config/detekt-baseline.xml
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1820130 - Remove unused accompanist insets dependency
  fenix/app/build.gradle
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: buildconfig-fenix, lint-fenix

Bug 1821021 - Remove initial delay for MessageNotificationWorker
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
  fenix/messaging.fml.yaml
Due: lint-fenix

Bug 1817058 - add notification email when release promotion starts
  taskcluster/android_taskgraph/transforms/release_started.py
  taskcluster/ci/release-notify-started/kind.yml
Due: none

Bug 1821021 - Reverted messaging.fml.yaml
  fenix/messaging.fml.yaml
Due: lint-fenix

Bug 1821035 - Add open in app banner FeatureSettingsHelper variable and disable it by default
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelperDelegate.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
Due: lint-fenix

Bug 1821035 - Move existing text selection UI tests to a new class
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TextSelectionTest.kt
Due: lint-fenix

Bug 1821035 - New PDF text selection UI smoke tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TextSelectionTest.kt
Due: lint-fenix

Bug 1821021 - Fix for failing UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: lint-fenix

Bug 1821030 - Add telemetry for onboarding PWA dialog cancel button
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/shortcut/PwaOnboardingDialogFragment.kt
Due: lint-fenix

Bug 1817058 - add gecko changelog URL to release started notification
  taskcluster/android_taskgraph/transforms/release_started.py
Due: none

Bug 1821032 - Add telemetry for the homescreen no collections placeholder close button
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230309093044.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1818826 - Remove Android Component Nimbus gradle plugin wrapper
  android-components/.buildconfig.yml
  android-components/components/tooling/nimbus-gradle-plugin/README.md
  android-components/components/tooling/nimbus-gradle-plugin/build.gradle
  android-components/components/tooling/nimbus-gradle-plugin/src/main/groovy/mozilla/components/tooling/nimbus/NimbusGradlePlugin.groovy
  android-components/components/tooling/nimbus-gradle-plugin/src/main/resources/plugin.properties
  fenix/app/build.gradle
  fenix/app/messaging.fml.yaml
  fenix/app/nimbus.fml.yaml
  fenix/build.gradle
  focus-android/app/build.gradle
  focus-android/app/nimbus.fml.yaml
  focus-android/build.gradle
  taskcluster/ci/config.yml
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1820984 - Follow-up on loginsAndPasswordsSettingsItemsTest missing steps
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Due: lint-fenix

Bug 1818802 - Update strings in the ETP settings screen.
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix
