Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/focus-android/build/reports
      type: directory

detekt-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - detekt
    - githubLintDetektDetails
    - mozilla-detekt-rules:test
  treeherder:
    symbol: detekt(fenix)
  worker:
    artifacts:
    - name: public/reports
  ...

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

Bug 1807545 - Add new "Open in regular tab" feature.
  android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/TabsUseCases.kt
  android-components/components/feature/tabs/src/test/java/mozilla/components/feature/tabs/TabsUseCasesTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarMenu.kt
  fenix/app/src/main/res/drawable/ic_open_in_regular_tab.xml
  fenix/app/src/main/res/values/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1860186 - Dont split languages in AAB
  fenix/app/build.gradle
Due: buildconfig-fenix, detekt-fenix, lint-fenix

Bug 1863603 - Add handling of Meta attribution in percent format
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerMetricsService.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/InstallReferrerMetricsServiceTest.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ug/strings.xml
  android-components/components/feature/addons/src/main/res/values-ug/strings.xml
  android-components/components/feature/autofill/src/main/res/values-ug/strings.xml
  android-components/components/feature/findinpage/src/main/res/values-ug/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-ug/strings.xml
  android-components/components/feature/privatemode/src/main/res/values-ug/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ug/strings.xml
  android-components/components/feature/readerview/src/main/res/values-ug/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ug/strings.xml
  android-components/components/feature/webnotifications/src/main/res/values-ug/strings.xml
  android-components/components/lib/crash/src/main/res/values-ug/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-ug/strings.xml
  android-components/components/ui/widgets/src/main/res/values-ug/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-rm/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 121.0.20231107214948.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1863606 - Add smoke test generation to experiment integration test suite
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/generate_smoke_tests.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/gradlewbuild.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/variables.yaml
Due: detekt-fenix, lint-fenix

Update A-S to 121.20231108050355.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Upgrade kotlin-dsl to 4.1.0.
  android-components/plugins/config/build.gradle
  android-components/plugins/dependencies/build.gradle
  android-components/plugins/github/build.gradle
  android-components/plugins/publicsuffixlist/build.gradle
  fenix/plugins/apksize/build.gradle
  fenix/plugins/fenixdependencies/build.gradle
  focus-android/plugins/focusdependencies/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1821005 - Upgrade Gradle to 8.3 version.
  android-components/gradle/wrapper/gradle-wrapper.properties
  fenix/gradle/wrapper/gradle-wrapper.properties
  focus-android/gradle/wrapper/gradle-wrapper.properties
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1849833 - Replace deprecated extractNativeLibs manifest attribute.
  fenix/app/build.gradle
  fenix/app/src/main/AndroidManifest.xml
  focus-android/app/build.gradle
  focus-android/app/src/main/AndroidManifest.xml
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1821005 - Upgrade AGP to 8.0.2
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Replace deprecated execResult.
  android-components/components/service/glean/scripts/sdk_generator.gradle
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Replace deprecated 'toInt' method with 'code' property.
  android-components/plugins/publicsuffixlist/src/main/java/PublicSuffixListPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Replace deprecated toLowerCase with lowercase.
  fenix/plugins/apksize/src/main/java/ApkSizePlugin.kt
Due: detekt-fenix, lint-fenix

Bug 1821005 - Apply plugin: 'kotlin-android' for UI modules.
  android-components/components/ui/fonts/build.gradle
  android-components/components/ui/icons/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Enable generation of the BuildConfig class
  android-components/components/browser/engine-gecko/build.gradle
  android-components/components/concept/base/build.gradle
  android-components/components/concept/fetch/build.gradle
  android-components/components/lib/crash/build.gradle
  android-components/components/service/nimbus/build.gradle
  android-components/components/service/pocket/build.gradle
  android-components/components/support/base/build.gradle
  android-components/samples/glean/build.gradle
  android-components/samples/glean/samples-glean-library/build.gradle
  android-components/samples/sync/build.gradle
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1821005 - Add namespace to samples-glean-library module
  android-components/samples/glean/samples-glean-library/build.gradle
  android-components/samples/glean/samples-glean-library/src/main/AndroidManifest.xml
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Set nonTransitiveRClass and nonFinalResIds build flags to false.
  fenix/gradle.properties
  focus-android/gradle.properties
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1821005 - Replace deprecated project.buildDir
  android-components/build.gradle
  android-components/components/support/base/build.gradle
  fenix/app/build.gradle
  fenix/build.gradle
  focus-android/app/build.gradle
  focus-android/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1821005 - Set compileOptions for android subprojects.
  fenix/build.gradle
  focus-android/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1821005 - Set UI_INJECTION_HOST mode for lint in test.
  fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/LicenseDetectorTest.kt
Due: detekt-fenix, lint-fenix

Bug 1821005 - Add uses-feature tag for camera permission.
  android-components/samples/browser/src/main/AndroidManifest.xml
  android-components/samples/compose-browser/src/main/AndroidManifest.xml
  android-components/samples/firefox-accounts/src/main/AndroidManifest.xml
  fenix/app/src/main/AndroidManifest.xml
  focus-android/app/src/main/AndroidManifest.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1821005 - Exclude generated metrics docs from detekt.
  android-components/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Exclude build in extensions versioning from detekt.
  android-components/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Include sourcesJar as an input of publishing.
  android-components/publish.gradle
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1821005 - Apply additional keep rules for missing classes detected while running R8.
  fenix/app/proguard-rules.pro
Due: detekt-fenix, lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
