Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1845232 - Adds action to clear private browsing
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_data_clearance_24.xml
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarInteractorTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1845232 - Adds CFR for clear private browsing aciton
  fenix/app/pbm.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
Due: lint-fenix

Bug 1841572 – added styles to checkbox menu item views and overrode it on fenix side to give checkbox button more space for text
  android-components/components/browser/menu/src/main/res/layout/mozac_browser_menu_item_image_text_checkbox_button.xml
  android-components/components/browser/menu/src/main/res/values/dimens.xml
  android-components/components/browser/menu/src/main/res/values/style.xml
  fenix/app/src/main/res/values/dimens.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1829018 - Remove and clean up `Settings.enableTaskContinuityEnhancements`
  fenix/app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/ext/SyncedDeviceTabs.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/syncedtabs/SyncedTabs.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/syncedtabs/SyncedTabsIntegration.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/viewholders/SyncedTabsPageViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/static_strings.xml
  fenix/app/src/main/res/xml/secret_settings_preferences.xml
  fenix/app/src/test/java/org/mozilla/fenix/sync/ext/SyncedDeviceTabsTest.kt
Due: lint-fenix

Update A-S to 119.20230908050330.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1844960 - Bookmark suggestions should appear unconcerned with the search suggestions setting.
  android-components/components/compose/awesomebar/src/main/java/mozilla/components/compose/browser/awesomebar/AwesomeBar.kt
  android-components/components/compose/awesomebar/src/main/java/mozilla/components/compose/browser/awesomebar/internal/Suggestions.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1849833 - Replace deprecated kotlinOptions method.
  android-components/components/browser/session-storage/build.gradle
  android-components/components/browser/state/build.gradle
  android-components/components/browser/thumbnails/build.gradle
  android-components/components/compose/awesomebar/build.gradle
  android-components/components/feature/accounts-push/build.gradle
  android-components/components/feature/accounts/build.gradle
  android-components/components/feature/addons/build.gradle
  android-components/components/feature/app-links/build.gradle
  android-components/components/feature/contextmenu/build.gradle
  android-components/components/feature/customtabs/build.gradle
  android-components/components/feature/downloads/build.gradle
  android-components/components/feature/findinpage/build.gradle
  android-components/components/feature/media/build.gradle
  android-components/components/feature/prompts/build.gradle
  android-components/components/feature/pwa/build.gradle
  android-components/components/feature/readerview/build.gradle
  android-components/components/feature/session/build.gradle
  android-components/components/feature/sitepermissions/build.gradle
  android-components/components/feature/syncedtabs/build.gradle
  android-components/components/feature/toolbar/build.gradle
  android-components/components/support/webextensions/build.gradle
  android-components/components/tooling/lint/build.gradle
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1849833 - Replace qualified name with import.
  android-components/components/browser/session-storage/build.gradle
  android-components/components/browser/state/build.gradle
  android-components/components/browser/thumbnails/build.gradle
  android-components/components/compose/awesomebar/build.gradle
  android-components/components/feature/accounts-push/build.gradle
  android-components/components/feature/accounts/build.gradle
  android-components/components/feature/addons/build.gradle
  android-components/components/feature/app-links/build.gradle
  android-components/components/feature/contextmenu/build.gradle
  android-components/components/feature/customtabs/build.gradle
  android-components/components/feature/downloads/build.gradle
  android-components/components/feature/findinpage/build.gradle
  android-components/components/feature/media/build.gradle
  android-components/components/feature/prompts/build.gradle
  android-components/components/feature/pwa/build.gradle
  android-components/components/feature/readerview/build.gradle
  android-components/components/feature/search/build.gradle
  android-components/components/feature/session/build.gradle
  android-components/components/feature/sitepermissions/build.gradle
  android-components/components/feature/syncedtabs/build.gradle
  android-components/components/feature/tabs/build.gradle
  android-components/components/feature/toolbar/build.gradle
  android-components/components/lib/state/build.gradle
  android-components/components/support/ktx/build.gradle
  android-components/components/support/webextensions/build.gradle
  android-components/components/tooling/lint/build.gradle
  fenix/app/build.gradle
  fenix/build.gradle
  focus-android/app/build.gradle
  focus-android/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1851006 - SearchEngineSuggestionProvider should always be added to the provider list.
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: lint-fenix

Bug 1849833 - Replace all with configureEach.
  android-components/components/feature/search/build.gradle
  android-components/components/feature/tabs/build.gradle
  android-components/components/lib/state/build.gradle
  android-components/components/support/ktx/build.gradle
  fenix/app/build.gradle
  fenix/benchmark/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1849833 - Replace deprecated OutputFile and VariantOutput.
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1849833 - Move misplaced dependencies block.
  android-components/components/browser/engine-gecko/build.gradle
  android-components/components/lib/crash/build.gradle
  android-components/components/service/nimbus/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1849833 - Use tasks.register to avoid unnecessary configuration.
  fenix/app/build.gradle
  fenix/build.gradle
  focus-android/app/build.gradle
  focus-android/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1849833 - Use configureEach to avoid unnecessary configuration.
  fenix/settings.gradle
  focus-android/app/build.gradle
  focus-android/settings.gradle
Due: buildconfig-focus, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1849833 - Replace deprecated main with mainClass.
  fenix/build.gradle
  focus-android/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1849833 - Fix jvmTarget inconsistency in Focus.
  focus-android/app/build.gradle
  focus-android/service-telemetry/build.gradle
Due: buildconfig-focus, compare-locales-focus, ktlint-focus, lint-focus

Bug 1849833 - Replace deprecated flavorDimensions property.
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Status check permissions UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: lint-fenix

Bug 1850730 - General settings TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddressAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsCustomizeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsGeneralTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHomepageTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
Due: lint-fenix

Bug 1851419 - Disable searchHistoryNotRememberedInPrivateBrowsingTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
Due: lint-fenix

Bug 1825116 - fix a couple of typos
  docs/changelog.md
  taskcluster/android_taskgraph/loader/build_config.py
Due: none

Update GeckoView (Nightly) to 119.0.20230908094535.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1825116 - add missing MPL header to upstream_artifacts transform
  taskcluster/android_taskgraph/transforms/upstream_artifacts.py
Due: none

Bug 1852097 - Update AndroidX Recyclerview to version 1.3.1
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1851548 - Top sites are aligned to the left with Compose Top Sites enabled
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: lint-fenix

Bug 1852180 - Update Mockito to version 5.5.0
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1845235 - Add "Private" label to Felt Privacy mode home screen"
  fenix/app/src/main/res/drawable/ic_wordmark_text_felt_privacy.png
  fenix/app/src/main/res/layout/fragment_home.xml
  fenix/app/src/main/res/values/attrs.xml
  fenix/app/src/main/res/values/dimens.xml
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Bug 1847819 - Add new Homescreen description for Total Private Browsing Mode.
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/FeltPrivacyInfoCard.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/PrivateBrowsingDescriptionViewHolder.kt
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Bug 1852328 – removed suggestion map upcasting from Awesomebar
  android-components/components/compose/awesomebar/src/main/java/mozilla/components/compose/browser/awesomebar/AwesomeBar.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1826933 - Add tests for NotificationsDelegate."
  android-components/components/support/base/src/main/java/mozilla/components/support/base/android/NotificationsDelegate.kt
  android-components/components/support/base/src/test/java/mozilla/components/support/base/android/NotificationsDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
