Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1807073 - Defer allowing touch event interception in NestedGeckoView.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/NestedGeckoView.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/NestedGeckoViewTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875923 - Update max_line_length in editorconfig to match detekt
  android-components/.editorconfig
  fenix/.editorconfig
  focus-android/.editorconfig
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1875382: add ending punctuation
  android-components/components/feature/media/src/main/res/values/strings.xml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/media/src/main/res/values-bs/strings.xml
  android-components/components/feature/prompts/src/main/res/values-bs/strings.xml
  fenix/app/src/main/res/values-bg/strings.xml
  fenix/app/src/main/res/values-bs/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  focus-android/app/src/main/res/values-bs/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1875225 - Part 2. Use valid InputEnconding element for Rakuten and Yahoo! Japan Auctions.
  android-components/components/feature/search/src/main/assets/searchplugins/rakuten.xml
  android-components/components/feature/search/src/main/assets/searchplugins/yahoo-jp-auctions.xml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875225 - Part 1. Support <InputEncoding> element in search plugin.
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/search/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineWriter.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/ext/SearchEngineKtTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineReaderTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineWriterTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1875514 - Only send installation ping when we receive adjust metrics
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/FirstSessionPing.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt
Due: detekt-fenix, lint-fenix

Bug 1834842 - Replace Hardcoded SERP Telemetry
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetry.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/RemoteSettingsDownloader.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SERPTelemetryJsonParser.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SearchProviderCookie.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SearchProviderModel.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/Utils.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/ads/AdsTelemetry.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/incontent/InContentTelemetry.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/SearchProviderModelTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/ads/AdsTelemetryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/incontent/InContentTelemetryTest.kt
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
Due: buildconfig-fenix, compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1834842 - integrate updated SERP telemetry with Remote Settings Client
  android-components/components/feature/search/build.gradle
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetry.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/RemoteSettingsDownloader.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SearchProviderCookie.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SearchProviderModel.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SerpTelemetryFetcher.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/Utils.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/ads/AdsTelemetry.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/incontent/InContentTelemetry.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/SearchProviderModelTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/ads/AdsTelemetryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/incontent/InContentTelemetryTest.kt
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  focus-android/app/src/main/java/org/mozilla/focus/telemetry/GleanMetricsService.kt
  focus-android/app/src/test/java/org/mozilla/focus/telemetry/GleanMetricsServiceTest.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1870066 - Add local dump and additonal logic
  android-components/components/feature/search/src/main/assets/search/search_telemetry_v2.json
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetry.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SerpTelemetryFetcher.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SerpTelemetryRepository.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/Utils.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/ads/AdsTelemetry.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/incontent/InContentTelemetry.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/SerpTelemetryRepositoryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/ads/AdsTelemetryTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/incontent/InContentTelemetryTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  focus-android/app/src/main/java/org/mozilla/focus/telemetry/GleanMetricsService.kt
  focus-android/app/src/test/java/org/mozilla/focus/telemetry/GleanMetricsServiceTest.kt
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 124.0.20240122155815.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 124.20240123050318.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 124.0.20240123053648.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update Glean to 56.1.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1876026 - Add more test logs to AddToHomeScreenRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/AddToHomeScreenRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1876036 - Add more test logs to BookmarksRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1838580 - [a11y] Increase tap area for search engine icon
  fenix/app/src/main/java/org/mozilla/fenix/ext/View.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/toolbar/SearchSelectorBinding.kt
Due: detekt-fenix, lint-fenix

Bug 1870050 - Properly define buildConfigField SUPPORTED_LOCALE_ARRAY
  fenix/app/build.gradle
Due: buildconfig-fenix, detekt-fenix, lint-fenix

Bug 1818183 - Fix shortcut not showing up in top sites UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTopSitesTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TopSitesTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTopSitesRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1876122 - Enable the debug drawer in Beta and Release
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
Due: detekt-fenix, lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: detekt-fenix, lint-fenix

Bug 1850006 - make conservative to be a parameter of Request
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1850006 - conservative flag limits to mozilla services only
  android-components/components/concept/fetch/src/test/java/mozilla/components/concept/fetch/RequestTest.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/amo/AMOAddonsProviderTest.kt
  android-components/components/service/contile/src/main/java/mozilla/components/service/contile/ContileTopSitesProvider.kt
  android-components/components/service/glean/src/main/java/mozilla/components/service/glean/net/ConceptFetchHttpUploader.kt
  android-components/components/service/location/src/main/java/mozilla/components/service/location/MozillaLocationService.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRaw.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/stories/api/PocketEndpointRaw.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/ext/ConceptFetchKtTest.kt
  android-components/components/support/images/src/main/java/mozilla/components/support/images/compose/loader/ImageLoader.kt
  fenix/app/src/main/java/org/mozilla/fenix/ext/Client.kt
  fenix/app/src/main/java/org/mozilla/fenix/perf/ProfilerUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcher.kt
  fenix/app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperDownloaderTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcherTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1850006 - Update changelog.
  docs/changelog.md
Due: none

Bug 1839067 - Ensure response's body closed whether request is success or not.
  android-components/components/browser/icons/src/main/java/mozilla/components/browser/icons/loader/HttpIconLoader.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SearchSuggestionProvider.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/temporary/TemporaryDownloadFeature.kt
  android-components/components/service/digitalassetlinks/src/main/java/mozilla/components/service/digitalassetlinks/local/StatementApi.kt
  android-components/components/service/location/src/main/java/mozilla/components/service/location/MozillaLocationService.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRaw.kt
  android-components/components/support/images/src/main/java/mozilla/components/support/images/compose/loader/ImageLoader.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchStringValidator.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/ManualAddSearchEngineSettingsFragment.kt
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1875515 - record Nimbus is_ready event
  docs/changelog.md
  fenix/app/nimbus.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
Due: detekt-fenix, lint-fenix
