Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Import translations from android-l10n
  fenix/app/src/main/res/values-ca/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  focus-android/app/src/main/res/values-sq/strings.xml
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1864759 - Fix completeToolbarRedesignEnabled flag to actually be set to true in debug and Nightly
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: detekt-fenix, lint-fenix

Bug 1868646 — Refactor nimbus.fml.yaml messaging into separate files
  fenix/app/messaging-evergreen-messages.fml.yaml
  fenix/app/messaging-fenix.fml.yaml
  fenix/app/nimbus.fml.yaml
Due: detekt-fenix, lint-fenix

Bug 1847305 - Re-initialize inputResultDetail at the right time.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/NestedGeckoView.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1847305 - Enabled nested scrolling for GeckoEngineView
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineView.kt
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1847305 - Fix tests for NestedGeckoView
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/NestedGeckoViewTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 122.0.20231206213012.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1856970 - Translations UI Preference Screen Never Translate
  fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSiteDialogPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSiteDialogPreferenceFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSiteListItemPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSitePreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSitePreferenceFragment.kt
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Bug 1868557 - Add missing steps to deleteCookiesAndSiteDataTest UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSettingsDeleteBrowsingDataTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsDeleteBrowsingDataTest.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 122.0.20231207094719.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1868793 - Add missing step to installAddonFromMainMenuTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAddonsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1865357 - Add Global Privacy Control settings.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  docs/changelog.md
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/TrackingProtectionFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/xml/tracking_protection_preferences.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1865357 - Add Global Privacy Control settings in sample browser.
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1865357 - Add Global Privacy Control UI tests.
  fenix/app/src/androidTest/assets/pages/global_privacy_control.html
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/GlobalPrivacyControlTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuEnhancedTrackingProtectionRobot.kt
  focus-android/app/src/androidTest/assets/global_privacy_control.html
  focus-android/app/src/androidTest/java/org/mozilla/focus/privacy/GlobalPrivacyControlTest.kt
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Bug 1868858 - Fix test failure SettingsAddonsTest.noCrashWithAddonInstalledTest
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAddonsTest.kt
Due: detekt-fenix, lint-fenix

Bug 1868778 - Make sure the correct process type for extensions process crashes is send in "crash" pings
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/GleanCrashReporterService.kt
  android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/GleanCrashReporterServiceTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1868683 - Turn on Meta attribution telemetry for all builds
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Due: detekt-fenix, lint-fenix

Bug 1868886: Fix Nightly Font Telemetry
  fenix/app/src/androidTest/java/org/mozilla/fenix/components/FontParserTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontParser.kt
Due: detekt-fenix, lint-fenix

Bug 1868378 - Indicate the installation method when installing an add-on.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/InstallationMethod.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtensionRuntime.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonFilePicker.kt
  android-components/components/feature/addons/src/test/java/AddonManagerTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonFilePickerTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-el/strings.xml
  android-components/components/feature/addons/src/main/res/values-en-rGB/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  android-components/components/feature/addons/src/main/res/values-fur/strings.xml
  android-components/components/feature/addons/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-hy-rAM/strings.xml
  android-components/components/feature/addons/src/main/res/values-it/strings.xml
  android-components/components/feature/addons/src/main/res/values-iw/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-nl/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/addons/src/main/res/values-ru/strings.xml
  android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  android-components/components/feature/addons/src/main/res/values-sv-rSE/strings.xml
  android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  android-components/components/feature/addons/src/main/res/values-vi/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rTW/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 122.0.20231207165826.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components
