Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Update GeckoView (Nightly) to 120.0.20230928035326.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1855516 - Call `disableExtensionProcessSpawning()` when the user clicks the "continue without add-ons" button
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtensionRuntime.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/ExtensionProcessDisabledController.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/ExtensionProcessDisabledControllerTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1850610 - Fix review checker onboarding bottom sheet height
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckBottomSheetStateFeature.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ReviewQualityCheckBottomSheetStateFeatureTest.kt
Due: lint-fenix

Bug 1855421 - Add feature variable to test out precise timestamps in Glean events
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: lint-fenix

Bug 1855421 - Glean: Pass through enableEventTimestamps
  android-components/components/service/glean/src/main/java/mozilla/components/service/glean/config/Configuration.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1852074 - Add actions to the shopping CFRs
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarInteractorTest.kt
Due: lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1849274 - Record history telemetry when Unified Search result tap
  android-components/components/concept/awesomebar/src/main/java/mozilla/components/concept/awesomebar/AwesomeBar.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryMetadataSuggestionProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarWrapper.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1853743: Support any image format for the profile picture on FedCM Select Account Dialog
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectAccountDialog.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectProviderDialog.kt
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/kotlin/StringTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1855209 - Show the shopping CFRs only once for loaded product pages
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
Due: lint-fenix

Update A-S to 120.20230928050321.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1847819 - Fix color of `FeltPrivacyInfoCard`
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/FeltPrivacyInfoCard.kt
Due: lint-fenix

Bug 1842304 - Remove feature flag for history interactor removal
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryAdapter.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/viewholders/HistoryListItemViewHolder.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/HistoryInteractorTest.kt
Due: lint-fenix

Bug 1855620 - Set isChecked depending on mapSelectChoice
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/ChoiceAdapter.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1838840 - Ship 119.0.0 of feature-webcompat
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1830813-page.onstove.com-hide-unsupported.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1855014-eksiseyler.com.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1855071-www.meteoam.it.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1852083 - Do not insert extra with null or empty key
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1855489 - Add nimbus homescreen message test - Tap X button (#3822)
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/SurveyExperimentIntegrationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/conftest.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/test_integration.py
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: lint-fenix

Bug 1853304 - Color the shopping icon while the bottom sheet is open
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppState.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFeature.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFragment.kt
  fenix/app/src/main/res/drawable/ic_shopping_selected.xml
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ReviewQualityCheckFeatureTest.kt
Due: lint-fenix

Bug 1849073 - Part 6: Remove the old search preferences
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/xml/search_preferences.xml
  fenix/app/src/main/res/xml/search_settings_preferences.xml
  fenix/app/src/test/java/org/mozilla/fenix/settings/search/SearchEngineFragmentTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/engine-system/src/main/res/values-ug/strings.xml
  android-components/components/feature/addons/src/main/res/values-el/strings.xml
  android-components/components/feature/prompts/src/main/res/values-el/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fur/strings.xml
  android-components/components/feature/prompts/src/main/res/values-hu/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1849368 - Remove data path and data authorities requirement for open links in apps
  android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksUseCases.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 120.0.20230928215127.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1855553 - Add missing copy & update existing review quality info copy
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ext/ProductVendor.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckPreferencesMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckVendorsService.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/NoAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysisError.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityInfoCard.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ReviewQualityCheckBottomSheetStateFeatureTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/fake/FakeReviewQualityCheckVendorsService.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: lint-fenix

Update A-S to 120.20230929050248.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1847266 - Implement status message for blocklisted add-ons in the manager
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonsManagerAdapter.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonsManagerAdapterDelegate.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/CustomViewHolder.kt
  android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_item.xml
  android-components/components/feature/addons/src/main/res/values/strings.xml
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonsManagerAdapterTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementView.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/AddonsManagementViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix
