Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1837864 – fix search settings opening visual glitch
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
Due: lint-fenix

Bug 1838691 – add ceate and edit logic branches to save search engine screen
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SaveSearchEngineFragment.kt
Due: lint-fenix

Bug 1810630 - add 'manage account' to the sync menu. (#2566)
  android-components/components/concept/sync/src/main/java/mozilla/components/concept/sync/OAuthAccount.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FirefoxAccount.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/account/AccountSettingsFragment.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/xml/account_settings_preferences.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1839651 - Remove the "downloading" add-on popup.
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
  fenix/app/src/main/res/drawable/mozac_ic_extensions_black.xml
  fenix/app/src/main/res/layout/fragment_add_ons_management.xml
  fenix/app/src/main/res/layout/overlay_add_on_progress.xml
Due: lint-fenix

Bug 1836166 - add telemetry for Mozilla Sync sign in
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: lint-fenix

Bug 1836167 - New telemetry in bookmarks
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragmentInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/edit/EditBookmarkFragment.kt
Due: lint-fenix

Update GeckoView (Beta) to 115.0.20230622161221.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1825425 - Add some examples of existing XML state observations as link to example refactor.
  docs/rfcs/0009-remove-interactors-and-controllers.md
Due: none

Bug 1837107 - Unify FenixDependencies with AC's DependenciesPlugin
  fenix/app/build.gradle
  fenix/benchmark/build.gradle
  fenix/build.gradle
  fenix/mozilla-detekt-rules/build.gradle
  fenix/mozilla-lint-rules/build.gradle
  fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: buildconfig-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1836165 - New growth telemetry for private tab open count
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/telemetry/TelemetryMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
Due: lint-fenix

Update GeckoView (Nightly) to 116.0.20230622214511.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Update A-S to 116.20230623050334.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 116.0.20230623092529.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840109 - Renew telemetry probes expiring in v118
  fenix/app/metrics.yaml
Due: lint-fenix

Bug 1836364 - Correctly handle the confirm action on SelectAccount prompt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1814187 - Refactor code to toggle the save button when needed
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/EditLoginFragment.kt
Due: lint-fenix

Bug 1840151 - Remove telemetry probes expiring in v118
  focus-android/app/metrics.yaml
  focus-android/app/src/main/java/org/mozilla/focus/experiments/NimbusSetup.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1832617 - Convert `closeTabTest`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ComposeTabDrawerRobot.kt
Due: lint-fenix

Bug 1832609 - Convert `closePrivateTabTest`
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-am/strings.xml
  android-components/components/feature/prompts/src/main/res/values-be/strings.xml
  android-components/components/feature/prompts/src/main/res/values-cy/strings.xml
  android-components/components/feature/prompts/src/main/res/values-de/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ko/strings.xml
  android-components/components/feature/prompts/src/main/res/values-nl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 116.0.20230624091338.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-co/strings.xml
  android-components/components/feature/prompts/src/main/res/values-de/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fi/strings.xml
  android-components/components/feature/prompts/src/main/res/values-it/strings.xml
  android-components/components/feature/prompts/src/main/res/values-iw/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ja/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kab/strings.xml
  android-components/components/feature/prompts/src/main/res/values-lo/strings.xml
  android-components/components/feature/prompts/src/main/res/values-oc/strings.xml
  android-components/components/feature/prompts/src/main/res/values-rm/strings.xml
  android-components/components/feature/prompts/src/main/res/values-skr/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sv-rSE/strings.xml
  android-components/components/feature/prompts/src/main/res/values-tr/strings.xml
  android-components/components/feature/prompts/src/main/res/values-uk/strings.xml
  android-components/components/feature/prompts/src/main/res/values-zh-rCN/strings.xml
  android-components/components/ui/widgets/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-ja/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-co/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 116.0.20230624211408.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 116.20230623182948.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components
