Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Import translations from android-l10n
  android-components/components/browser/engine-system/src/main/res/values-kw/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-kw/strings.xml
  android-components/components/feature/prompts/src/main/res/values-be/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es-rCL/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fur/strings.xml
  android-components/components/feature/prompts/src/main/res/values-is/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/prompts/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1838512 - Fix detekt issue from moving Browsers Cache utility into Android Components
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/BrowsersCache.kt
  fenix/detekt-baseline.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1837864 – fix search settings opening visual glitch
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
Due: lint-fenix

Update GeckoView (Nightly) to 116.0.20230615214334.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1834870: Move sync telemetry into application services
  android-components/.buildconfig.yml
  android-components/CODEOWNERS
  android-components/components/browser/storage-sync/README.md
  android-components/components/browser/storage-sync/build.gradle
  android-components/components/browser/storage-sync/src/main/java/mozilla/components/browser/storage/sync/Connection.kt
  android-components/components/service/firefox-accounts/build.gradle
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FxaDeviceConstellation.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/sync/WorkManagerSyncManager.kt
  android-components/components/service/sync-logins/build.gradle
  android-components/components/support/sync-telemetry/README.md
  android-components/components/support/sync-telemetry/build.gradle
  android-components/components/support/sync-telemetry/docs/metrics.md
  android-components/components/support/sync-telemetry/metrics.yaml
  android-components/components/support/sync-telemetry/pings.yaml
  android-components/components/support/sync-telemetry/src/main/AndroidManifest.xml
  android-components/components/support/sync-telemetry/src/main/java/mozilla/components/support/sync/telemetry/BaseGleanSyncPing.kt
  android-components/components/support/sync-telemetry/src/main/java/mozilla/components/support/sync/telemetry/SyncTelemetry.kt
  android-components/components/support/sync-telemetry/src/test/java/mozilla/components/support/sync/telemetry/SyncTelemetryTest.kt
  android-components/components/support/sync-telemetry/src/test/resources/robolectric.properties
  android-components/config/detekt-baseline.xml
  fenix/.buildconfig.yml
  focus-android/.buildconfig.yml
  taskcluster/ci/config.yml
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update Focus initial_experiments.json based on the current first-run experiments in experimenter
  focus-android/app/src/main/res/raw/initial_experiments.json
Due: compare-locales-focus, ktlint-focus, lint-focus

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Update A-S to 116.20230616050333.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1838613 - Migrate NotificationManagerCompat ext to AC
  android-components/components/support/base/src/main/java/mozilla/components/support/base/ext/NotificationManagerCompat.kt
  android-components/components/support/base/src/test/java/mozilla/components/support/base/ext/NotificationManagerCompatTest.kt
  docs/changelog.md
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/messaging/CustomAttributeProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/JunoOnboardingFragment.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 116.0.20230616094829.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815276 - Disable Pocket sponsored stories check in tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: lint-fenix

Bug 1838717 - Enable alerting for APK file size.
  fenix/buildSrc/src/main/java/org/mozilla/fenix/gradle/tasks/ApkSizeTask.kt
Due: lint-fenix

Bug 1837599 - Allow history visits containing mobile subdomains to be displayed in the awesome bar
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/CombinedHistorySuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryMetadataSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/HistoryStorageSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/CombinedHistorySuggestionProviderTest.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/HistoryMetadataSuggestionProviderTest.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/HistoryStorageSuggestionProviderTest.kt
  android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/ext/UriKtTest.kt
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/net/Uri.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1815426 - Fix failing cookie banner reduction UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CookieBannerReductionTest.kt
Due: lint-fenix

Bug 1820404 - Keep ReaderView position state between active and inactive
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ReaderStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/ReaderState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/ReaderActionTest.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/EngineSessionTest.kt
  android-components/components/feature/readerview/src/main/assets/extensions/readerview/readerview.js
  android-components/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt
  android-components/components/feature/readerview/src/test/java/mozilla/components/feature/readerview/ReaderViewFeatureTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1820404 - Persist ReaderView position state
  android-components/components/browser/session-storage/src/main/java/mozilla/components/browser/session/storage/serialize/BrowserStateReader.kt
  android-components/components/browser/session-storage/src/main/java/mozilla/components/browser/session/storage/serialize/BrowserStateWriter.kt
  android-components/components/browser/session-storage/src/main/java/mozilla/components/browser/session/storage/serialize/Keys.kt
  android-components/components/browser/session-storage/src/test/java/mozilla/components/browser/session/storage/serialize/BrowserStateWriterReaderTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/ReaderState.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1830768 - Add nimbus flag for toolbar position
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: lint-fenix

Bug 1828516 - Hide Whats New button
  focus-android/app/metrics.yaml
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/MozillaSupportPagesTest.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/SettingsRobot.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/SettingsFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/telemetry/TelemetryWrapper.kt
  focus-android/app/src/main/java/org/mozilla/focus/utils/SupportUtils.kt
  focus-android/app/src/main/java/org/mozilla/focus/whatsnew/WhatsNew.kt
  focus-android/app/src/main/java/org/mozilla/focus/whatsnew/WhatsNewStorage.kt
  focus-android/app/src/main/java/org/mozilla/focus/whatsnew/WhatsNewVersion.kt
  focus-android/app/src/main/res/menu/menu_settings_main.xml
  focus-android/app/src/main/res/values/strings.xml
  focus-android/app/src/test/java/org/mozilla/focus/whatsnew/WhatsNewStorageTest.kt
  focus-android/app/src/test/java/org/mozilla/focus/whatsnew/WhatsNewTest.kt
  focus-android/app/src/test/java/org/mozilla/focus/whatsnew/WhatsNewVersionTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-ka/strings.xml
  android-components/components/feature/prompts/src/main/res/values-si/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 116.0.20230616214102.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1837984: Adjust the spacing between the normal, private and sync tabs
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: lint-fenix

Update A-S to 116.20230617050342.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 116.0.20230617092009.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
