Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1824341 - Use `browser_specific_settings` instead of `applications` in built-in manifests
  android-components/components/browser/icons/src/main/assets/extensions/browser-icons/manifest.template.json
  android-components/components/feature/accounts/src/main/assets/extensions/fxawebchannel/manifest.template.json
  android-components/components/feature/readerview/src/main/assets/extensions/readerview/manifest.template.json
  android-components/components/feature/search/src/main/assets/extensions/ads/manifest.template.json
  android-components/components/feature/search/src/main/assets/extensions/search/manifest.template.json
  android-components/components/feature/webcompat-reporter/src/main/assets/extensions/webcompat-reporter/manifest.json
  android-components/samples/browser/src/main/assets/extensions/borderify/manifest.template.json
  android-components/samples/browser/src/main/assets/extensions/test/manifest.template.json
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 113.0.20230324092024.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815628 - Show Saved Login Page after new credentials are added
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/controller/SavedLoginsStorageController.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/LoginDetailFragment.kt
  fenix/app/src/main/res/navigation/nav_graph.xml
Due: lint-fenix

Bug 1799622 - Fixed showing login after being deleted
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/LoginDetailFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsFragment.kt
Due: lint-fenix

Revert "Bug 1822899 - Limit Nimbus message display count to max display count (#1322)"
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorage.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorageTest.kt
Due: lint-fenix

Bug 1821722 - Update juno onboarding strings
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Revert "Bug 1822899 - Limit Nimbus message display count to max display count (#1322)" (#1398)
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorage.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorageTest.kt
Due: lint-fenix

Bug 1824134 - Add support for clickable linkified text in OnboardingPage.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
Due: lint-fenix

Bug 1824429 - Add a test to test firefox-android alerting.
  taskcluster/ci/browsertime/kind.yml
Due: none

Bug 1822619 - change handleView visibility depending on selection mode
  focus-android/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteListFragment.kt
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1796357 - Remove media meta data bitmap workaround
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/mediasession/GeckoMediaSessionDelegate.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1824429 - Add a test to test firefox-android alerting. (#1401)
  taskcluster/ci/browsertime/kind.yml
Due: none

Update GeckoView (Nightly) to 113.0.20230324165446.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-am/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-hsb/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-kab/strings.xml
  android-components/components/support/ktx/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-kw/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-be/strings.xml
  focus-android/app/src/main/res/values-da/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-hsb/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-kw/strings.xml
  focus-android/app/src/main/res/values-oc/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230325090348.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-es-rAR/strings.xml
  focus-android/app/src/main/res/values-es-rMX/strings.xml
  focus-android/app/src/main/res/values-ko/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-oc/strings.xml
  focus-android/app/src/main/res/values-ru/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230325214124.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 113.0.20230326091533.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 112.0.20230326180212.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ru/strings.xml
  android-components/components/feature/app-links/src/main/res/values-ff/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-es-rES/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-hy-rAM/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  focus-android/app/src/main/res/values-es-rES/strings.xml
  focus-android/app/src/main/res/values-nb-rNO/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-skr/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230326214700.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1823085 - NoSuchElementException fix - the search engines list does not contain any element matching the conditions, so calling first on that list will throw an exception
  fenix/app/src/main/java/org/mozilla/fenix/settings/search/RadioSearchEngineListPreference.kt
Due: lint-fenix

Bug 1823868 - Fix cookie banner details layout.
  focus-android/app/src/main/res/layout/cookie_banner_reducer_details.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1807592 - Made parent container to be clickable (#1399)
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/WebsiteInfoView.kt
  fenix/app/src/main/res/layout/quicksettings_website_info.xml
Due: lint-fenix
