Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1815421 - Clear button should be active only when username input is not empty.
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
Due: lint-fenix

Update A-S to 116.20230629050331.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1836521 - Ship v116.0.0 of the WebCompat System Addon.
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/about-compat/aboutCompat.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/shims.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1830752-afisha.ru-slider-pointer-events.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1836177-clalit.co.il-hide-number-input-spinners.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1819678-cnki.net-undisable-search-field.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/tsn-ca.js
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 116.0.20230629085424.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Release) to 115.0.20230629134642.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1807289 - Disable failing customTabDownloadTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CustomTabsTest.kt
Due: lint-fenix

Bug 1841171 - Convert `NavigationToolbarTest` to support the Tabs Tray rewrite
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeNavigationToolbarTest.kt
Due: lint-fenix

Bug 1841175 - Convert `MenuScreenShotTest` to support the Tabs Tray rewrite
  fenix/app/src/androidTest/java/org/mozilla/fenix/screenshots/ComposeMenuScreenShotTest.kt
Due: lint-fenix

Bug 1841168 - Convert `MediaNotificationTest` to support Tabs Tray rewrite
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeMediaNotificationTest.kt
Due: lint-fenix

Bug 1841155 - Update LeakCanary to version 2.12
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/app/build.gradle
  focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: buildconfig-focus, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Update GeckoView (Nightly) to 116.0.20230629214838.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1841057 – added missing attributes to private theme
  fenix/app/src/main/res/values/styles.xml
Due: lint-fenix

Bug 1837986 - the number of the normal tabs has visual defects
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: lint-fenix

Bug 1841032 - Cannot un-focus the keyboard once selected in the OG onboarding without pressing back.
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: lint-fenix

Bug 1841223 - Refactor Nimbus search_extra_params to use Kebab case.
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
Due: lint-fenix

Update GeckoView (Nightly) to 116.0.20230630040643.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840837 - Update Bookmarks and History search tests with Unified search UI
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelperDelegate.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HistoryRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
Due: lint-fenix

Bug 1826467 - Searching for words with spaces matches bookmarks and history entries in Unified Search, but not open tabs
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SessionSuggestionProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SessionSuggestionProviderTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1840896 - Remove `rememberSaveable` since bitmaps are not serializable
  fenix/app/src/main/java/org/mozilla/fenix/compose/ThumbnailImage.kt
Due: lint-fenix

Bug 1841274 - Add Param to Nimbus SearchExtraParams
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/middleware/SearchMiddleware.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/ParseSearchPluginsTest.kt
  fenix/app/.experimenter.yaml
  fenix/app/nimbus.fml.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1841177 - Convert `ContextMenusTest` to support the Tabs Tray rewrite
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeContextMenusTest.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-oc/strings.xml
  android-components/components/browser/menu/src/main/res/values-sk/strings.xml
  android-components/components/browser/menu/src/main/res/values-skr/strings.xml
  android-components/components/feature/prompts/src/main/res/values-cs/strings.xml
  android-components/components/feature/prompts/src/main/res/values-de/strings.xml
  android-components/components/feature/prompts/src/main/res/values-el/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-gl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ru/strings.xml
  android-components/components/feature/prompts/src/main/res/values-si/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sk/strings.xml
  android-components/components/feature/prompts/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 116.0.20230630211055.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1841361 - Allow advance user to enable Gecko logs
  fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/main/res/xml/preferences.xml
Due: lint-fenix
