Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1822119 - Store new UUID in shared prefs and send in metrics ping
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/DataChoicesFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/test/java/org/mozilla/fenix/FenixApplicationTest.kt
Due: lint-fenix

Bug 1822193 - Scroll to the active tab when opening the Tabs Tray
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
Due: lint-fenix

Bug 1805651 - Update taskgraph to 5.1.0 and use index-path-regexes
  taskcluster/android_taskgraph/__init__.py
  taskcluster/android_taskgraph/morph.py
  taskcluster/ci/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: none

Import translations from android-l10n
  android-components/components/browser/engine-system/src/main/res/values-fa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-fa/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-fa/strings.xml
  android-components/components/feature/app-links/src/main/res/values-fa/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-fa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-fa/strings.xml
  android-components/components/feature/media/src/main/res/values-fa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fa/strings.xml
  android-components/components/feature/pwa/src/main/res/values-fa/strings.xml
  android-components/components/feature/qr/src/main/res/values-fa/strings.xml
  android-components/components/feature/readerview/src/main/res/values-fa/strings.xml
  android-components/components/feature/search/src/main/res/values-fa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-fa/strings.xml
  android-components/components/feature/webnotifications/src/main/res/values-fa/strings.xml
  android-components/components/lib/crash/src/main/res/values-fa/strings.xml
  android-components/components/service/nimbus/src/main/res/values-fa/strings.xml
  android-components/components/support/base/src/main/res/values-fa/strings.xml
  android-components/components/support/ktx/src/main/res/values-fa/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-fa/strings.xml
  android-components/components/ui/widgets/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-fa/strings.xml
  focus-android/app/src/main/res/values-cak/strings.xml
  focus-android/app/src/main/res/values-tg/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 114.0.20230419214510.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1827631 - Use debugImplementation for compose tooling
  android-components/components/compose/awesomebar/build.gradle
  android-components/components/compose/browser-toolbar/build.gradle
  android-components/components/compose/cfr/build.gradle
  android-components/components/compose/engine/build.gradle
  android-components/components/compose/tabstray/build.gradle
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/build.gradle
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1826560 - consistently sign android-test APKs with the dep key
  taskcluster/android_taskgraph/transforms/signing_apk.py
Due: none

Bug 1828936 - Update the pings.yaml entry for first-session ping
  fenix/app/pings.yaml
Due: lint-fenix

Update GeckoView (Nightly) to 114.0.20230420092216.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1807270 - Re-enable selectTabOnLongTapTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/TabDrawerRobot.kt
Due: lint-fenix

Update Home.md
  focus-android/docs/Home.md
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1810197 - Fix condition of changeExtension
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/DownloadUtilsTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 113.0.20230420180037.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-am/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-fa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-tg/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-fa/strings.xml
  android-components/components/feature/pwa/src/main/res/values-fa/strings.xml
  android-components/components/feature/search/src/main/res/values-fa/strings.xml
  android-components/components/lib/crash/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-tg/strings.xml
  focus-android/app/src/main/res/values-trs/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 114.0.20230420212414.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1826944 - Onboarding now follows device orientation for tablets
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/JunoOnboardingFragment.kt
Due: lint-fenix

Bug 1827030 - Enable juno onboarding in nightly for new users
  fenix/app/nimbus.fml.yaml
  fenix/app/src/androidTest/java/org/mozilla/fenix/perf/StartupExcessiveResourceUseTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/JunoOnboardingFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: lint-fenix

Bug 1807270 - Re-enable remaining closing open tabs related UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 114.0.20230421030443.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1807270 - Re-enable open tabs thumbnail check in UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/TabDrawerRobot.kt
Due: lint-fenix

Bug 1807127 - Update Sync Device name after refreshing fxa devices
  fenix/app/src/main/java/org/mozilla/fenix/settings/account/AccountSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/account/AccountSettingsInteractor.kt
Due: lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-fa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-si/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-tt/strings.xml
  android-components/components/compose/cfr/src/main/res/values-tt/strings.xml
  android-components/components/feature/addons/src/main/res/values-tt/strings.xml
  android-components/components/feature/app-links/src/main/res/values-tt/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-tt/strings.xml
  android-components/components/feature/downloads/src/main/res/values-tt/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-tt/strings.xml
  android-components/components/feature/search/src/main/res/values-tt/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-tt/strings.xml
  android-components/components/lib/crash/src/main/res/values-tt/strings.xml
  android-components/components/support/ktx/src/main/res/values-tt/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-trs/strings.xml
  android-components/components/ui/widgets/src/main/res/values-trs/strings.xml
  android-components/components/ui/widgets/src/main/res/values-tt/strings.xml
  fenix/app/src/main/res/values-fa/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
  fenix/app/src/main/res/values-tt/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  focus-android/app/src/main/res/values-ko/strings.xml
  focus-android/app/src/main/res/values-trs/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 114.0.20230421211246.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
