Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1854709 - Add Store actions for remaining History interactor calls
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragmentStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistoryNavigationMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/viewholders/HistoryListItemViewHolder.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistoryNavigationMiddlewareTest.kt
Due: lint-fenix

Bug 1852928 - Update review quality check bottom sheet header
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckScaffold.kt
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Update GeckoView (Nightly) to 120.0.20230925160932.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1567912 - combine tasks
  taskcluster/android_taskgraph/transforms/beetmover_android_app.py
  taskcluster/ci/beetmover-android-app/kind.yml
Due: none

Bug 1567912 - cleanup
  taskcluster/ci/beetmover-android-app/kind.yml
Due: none

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-gn/strings.xml
  android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  android-components/components/feature/addons/src/main/res/values-hr/strings.xml
  android-components/components/feature/addons/src/main/res/values-ja/strings.xml
  android-components/components/feature/addons/src/main/res/values-si/strings.xml
  android-components/components/feature/addons/src/main/res/values-th/strings.xml
  android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-ja/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

check additional env vars
  fenix/automation/taskcluster/androidTest/test_env.py
Due: lint-fenix

Update A-S to 120.20230926050453.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

add build_milestone_description
  fenix/automation/taskcluster/androidTest/test_env.py
Due: lint-fenix

add env vars and milestone name
  fenix/automation/taskcluster/androidTest/test_env.py
Due: lint-fenix

add stub script
  fenix/automation/taskcluster/androidTest/milestone_name_stub.sh
Due: lint-fenix

add stub script
  fenix/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/ui-test-apk/kind.yml
Due: lint-fenix

Bug 1807536 - When user presses "Stay in private browsing" button from "Cancel private download" popup the tab should remain open.
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: lint-fenix

testing secrets
  fenix/automation/taskcluster/androidTest/test_env.py
  fenix/automation/taskcluster/androidTest/ui-test.sh
Due: lint-fenix

Bug 1853301 - Refactor ReviewQualityCheckNavigationMiddleware to use TabsUseCases and SessionUseCases
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/di/ReviewQualityCheckMiddlewareProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/NoAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysisError.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckFooter.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityInfoCard.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddlewareTest.kt
Due: lint-fenix

try grabbing taskcluster secret
  fenix/automation/taskcluster/androidTest/test_env.py
  fenix/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/ui-test-apk/kind.yml
Due: lint-fenix

try different secret scope
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

add testrail secrets scope
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

update scopes
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Bug 1855183 - Search settings menu TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
  fenix/automation/taskcluster/androidTest/flank-arm-beta.yml
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  fenix/automation/taskcluster/androidTest/flank-arm-start-test.yml
Due: lint-fenix

add more scopes
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

update more scopes
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

try lower config scopes
  .taskcluster.yml
Due: none

Bug 1855190 - Unified search bar TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
Due: lint-fenix

remove scopes
  .taskcluster.yml
Due: none

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Bug 1855137 - Add review checker vendor ordering logic
  fenix/app/src/main/java/org/mozilla/fenix/shopping/di/ReviewQualityCheckMiddlewareProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckPreferencesMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckVendorsService.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/fake/FakeNetworkChecker.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/fake/FakeReviewQualityCheckVendorsService.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/DefaultReviewQualityCheckVendorsServiceTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckStoreTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 120.0.20230926092749.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1849073 - Part 1: Remove the Bookmark Search Dialog
  fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkController.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchController.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchDialogInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchFragmentStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/awesomebar/AwesomeBarInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/awesomebar/AwesomeBarView.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/awesomebar/AwesomeBarWrapper.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/toolbar/ToolbarView.kt
  fenix/app/src/main/res/layout/fragment_bookmark_search_dialog.xml
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/BookmarkControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchDialogInteractorTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/BookmarkSearchFragmentStoreTest.kt
  fenix/detekt-baseline.xml
Due: lint-fenix

Bug 1567912 - Add beetmover-bundle task (#3693)
  taskcluster/android_taskgraph/manifests/apk_releases.yml
  taskcluster/android_taskgraph/transforms/beetmover_android_app.py
  taskcluster/ci/beetmover-android-app/kind.yml
Due: none

Bug 1838840 - Ship 119.0.0 of feature-webcompat
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1830813-page.onstove.com-hide-unsupported.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1855014-eksiseyler.com.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1855071-www.meteoam.it.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

remove debug code
  fenix/automation/taskcluster/androidTest/test_env.py
Due: lint-fenix
