Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/focus-android/build/reports
      type: directory

detekt-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - detekt
    - githubLintDetektDetails
    - mozilla-detekt-rules:test
  treeherder:
    symbol: detekt(fenix)
  worker:
    artifacts:
    - name: public/reports
  ...

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

Update GeckoView (Nightly) to 123.0.20231229092537.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 122.0.20231229091551.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 123.20231229050340.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/prompts/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-bg/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 123.0.20231229205714.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 123.0.20231230094435.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Release) to 121.0.20231230165955.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-br/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 123.0.20231230213730.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 123.0.20231231092435.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ug/strings.xml
  fenix/app/src/main/res/values-bs/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-hy-rAM/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 123.0.20231231213038.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ug/strings.xml
  android-components/components/feature/addons/src/main/res/values-lo/strings.xml
  android-components/components/feature/prompts/src/main/res/values-zh-rCN/strings.xml
  fenix/app/src/main/res/values-es-rES/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 123.0.20240101231540.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 123.0.20240102095659.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1854113 - Fix pull-to-refresh triggered after pinch-to-zoom and swipe gesture
  android-components/components/ui/widgets/src/main/java/mozilla/components/ui/widgets/VerticalSwipeRefreshLayout.kt
  android-components/components/ui/widgets/src/test/java/mozilla/components/ui/widgets/TestUtils.kt
  android-components/components/ui/widgets/src/test/java/mozilla/components/ui/widgets/VerticalSwipeRefreshLayoutTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1871548 - Add telemetry for Open PDF in Fenix
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/SafeIntent.kt
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1856955 - Part 2: Remove unnecessary font weight in DownloadLanguageFileDialog title
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DownloadLanguageFileDialog.kt
Due: detekt-fenix, lint-fenix

Bug 1864710 - Add UI for creating tabs
  fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabTools.kt
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Bug 1862263 - Translations Error Support
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/translate/GeckoTranslationUtils.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationError.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1864072 - Create initial drawer UI
  fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/DebugDrawer.kt
  fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/DebugOverlay.kt
  fenix/app/src/main/res/layout/activity_home.xml
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-vi/strings.xml
  android-components/components/feature/addons/src/main/res/values-cak/strings.xml
  android-components/components/feature/addons/src/main/res/values-lo/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-cak/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
