Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Bug 1856399 - Use distinct version code in Focus AAB
  focus-android/app/build.gradle
Due: buildconfig-focus, compare-locales-focus, ktlint-focus, lint-focus

Bug 1857077 - Update AndroidX Compose to version 1.5.3
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1855571 - Remove padding between stars in star rating
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/StarRating.kt
Due: lint-fenix

Bug 1810044 1810045 - Delay reading clipboard and allow to paste non url
  fenix/app/src/main/java/org/mozilla/fenix/utils/ClipboardHandler.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/ToolbarPopupWindow.kt
Due: lint-fenix

Bug 1857110 - Update Gradle to version 7.6.3
  android-components/gradle/wrapper/gradle-wrapper.jar
  android-components/gradle/wrapper/gradle-wrapper.properties
  android-components/gradlew
  android-components/gradlew.bat
  fenix/gradle/wrapper/gradle-wrapper.jar
  fenix/gradle/wrapper/gradle-wrapper.properties
  fenix/gradlew
  fenix/gradlew.bat
  focus-android/gradle/wrapper/gradle-wrapper.jar
  focus-android/gradle/wrapper/gradle-wrapper.properties
  focus-android/gradlew
  focus-android/gradlew.bat
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-cs/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-el/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  android-components/components/feature/addons/src/main/res/values-fur/strings.xml
  android-components/components/feature/addons/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  android-components/components/feature/addons/src/main/res/values-is/strings.xml
  android-components/components/feature/addons/src/main/res/values-it/strings.xml
  android-components/components/feature/addons/src/main/res/values-kk/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-nl/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/addons/src/main/res/values-si/strings.xml
  android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  android-components/components/feature/addons/src/main/res/values-sv-rSE/strings.xml
  android-components/components/feature/addons/src/main/res/values-tg/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 120.0.20231004155628.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1856434 - Only show new Firefox Suggest suggestions for the default search engine.
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchFragmentStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchFragmentStoreTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/toolbar/SearchSelectorToolbarActionTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/toolbar/ToolbarViewTest.kt
Due: lint-fenix

Bug 1854385 - When accessing files from downloads that cannot be opened, a snack bar with an error message should appear.
  fenix/app/src/main/java/org/mozilla/fenix/library/downloads/DownloadFragment.kt
Due: lint-fenix

Bug 1856894 - Fix review checker shopping icon tint
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFeature.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/ReviewQualityCheckFeatureTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/fake/FakeShoppingExperienceFeature.kt
Due: lint-fenix

Bug 1857168 - Hide empty metadata in the add-on details view
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/Addon.kt
  android-components/components/feature/addons/src/test/java/AddonTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegate.kt
  fenix/app/src/test/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1856913 - Refactor ReviewQualityCheckVendorsService and repackage ext
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckVendorsService.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckContextualOnboarding.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityInfoCard.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ext/ProductVendor.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/fake/FakeReviewQualityCheckVendorsService.kt
Due: lint-fenix

Bug 1849525 - Fix review checker service test issue with mockito
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/DefaultReviewQualityCheckServiceTest.kt
Due: lint-fenix

Bug 1796311 - Fix "Last updated" date in addon details view
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/amo/AMOAddonsProviderTest.kt
  android-components/components/feature/addons/src/test/resources/collection_with_empty_values.json
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 120.0.20231005092542.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 120.20231005050249.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1857019 - Update Fakespot SUMO links
  fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/di/ReviewQualityCheckMiddlewareProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddlewareTest.kt
Due: lint-fenix

Bug 1855942 - Create compose version of `CFRPopupFullscreenLayout`
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopup.kt
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupForCompose.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TrayPagerAdapter.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabsAdapter.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/inactivetabs/InactiveTabs.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayFragmentTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1857171 - Normal and private browsing TestRail matching
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeHistoryTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeMediaNotificationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeSmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ComposeTabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/MediaNotificationTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivateBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/WebControlsTest.kt
  fenix/automation/taskcluster/androidTest/flank-arm-beta.yml
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  fenix/automation/taskcluster/androidTest/flank-arm-start-test.yml
Due: lint-fenix

Bug 1855620 - Set isChecked depending on mapSelectChoice
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/ChoiceAdapter.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1810047 - Fixup WebExtensionPromptFeature
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/extension/WebExtensionPromptRequest.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/WebExtensionActionTest.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonInstallationDialogFragment.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/PermissionsDialogFragment.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/PermissionsDialogFragmentTest.kt
  android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  android-components/components/support/webextensions/src/test/java/mozilla/components/support/webextensions/WebExtensionSupportTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/extension/WebExtensionPromptFeature.kt
  fenix/app/src/test/java/org/mozilla/fenix/extension/WebExtensionPromptFeatureTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1857283 - Swap blueline with oriole in flank-arm-robo-test configuration
  fenix/automation/taskcluster/androidTest/flank-arm-robo-test.yml
Due: lint-fenix

Bug 1848527 - Part 2: Enable OutdatedDocumentation detekt rule in Focus
  focus-android/quality/detekt-baseline.xml
  focus-android/quality/detekt.yml
Due: compare-locales-focus, ktlint-focus, lint-focus

Bug 1821721 - Fixed the recently visited row width. Updated layout to match Figma designs and behaviour for parity with iOS.
  fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisitedViewHolder.kt
Due: lint-fenix

Bug 1857232 - Linkify author of an add-on in the details view
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/Addon.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  android-components/components/feature/addons/src/main/res/values/strings.xml
  android-components/components/feature/addons/src/test/java/AddonTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/amo/AMOAddonsProviderTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonsManagerAdapterTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/ExtensionsTest.kt
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/addons/AddonDetailsActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegate.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonDetailsFragment.kt
  fenix/app/src/main/res/layout/fragment_add_on_details.xml
  fenix/app/src/test/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegateTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

ui-autocomplete: correct InputConnection behavior
  android-components/components/ui/autocomplete/src/main/java/mozilla/components/ui/autocomplete/InlineAutocompleteEditText.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Fix for Bug 1812875 - Do not allow closing tab during tabs selection
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolder.kt
Due: lint-fenix

Bug 1846801 – add telemetry for manage account button
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/settings/account/AccountSettingsFragment.kt
Due: lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
