Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Update Focus initial_experiments.json based on the current first-run experiments in experimenter
  focus-android/app/src/main/res/raw/initial_experiments.json
Due: compare-locales-focus, ktlint-focus, lint-focus

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-or/strings.xml
  android-components/components/compose/awesomebar/src/main/res/values-or/strings.xml
  android-components/components/feature/addons/src/main/res/values-nb-rNO/strings.xml
  android-components/components/feature/addons/src/main/res/values-or/strings.xml
  android-components/components/feature/autofill/src/main/res/values-or/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-ko/strings.xml
  android-components/components/feature/downloads/src/main/res/values-or/strings.xml
  android-components/components/feature/findinpage/src/main/res/values-or/strings.xml
  android-components/components/feature/media/src/main/res/values-or/strings.xml
  android-components/components/feature/prompts/src/main/res/values-or/strings.xml
  android-components/components/feature/pwa/src/main/res/values-or/strings.xml
  android-components/components/feature/readerview/src/main/res/values-or/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-or/strings.xml
  android-components/components/support/ktx/src/main/res/values-ko/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-or/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-or/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-be/strings.xml
  focus-android/app/src/main/res/values-nb-rNO/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 112.0.20230306211718.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1811928 - Android Components: get metrics/pings.yaml for crash pings from mozilla-central
  android-components/components/lib/crash/build.gradle
  android-components/components/lib/crash/docs/metrics.md
  android-components/components/lib/crash/metrics.yaml
  android-components/components/lib/crash/pings.yaml
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1810951 - Implement Glean-based crash pings in Fenix
  android-components/components/lib/crash/build.gradle
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/Crash.kt
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/GleanCrashReporterService.kt
  android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/GleanCrashReporterServiceTest.kt
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  docs/changelog.md
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1820552 - Increase Site's field x button in Add new login
  fenix/app/src/main/res/layout/fragment_add_login.xml
Due: lint-fenix

Bug 1820169 - Ensure shortcuts snackbars are shown
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarMenuControllerTest.kt
Due: lint-fenix

Bug 1817519 – force search for not default engines
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogController.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/toolbar/ToolbarView.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/toolbar/ToolbarViewTest.kt
Due: lint-fenix

Bug 1820193 - new addPDFToHomeScreenTest UI smoke test and other refactoring work
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddToHomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
Due: lint-fenix

Bug 1820501 - Create new pdfFindInPageTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/FindInPageRobot.kt
Due: lint-fenix

Bug 1820501 - Add missing steps to findInPageTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
Due: lint-fenix

Bug 1820746 - Remove running conditions for UI tests related to the PDF reader feature
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: lint-fenix

Bug 1820746 - Remove running condition from youControlYourDataCardTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/OnboardingTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230307095602.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1820559 - Remove PlacesStorage maintenance feature flag for enabling the feature to all users.
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: lint-fenix

Bug 1805409 - Ship v112.0.0 of the WebCompat System Addon
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/shims.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1694470-myvidster.com-content-not-shown.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1754473-m.intl.taobao.com-number-arrow-buttons-overlapping-fix.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1800127-www.burgerking.es-webkit-fill-available-fix.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1448747-fastclick-shim.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1778239-m.pji.co.kr-banner-hide.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1818818-fastclick-legacy-shim.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1819450-cmbchina.com-ua-change.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1819476-axisbank.com-webkitSpeechRecognition-shim.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1819678-cnki.net-undisable-search-field.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1817029 - Add the client-deduplication ping
  fenix/app/metrics.yaml
  fenix/app/pings.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
Due: lint-fenix

Bug 1817245 - new Nimbus feature for controlling client-deduplication ping
  fenix/.experimenter.yaml
  fenix/nimbus.fml.yaml
Due: lint-fenix

Bug 1819645 - Limit the cookie banner re-engagement dialog to a maximum of two shows
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
Due: lint-fenix

Bug 1817029 - Suggested changes
  fenix/app/metrics.yaml
  fenix/app/pings.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/ActivationPing.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
Due: lint-fenix

Bug 1817029 - update comment about hashing
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
Due: lint-fenix

Bug 1817029 - add the GleanTestRule for tests
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
Due: lint-fenix

Bug 1817029 - remove unnecessary call to main thread
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: lint-fenix

Bug 1817029 - remove unnecessary pass-through function
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationLifecycleObserver.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPing.kt
Due: lint-fenix

Bug 1817029 - Update fenix/.experimenter.yaml
  fenix/.experimenter.yaml
  fenix/nimbus.fml.yaml
Due: lint-fenix

Bug 1817029 - Update fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/clientdeduplication/ClientDeduplicationPingTest.kt
Due: lint-fenix

Bug 1819254 - Don't exit fullscreen for user input prompts (backport #1133)
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/ext/PromptRequest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/PromptFeatureTest.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/ext/PromptRequestTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1820036 - Add Matrix labeling on Firebase Test Lab
  fenix/automation/taskcluster/androidTest/ui-test.sh
  taskcluster/android_taskgraph/transforms/test.py
  taskcluster/ci/ui-test-apk/kind.yml
Due: lint-fenix

Bug 1812247 - Increase tap area for history item's delete button
  fenix/app/src/main/java/org/mozilla/fenix/library/LibrarySiteItemView.kt
  fenix/app/src/main/res/layout/library_site_item.xml
Due: lint-fenix

Bug 1814988 - Add paging to `TabsTray`
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: buildconfig-fenix, lint-fenix
