Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

ui-glean:
  component: samples-glean
  description: Run ui tests for glean sample
  treeherder:
    symbol: ui-samples-glean

Update GeckoView (Nightly) to 119.0.20230829094821.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

add test_dashboard hook
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

add single test for sandbox testing
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: lint-fenix

add test script for ci
  fenix/automation/taskcluster/androidTest/test_dashboard.py
Due: lint-fenix

fix parse error
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

update target test script
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

remove additional tasks for testing
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

change branch hook to 'jackie' for testing
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

fix test commands block
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Bug 1845098 - stop passing --parallel to gradle in external-gradle-dependencies tasks
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
Due: none

Bug 1845098 - detect external-gradle-dependencies hangs and automatically retry the task
  taskcluster/ci/external-gradle-dependencies/kind.yml
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
Due: none

Bug 1842250 - Refactor the remaining HistoryController functions to lib-state
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragmentStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistoryNavigationMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistoryTelemetryMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/state/bindings/MenuBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/viewholders/HistoryListItemViewHolder.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/HistoryFragmentStoreTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistoryNavigationMiddlewareTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistoryTelemetryMiddlewareTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/library/history/state/bindings/MenuBindingTest.kt
Due: lint-fenix

Revert "Bug 1837325 - Remove navigation library duplication from FenixDependencies."
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/build.gradle
  fenix/build.gradle
  fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Revert "Bug 1837325 - Use alternative ways to get backQueue elements."
  fenix/app/src/main/java/org/mozilla/fenix/ext/NavController.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogFragmentTest.kt
Due: lint-fenix

Revert "Bug 1837325 - Upgrade navigation to latest version."
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1850473 - Update Jetpack Compose.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/app/build.gradle
  focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: buildconfig-focus, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1850473 - Provide pageCount through pagerState.
  fenix/app/src/main/java/org/mozilla/fenix/compose/PagerIndicator.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/JunoOnboardingScreen.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
Due: lint-fenix

Bug 1796189 - List extensions installed outside the list of featured extensions
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/Addon.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonsProvider.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  android-components/components/feature/addons/src/test/java/AddonManagerTest.kt
  android-components/components/feature/addons/src/test/java/AddonTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/amo/AMOAddonsProviderTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/extension/WebExtensionPromptFeature.kt
  fenix/app/src/test/java/org/mozilla/fenix/extension/WebExtensionPromptFeatureTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1845231 - Adds a mask to the tab counter in private mode
  android-components/.buildconfig.yml
  android-components/components/ui/icons/src/main/res/drawable/mozac_ic_private_mode_12.xml
  android-components/components/ui/tabcounter/build.gradle
  android-components/components/ui/tabcounter/src/main/java/mozilla/components/ui/tabcounter/TabCounter.kt
  android-components/components/ui/tabcounter/src/main/res/drawable/mozac_ui_tabcounter_badge.xml
  android-components/components/ui/tabcounter/src/main/res/layout/mozac_ui_tabcounter_layout.xml
  android-components/components/ui/tabcounter/src/test/java/mozilla/components/ui/tabcounter/TabCounterTest.kt
  docs/changelog.md
  fenix/app/src/main/java/org/mozilla/fenix/home/TabCounterView.kt
  fenix/app/src/main/res/layout/fragment_home.xml
  fenix/app/src/test/java/org/mozilla/fenix/home/TabCounterViewTest.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1850375: remove color now useless after removing an unused drawable
  focus-android/app/src/main/res/values-night/colors.xml
  focus-android/app/src/main/res/values/colors.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Update GeckoView (Beta) to 118.0.20230829180158.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Import translations from android-l10n
  fenix/app/src/main/res/values-am/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-dsb/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-hr/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230829211224.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
