Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Update GeckoView (Nightly) to 123.0.20240115094619.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Set version to 122.0
  version.txt
Due: none

Switch to GeckoView Release
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1828927 - Remove accidental debug logs
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1874148 - AddMODE_BACKGROUND_ACTIVITY_START_ALLOWED to sendNonFatalCrashIntent on CrashReporter.
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/CrashReporter.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1874124 - Add foregroundServiceType for Crash Services and FOREGROUND_SERVICE_SPECIAL_USE permission.
  android-components/components/lib/crash/src/main/AndroidManifest.xml
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1872971 - Move CODEOWNERS file to correct location
  CODEOWNERS
  android-components/CODEOWNERS
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1874675 - Replaced usages of runBlocking in MessageNotificationWorker
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/messaging/MessageNotificationWorker.kt
Due: buildconfig-fenix, compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1567912 - Switch pushed Focus Beta/Release to AAB builds (#5149)
  taskcluster/ci/mark-as-shipped/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/push-bundle/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: none

Bug 1874733 - Add exported flag to broadcast receiver for notification dismissal.
  android-components/components/feature/media/src/main/java/mozilla/components/feature/media/middleware/RecordingDevicesMiddleware.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1865306 - Decouple HomeActivity and ExternalAppBrowserActivity RFC
  docs/rfcs/0011-decouple-home-activity-and-external-app-browser-activity.md
Due: none

Bug 1874146 - Add package to attributionIntent on LoginDatasetBuilder.
  android-components/components/feature/autofill/src/main/java/mozilla/components/feature/autofill/response/dataset/LoginDatasetBuilder.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Release) to 122.0.20240115163159.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1874771 - Only run 'github-push' Taskcluster tasks against main and release branches
  .taskcluster.yml
Due: none

Update GeckoView (Nightly) to 123.0.20240115203916.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-rm/strings.xml
  android-components/components/feature/media/src/main/res/values-es/strings.xml
  android-components/components/feature/media/src/main/res/values-eu/strings.xml
  android-components/components/feature/media/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/media/src/main/res/values-hu/strings.xml
  android-components/components/feature/media/src/main/res/values-is/strings.xml
  android-components/components/feature/media/src/main/res/values-nl/strings.xml
  android-components/components/feature/media/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/media/src/main/res/values-rm/strings.xml
  android-components/components/feature/media/src/main/res/values-sq/strings.xml
  android-components/components/feature/media/src/main/res/values-tr/strings.xml
  android-components/components/feature/prompts/src/main/res/values-es/strings.xml
  android-components/components/feature/prompts/src/main/res/values-eu/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/prompts/src/main/res/values-hu/strings.xml
  android-components/components/feature/prompts/src/main/res/values-is/strings.xml
  android-components/components/feature/prompts/src/main/res/values-nl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/prompts/src/main/res/values-rm/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sq/strings.xml
  android-components/components/feature/prompts/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-eo/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1850006 - conservative flag limits to mozilla services only
  android-components/components/concept/fetch/src/test/java/mozilla/components/concept/fetch/RequestTest.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/amo/AMOAddonsProviderTest.kt
  android-components/components/service/contile/src/main/java/mozilla/components/service/contile/ContileTopSitesProvider.kt
  android-components/components/service/glean/src/main/java/mozilla/components/service/glean/net/ConceptFetchHttpUploader.kt
  android-components/components/service/location/src/main/java/mozilla/components/service/location/MozillaLocationService.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRaw.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/stories/api/PocketEndpointRaw.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/ext/ConceptFetchKtTest.kt
  android-components/components/support/images/src/main/java/mozilla/components/support/images/compose/loader/ImageLoader.kt
  fenix/app/src/main/java/org/mozilla/fenix/ext/Client.kt
  fenix/app/src/main/java/org/mozilla/fenix/perf/ProfilerUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  fenix/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcher.kt
  fenix/app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperDownloaderTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcherTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1850006 - make conservative to be a parameter of Request
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1874804 - Replace ClearFlags with Engine.BrowsingData
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/permission/GeckoSitePermissionsStorage.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/permission/GeckoSitePermissionsStorageTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 123.0.20240116050321.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1872996 - Increase the LongParameterList functionThreshold to support Compose functions
  android-components/README.md
  android-components/config/detekt-baseline.xml
  android-components/config/detekt.yml
  fenix/config/detekt.yml
  fenix/detekt-baseline.xml
  focus-android/quality/detekt-baseline.xml
  focus-android/quality/detekt.yml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1861616 - Prevent Custom Tabs from stopping background media
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: detekt-fenix, lint-fenix

Bug 1874880 - Update Mockito to version 5.9.0
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1874148 - Add activityOptions to send in CrashReporter.
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/CrashReporter.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1866133 - Add additional headers for Google search
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/request/RequestInterceptor.kt
  fenix/app/src/main/java/org/mozilla/fenix/AppRequestInterceptor.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Services.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/UrlRequestInterceptor.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogController.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/UrlRequestInterceptorTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogControllerTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update kind.yml removing conditioned profiles
  taskcluster/ci/browsertime/kind.yml
Due: none

Update GeckoView (Nightly) to 123.0.20240116163721.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1870939 - Add Share Page to PageActions in Toolbar
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
Due: detekt-fenix, lint-fenix

Bug 1874298 - Add Reload Page action to PageActions in Toolbar
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/feature/media/src/main/res/values-da/strings.xml
  android-components/components/feature/media/src/main/res/values-fr/strings.xml
  android-components/components/feature/media/src/main/res/values-gn/strings.xml
  android-components/components/feature/prompts/src/main/res/values-da/strings.xml
  android-components/components/feature/prompts/src/main/res/values-fr/strings.xml
  android-components/components/feature/prompts/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix
