Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/focus-android/build/reports
      type: directory

detekt-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - detekt
    - githubLintDetektDetails
    - mozilla-detekt-rules:test
  treeherder:
    symbol: detekt(fenix)
  worker:
    artifacts:
    - name: public/reports
  ...

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

try to trigger a test
  fenix/app/src/test/java/org/mozilla/fenix/FenixApplicationTest.kt
Due: detekt-fenix, lint-fenix

Bug 1870933 - Remove Tabs and Menu buttons from HomeFragment
  fenix/app/src/main/java/org/mozilla/fenix/home/ToolbarView.kt
Due: detekt-fenix, lint-fenix

Bug 1864760 - Hide Menu, Home, and Tab counter button from BrowserFragment Toolbar.
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarView.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultToolbarIntegrationTest.kt
Due: detekt-fenix, lint-fenix

Bug 1870939 - Add Share Page to PageActions in Toolbar
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
Due: detekt-fenix, lint-fenix

Bug 1874298 - Add Reload Page action to PageActions in Toolbar
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1872184 - Rate limit auth recovery checks
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/GlobalAccountManager.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/sync/WorkManagerSyncManager.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/manager/GlobalAccountManagerTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1879649 - Set the data path for the Suggest component
  android-components/components/feature/fxsuggest/src/main/java/mozilla/components/feature/fxsuggest/FxSuggestStorage.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-br/strings.xml
  fenix/app/src/main/res/values-bg/strings.xml
  fenix/app/src/main/res/values-br/strings.xml
  fenix/app/src/main/res/values-bs/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-dsb/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1876820 - Add translation fetch downloaded languages action
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/TranslationsMiddleware.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/TranslationsStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/TranslationsBrowserState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/TranslationsActionTest.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/TranslationsMiddlewareTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/translate/TranslationOperation.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 125.20240302000149.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240301220844.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update Glean to 58.0.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240302101852.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1883197 - Fix androidx.navigation:navigation-ui version number
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
Due: compare-locales-focus, detekt-focus, detekt-fenix, ktlint-focus, lint-focus, lint-fenix

Update GeckoView (Nightly) to 125.0.20240302215519.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240303091237.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/engine-system/src/main/res/values-ast/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ast/strings.xml
  android-components/components/browser/menu/src/main/res/values-gl/strings.xml
  android-components/components/feature/addons/src/main/res/values-gl/strings.xml
  android-components/components/feature/media/src/main/res/values-gl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-es-rES/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-gl/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  focus-android/app/src/main/res/values-eu/strings.xml
  focus-android/app/src/main/res/values-ko/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 125.0.20240303213416.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1862289 - Translations UI Integration Low Data Translate
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogStore.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DownloadLanguageFileDialog.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/LanguageDialogPreferenceFragment.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/translations/TranslationsDialogBindingTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/translations/TranslationsDialogMiddlewareTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/translations/TranslationsDialogReducerTest.kt
Due: detekt-fenix, lint-fenix

Bug 1883319 - Focus: tag englishSystemLocaleTest as smoke UI test
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/SettingsGeneralTest.kt
Due: compare-locales-focus, detekt-focus, ktlint-focus, lint-focus

Bug 1883065 - Fix tab strip visibility issue on custom tabs
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: detekt-fenix, lint-fenix

Bug 1883005 - Add logs to SyncSignInRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SyncSignInRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1883014 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SystemSettingsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1883014 - Add logs to SystemSettingsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SystemSettingsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1883331 - Add logs to SitePermissionsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SitePermissionsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1883331 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SitePermissionsRobot.kt
Due: detekt-fenix, lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
