Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1850473 - Provide pageCount through pagerState.
  fenix/app/src/main/java/org/mozilla/fenix/compose/PagerIndicator.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/JunoOnboardingScreen.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
Due: lint-fenix

Bug 1850473 - Update Jetpack Compose.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/app/build.gradle
  focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: buildconfig-focus, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1841582 - Opening link from shortcuts should display the page.
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
Due: lint-fenix

Bug 1850673 - Enable the `mozAddonManager` web API on Fenix Beta builds
  fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
Due: lint-fenix

Bug 1795650 - Status bar and navigation bar colours should be the same, like toolbar colours.
  android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1849564 - Add support for CFR popup centered alignment
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopup.kt
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayout.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayoutTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1850623 - Register tab/action handlers when an extension has been installed.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 119.0.20230830042643.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1837325 - Remove navigation library duplication from FenixDependencies."
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/app/build.gradle
  fenix/build.gradle
  fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1850375: remove color now useless after removing an unused drawable
  focus-android/app/src/main/res/values-night/colors.xml
  focus-android/app/src/main/res/values/colors.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230830141844.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1837325 - Upgrade navigation to latest version."
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Revert "Bug 1837325 - Use alternative ways to get backQueue elements."
  fenix/app/src/main/java/org/mozilla/fenix/ext/NavController.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogFragmentTest.kt
Due: lint-fenix

Bug 1849009 – extended fullscreen mode to utilize the notch area
  android-components/components/feature/pwa/src/test/java/mozilla/components/feature/pwa/feature/WebAppActivityFeatureTest.kt
  android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Activity.kt
  android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/view/ActivityTest.kt
  docs/changelog.md
  focus-android/app/src/test/java/org/mozilla/focus/browser/integration/FullScreenIntegrationTest.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Import translations from android-l10n
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-trs/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
Due: lint-fenix

Update GeckoView (Nightly) to 119.0.20230830212731.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update A-S to 119.20230831050227.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1847740 - Add navigation middleware for review quality check
  fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ReviewQualityCheckFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/di/ReviewQualityCheckMiddlewareProvider.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckAction.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/store/ReviewQualityCheckState.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ReviewQualityCheckBottomSheet.kt
  fenix/app/src/test/java/org/mozilla/fenix/shopping/middleware/ReviewQualityCheckNavigationMiddlewareTest.kt
Due: lint-fenix

Bug 1810780 - Add reorder gesture to composed tabs tray
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabListItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeGridViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeListViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ReorderableGrid.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ReorderableList.kt
Due: lint-fenix

Bug 1850796 - Handle onSaveInstanceState signature updates.
  fenix/app/src/main/java/org/mozilla/fenix/settings/TextPercentageSeekBarPreference.kt
Due: lint-fenix

Bug 1850796 - Handle onCreateView signature updates.
  fenix/app/src/main/java/org/mozilla/fenix/settings/autofill/AutofillSettingFragment.kt
Due: lint-fenix

Bug 1850796 - Handle OnPreferenceTreeClickListener signature updates.
  fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
Due: lint-fenix

Bug 1850796 - Upgrade preference library to latest version.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/app/build.gradle
  focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: buildconfig-focus, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus

Bug 1850796 - Handle preferenceToScrollTo arg nullability.
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: lint-fenix

Bug 1850796 - Handle preference icon nullability.
  fenix/app/src/main/java/org/mozilla/fenix/settings/account/AccountSettingsFragment.kt
Due: lint-fenix
