Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1804377 - Navigate to tab history only from browser fragment.
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: lint-fenix

Bug 1816867 - Ensure Pocket topics selections are properly shown
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/Chip.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Due: lint-fenix

Bug 1814678 - Enable pull to refresh in beta also
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Due: lint-fenix

Improve prompts UX
  android-components/.buildconfig.yml
  android-components/components/feature/prompts/build.gradle
  android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
  android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/PromptFeatureTest.kt
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1817726 - Add Recents url sharing
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: lint-fenix

Bug 1816433 - Reduce maybeFetchExperiments interval when using the preview collection
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230220165121.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-co/strings.xml
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  android-components/components/feature/addons/src/main/res/values-es/strings.xml
  android-components/components/feature/addons/src/main/res/values-fi/strings.xml
  android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  android-components/components/feature/addons/src/main/res/values-ja/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rTW/strings.xml
  fenix/app/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-es/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  focus-android/app/src/main/res/values-co/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1815634 - Set weight and fill to text to display collection expand
  fenix/app/src/main/java/org/mozilla/fenix/compose/list/ExpandableListHeader.kt
Due: lint-fenix

Add FLAG_SECURE to SearchDialogFragment
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogFragmentTest.kt
Due: lint-fenix

Update GeckoView (Nightly) to 112.0.20230221052246.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1816879 - Move credit cards autofill related UI tests to a new class
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
Due: lint-fenix

Bug 1816879 - Part 1: New credit card autofill related UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CreditCardAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: lint-fenix

Bug 1812468 - Consider increasing the Standard and Strict options
  fenix/app/src/main/res/layout/onboarding_tracking_protection.xml
Due: lint-fenix

Bug 1812251 - making the URL icons from the Bookmarks page larger
  fenix/app/src/main/java/org/mozilla/fenix/library/LibrarySiteItemView.kt
  fenix/app/src/main/res/values/dimens.xml
Due: lint-fenix

Bug 1812175 - Turn on Sync page and touch target suggestion is displayed.
  fenix/app/src/main/java/org/mozilla/fenix/settings/account/TurnOnSyncFragment.kt
  fenix/app/src/main/res/layout/fragment_turn_on_sync.xml
Due: lint-fenix

Bug 1815992 - Migrated shared-docs into the monorepo
  docs/shared/android/CONTRIBUTING.md
  docs/shared/android/CONTRIBUTING_code.md
  docs/shared/android/accessibility_guide.md
  docs/shared/android/android_guide.md
  docs/shared/android/automation.md
  docs/shared/android/configure_java.md
  docs/shared/android/device_testing.md
  docs/shared/android/docker_guide.md
  docs/shared/android/fretboard.md
  docs/shared/android/images/double-nav.gif
  docs/shared/android/images/single-nav.gif
  docs/shared/android/kotlin_guide.md
  docs/shared/android/sprint_process.md
  docs/shared/android/taskcluster_guide.md
  docs/shared/android/testing.md
  docs/shared/android/ui-testing.md
  docs/shared/android/workmanager_faq.md
  docs/shared/android/writing_lint_rules.md
  docs/shared/git_guide.md
  docs/shared/im/sentry_dsn_click.png
  docs/shared/rfc/wallpapers_v2_network_improvements.md
  docs/shared/sentry_guide.md
Due: none

Bug 1817432 - Always setup notification workers even if marketing channel has not been created
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: lint-fenix

Bug 1815185 - Remove fixed height from `RecentSyncedTab`
  fenix/app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
Due: lint-fenix

Bug 1814986 - Create the logic fork for the Tabs Tray to Compose rewrite
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
Due: lint-fenix

Update the release checklist to reflect relman bumping version.txt in main, fenix repo migration, and chron job timing changes
  docs/contribute/release_checklist.md
Due: none

Update GeckoView (Beta) to 111.0.20230221190142.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1815939 - Clean up AC autopublish code in Fenix and Focus
  fenix/README.md
  fenix/app/build.gradle
  fenix/settings.gradle
  focus-android/README.md
  focus-android/app/build.gradle
  focus-android/settings.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1816932 - Add Maps to app links common sub domains
  android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksInterceptor.kt
  android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksInterceptorTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-en-rCA/strings.xml
  android-components/components/feature/addons/src/main/res/values-su/strings.xml
  android-components/components/feature/addons/src/main/res/values-th/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  android-components/components/feature/app-links/src/main/res/values-su/strings.xml
  fenix/app/src/main/res/values-su/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-su/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix
