Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/focus-android/build/reports
      type: directory

detekt-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - detekt
    - githubLintDetektDetails
    - mozilla-detekt-rules:test
  treeherder:
    symbol: detekt(fenix)
  worker:
    artifacts:
    - name: public/reports
  ...

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

Update GeckoView (Nightly) to 125.0.20240220212334.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240221090755.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880077 - Switch to using Compose BOM instead of individual versioning
  android-components/components/browser/state/build.gradle
  android-components/components/compose/awesomebar/build.gradle
  android-components/components/compose/cfr/build.gradle
  android-components/components/feature/autofill/build.gradle
  android-components/components/lib/state/build.gradle
  android-components/components/support/images/build.gradle
  android-components/components/ui/colors/build.gradle
  android-components/components/ui/tabcounter/build.gradle
  android-components/components/ui/widgets/build.gradle
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  android-components/samples/browser/build.gradle
  android-components/samples/compose-browser/build.gradle
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1881238 - Add logs to SettingsSubMenuHttpsOnlyModeRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuHttpsOnlyModeRobot.kt
Due: detekt-fenix, lint-fenix

Update A-S to 125.20240222050253.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240221213323.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-ia/strings.xml
  android-components/components/feature/addons/src/main/res/values-br/strings.xml
  android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  android-components/components/feature/prompts/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-br/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  focus-android/app/src/main/res/values-lo/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1880476 — Messaging: promote NimbusMessagingController to components.nimbus.messaging
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingController.kt
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingControllerInterface.kt
  android-components/components/service/nimbus/src/test/java/mozilla/components/service/nimbus/messaging/NimbusMessagingControllerTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingMessageTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/NimbusComponents.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/messaging/DefaultMessageController.kt
  fenix/app/src/main/java/org/mozilla/fenix/messaging/FenixNimbusMessagingController.kt
  fenix/app/src/main/java/org/mozilla/fenix/messaging/MessageNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/messaging/state/MessagingMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/messaging/DefaultMessageControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/messaging/state/MessagingMiddlewareTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1881238 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuHttpsOnlyModeRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1877881 - Prevent crash when downloadStatus is not present.
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/manager/FetchDownloadManager.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/manager/FetchDownloadManagerTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1881016 - Added experimental onboarding strings for Nimbus
  fenix/app/src/main/res/values/strings.xml
Due: detekt-fenix, lint-fenix

Bug 1881336 - Remove telemetry probes expiring in v125
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
Due: detekt-fenix, lint-fenix

Bug 1880476 — Move nimbus from components.analytics to components.nimbus
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/Experimentation.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingMessageTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingTriggerTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/BackgroundServices.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/NimbusComponents.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/messaging/MessageNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/NimbusBranchesFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/NimbusExperimentsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/DataChoicesFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/studies/StudiesFragment.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/BackgroundServicesTest.kt
Due: detekt-fenix, lint-fenix

Bug 1881491 - Add logs to SettingsSubMenuLoginsAndPasswordRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1881561 - Update serp telemetry json dump
  android-components/components/feature/search/src/main/assets/search/search_telemetry_v2.json
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1881326 - Update Sentry to version 7.4.0
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1881733 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1881338 - Update telemetry expiry handling in release checklist
  docs/contribute/release_checklist.md
Due: none

Bug 1881733 - Remove redundant assertion functions from SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Due: detekt-fenix, lint-fenix

Update GeckoView (Nightly) to 125.0.20240222103314.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1880476 — Refactor onMessageDisplayed bookkeeping
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingController.kt
  android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorage.kt
  android-components/components/service/nimbus/src/test/java/mozilla/components/service/nimbus/messaging/NimbusMessagingControllerTest.kt
  android-components/components/service/nimbus/src/test/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorageTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/messaging/DefaultMessageControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/messaging/state/MessagingMiddlewareTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1881733 - Add logs to SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-fur/strings.xml
  android-components/components/browser/menu/src/main/res/values-hy-rAM/strings.xml
  android-components/components/browser/menu/src/main/res/values-sl/strings.xml
  android-components/components/feature/addons/src/main/res/values-fur/strings.xml
  android-components/components/feature/addons/src/main/res/values-hy-rAM/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  android-components/components/feature/media/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-azb/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-oc/strings.xml
  focus-android/app/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1881347 - Update Compose Compiler to version 1.5.10
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1881491 - Convert private variables to functions so they don't get initialised
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1881489 - Add logs to SettingsSubMenuLoginsAndPasswordOptionsToSaveRobot
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordOptionsToSaveRobot.kt
Due: detekt-fenix, lint-fenix

Bug 1881296 - Add item to release checklist to add search-telemtry-v2.json dump
  docs/contribute/release_checklist.md
Due: none

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-th/strings.xml
  android-components/components/feature/addons/src/main/res/values-bs/strings.xml
  android-components/components/feature/addons/src/main/res/values-cs/strings.xml
  android-components/components/feature/addons/src/main/res/values-th/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  android-components/components/feature/prompts/src/main/res/values-sl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-azb/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-bs/strings.xml
  focus-android/app/src/main/res/values-de/strings.xml
  focus-android/app/src/main/res/values-dsb/strings.xml
  focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-es-rAR/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-hsb/strings.xml
  focus-android/app/src/main/res/values-it/strings.xml
  focus-android/app/src/main/res/values-kk/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1804636 - Allow search terms to be refined in content
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/SystemEngineView.kt
  android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/SystemEngineViewTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ContentStateReducer.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/ContentActionTest.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/EngineSessionTest.kt
  android-components/config/detekt-baseline.xml
  android-components/plugins/dependencies/src/main/java/Gecko.kt
  docs/changelog.md
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1853107 - Fix a race condition on getOrCreateEngineSession
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/CreateEngineSessionMiddleware.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1853107 - Fix a race condition on CreateEngineSession
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/CreateEngineSessionMiddleware.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240223210323.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240224093754.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/menu/src/main/res/values-hu/strings.xml
  android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-gl/strings.xml
  focus-android/app/src/main/res/values-hu/strings.xml
  focus-android/app/src/main/res/values-iw/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-pa-rIN/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Nightly) to 125.0.20240224211946.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 125.0.20240225092952.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
