Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1814116 - Open in Background Tab Menu
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSiteItemMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSiteItemViewHolder.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/detekt-baseline.xml
Due: lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1817052 - Build Android nightlies 6 hours after Desktop's
  .cron.yml
Due: none

Bug 1817003 - Remove low capacity ARM device on FTL
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
Due: lint-fenix

Bug 1811751 - reading time disappears on page refresh
  android-components/components/feature/readerview/src/main/assets/extensions/readerview/readerview.js
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Beta) to 111.0.20230216185941.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-my/strings.xml
  android-components/components/feature/app-links/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-en-rCA/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Update GeckoView (Nightly) to 112.0.20230216213942.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Uplift Fenix strings from main to releases_v111
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-en-rCA/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
Due: lint-fenix

Uplift Focus strings from main to releases_v111
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
Due: compare-locales-focus, ktlint-focus, lint-focus

Uplift AC strings from main to releases_v111
  android-components/components/browser/errorpages/src/main/res/values-my/strings.xml
  android-components/components/feature/app-links/src/main/res/values-nn-rNO/strings.xml
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1813086 - Minimum height and width add to url icon
  fenix/app/src/main/res/layout/library_site_item.xml
  fenix/app/src/main/res/values/dimens.xml
Due: lint-fenix

Bug 1813086 - Added minimum height and width property to URL
  fenix/app/src/main/res/layout/library_site_item.xml
  fenix/app/src/main/res/values/dimens.xml
Due: lint-fenix

Bug 1813877 - Announce page title with talkback when swiping on navbar Talkback now announces the name of the tab switched to using swipe left or right gestures on the navbar
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/res/layout/fragment_browser.xml
Due: lint-fenix

Bug 1807369 - Improve accessibility for 'Learn more' hyperlink from the Pocket homepage header
  fenix/app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
  fenix/app/src/main/res/values/strings.xml
Due: lint-fenix

Change swipeLeftToRemoveTabFromCollectionTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
Due: lint-fenix

Change collection expansion and collapse
  fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/MatcherHelper.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/CollectionRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: lint-fenix

Add logs and verify collection is displayed before expanding it
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/TabDrawerRobot.kt
Due: lint-fenix

Change swipeRightToRemoveTabFromCollectionTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
Due: lint-fenix

Change mainMenuSaveToExistingCollection UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
Due: lint-fenix

Bug 1817398 - Run `external-gradle-dependencies-lint-fenix` when `Dependencies.kt` changes
  taskcluster/ci/external-gradle-dependencies/kind.yml
Due: none

Update GeckoView (Nightly) to 112.0.20230217091713.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Run UI test on Firebase
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: lint-fenix

Bug 1816724 - Show previous ETP message in onboarding if TCP is not enabled
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/OnboardingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingTrackingProtectionViewHolder.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingTrackingProtectionViewHolderTest.kt
Due: lint-fenix

Bug 1817439 - l10n workflows: add github-actions[bot] as author for uplift (sync) workflows
  .github/workflows/ac-sync-strings.yml
  .github/workflows/fenix-sync-strings.yml
  .github/workflows/focus-sync-strings.yml
Due: none
