Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh

Bug 1814995 - Add private tabs to `TabsTray`
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
Due: lint-fenix

Bug 1819153 - Add androidx tracing dependency to resolve NoSuchMethodError
  fenix/app/build.gradle
  focus-android/app/build.gradle
Due: buildconfig-focus, buildconfig-fenix, compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Bug 1822394 - Fix intermittent failures in MessagingMiddlewareTest
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Due: lint-fenix

Bug 1822750 - Add option to open default browser help page in custom tab
  fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
Due: lint-fenix

Bug 1816059 - Show the notification for entering fullscreen as a Toast
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/FullScreenIntegration.kt
  focus-android/app/src/test/java/org/mozilla/focus/browser/integration/FullScreenIntegrationTest.kt
Due: compare-locales-focus, ktlint-focus, lint-focus, lint-fenix

Update GeckoView (Nightly) to 113.0.20230316092607.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1809815 - Ensure Show from the Recently visited section is seen by Talkback as a button.
  fenix/app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
Due: lint-fenix

Bug 1822804 - Update jna to version 5.13.0
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  fenix/buildSrc/src/main/java/FenixDependencies.kt
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Bug 1813450 - Increase tap area for autocomplete edit text in address bar
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: lint-fenix

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1821479 - Add support for fullscreen custom tabs
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabSessionState.kt
  android-components/components/feature/session/src/main/java/mozilla/components/feature/session/FullScreenFeature.kt
  android-components/components/feature/session/src/test/java/mozilla/components/feature/session/FullScreenFeatureTest.kt
  android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/CustomTabsUseCases.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  fenix/app/src/test/java/org/mozilla/fenix/browser/BrowserFragmentTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/SupportUtilsTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components, lint-fenix

Bug 1807558 - Stop treating ETP options in settings as clickable
  fenix/app/src/main/res/layout/fragment_tracking_protection_blocking.xml
Due: lint-fenix

Update GeckoView (Nightly) to 113.0.20230316125715.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1819950 - Ensure a change of orientation on new Androids will dismiss CFRs
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/helper/DisplayOrientationListener.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/helper/DisplayOrientationListenerTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Update Fenix initial_experiments.json based on the current first-run experiments in experimenter (#1287)
  fenix/app/src/main/res/raw/initial_experiments.json
Due: lint-fenix

Bug 1822895 - added examples of exceptions in the uplift guide doc
  docs/shared/uplift_guide.md
Due: none

Bug 1819153 - Adjust task to resolve NoSuchMethodError on Firebase Test Lab
  taskcluster/ci/startup-test/kind.yml
Due: none

Bug 1822744 - Part 1: Refactor ToolbarInteractor into their own file
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/toolbar/ToolbarInteractor.kt
Due: lint-fenix

Bug 1822744 - Part 2: Add ToolbarController for handling home toolbar related functionalities
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/toolbar/ToolbarController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/DefaultSessionControlControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/recentvisits/interactor/RecentVisitsInteractorTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/toolbar/DefaultToolbarControllerTest.kt
Due: lint-fenix

Bug 1822878 - Refactor `SelectionHolder` out of `TabsTrayController`
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/BrowserTabsAdapter.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeGridViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeListViewHolder.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolderTest.kt
Due: lint-fenix

Bug 1822899 - Limit Nimbus message display count to max display count
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorage.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorageTest.kt
Due: lint-fenix

Bug 1822269 - add androidx.activity-compose and androidx.activity-ktx dependencies
  fenix/app/build.gradle
  fenix/buildSrc/src/main/java/FenixDependencies.kt
Due: buildconfig-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/feature/contextmenu/src/main/res/values-th/strings.xml
  android-components/components/support/ktx/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Beta) to 112.0.20230316192655.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components
