Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: buildconfig-android-components, buildconfig-focus, buildconfig-fenix, compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix, unit-browser-engine-gecko-nightly, ui-browser, ui-glean, android-feature-containers, android-feature-pwa, android-feature-share, android-feature-sitepermissions, android-feature-top-sites, android-feature-logins, android-feature-prompts, android-support-ktx, android-feature-downloads, android-feature-recentlyclosed

buildconfig-android-components:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py android-components
  treeherder:
    symbol: buildconfig(AC)

buildconfig-focus:
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py focus-android
  treeherder:
    symbol: buildconfig(focus)

buildconfig-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    command: pip install --user --require-hashes --requirement taskcluster/scripts/lint/requirements.txt && taskcluster/scripts/lint/is_buildconfig_yml_up_to_date.py fenix
  treeherder:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/vcs/focus-android/build/reports
      type: directory

detekt-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - detekt
    - githubLintDetektDetails
    - mozilla-detekt-rules:test
  treeherder:
    symbol: detekt(fenix)
  worker:
    artifacts:
    - name: public/reports
  ...

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

unit-browser-engine-gecko-nightly:
  component: browser
  description: Run unit tests on device for browser component
  treeherder:
    symbol: ui-components

ui-browser:
  component: samples-browser
  description: Run ui tests for browser sample
  treeherder:
    symbol: ui-samples-browser

Bug 1868378 - Indicate the installation method when installing an add-on.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/InstallationMethod.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtensionRuntime.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonFilePicker.kt
  android-components/components/feature/addons/src/test/java/AddonManagerTest.kt
  android-components/components/feature/addons/src/test/java/mozilla/components/feature/addons/ui/AddonFilePickerTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/addons/AddonsManagementFragment.kt
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Bug 1868858 - Fix test failure SettingsAddonsTest.noCrashWithAddonInstalledTest
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAddonsTest.kt
Due: detekt-fenix, lint-fenix

Bug 1868683 - Turn on Meta attribution telemetry for all builds
  fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  android-components/components/feature/addons/src/main/res/values-de/strings.xml
  android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-el/strings.xml
  android-components/components/feature/addons/src/main/res/values-en-rGB/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  android-components/components/feature/addons/src/main/res/values-fur/strings.xml
  android-components/components/feature/addons/src/main/res/values-fy-rNL/strings.xml
  android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  android-components/components/feature/addons/src/main/res/values-hy-rAM/strings.xml
  android-components/components/feature/addons/src/main/res/values-it/strings.xml
  android-components/components/feature/addons/src/main/res/values-iw/strings.xml
  android-components/components/feature/addons/src/main/res/values-ko/strings.xml
  android-components/components/feature/addons/src/main/res/values-nl/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-pt-rBR/strings.xml
  android-components/components/feature/addons/src/main/res/values-ru/strings.xml
  android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  android-components/components/feature/addons/src/main/res/values-sv-rSE/strings.xml
  android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  android-components/components/feature/addons/src/main/res/values-vi/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rTW/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 122.0.20231207165826.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1868105 - Translations UI Refactor ListItem to support Radio Button use case.
  fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/automatic/AutomaticTranslationOptionsPreference.kt
Due: detekt-fenix, lint-fenix

Status check pauseResumeCancelDownloadTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/NotificationRobot.kt
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: detekt-fenix, lint-fenix

Update GeckoView (Beta) to 121.0.20231208091859.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1867184 - Add non-ascii urls to ToolbarPopupWindowTest
  fenix/app/src/test/java/org/mozilla/fenix/utils/ToolbarPopupWindowTest.kt
Due: detekt-fenix, lint-fenix

Bug 1867184 - Decode URLs on copy and share
  fenix/app/src/main/java/org/mozilla/fenix/share/ShareController.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/ToolbarPopupWindow.kt
Due: detekt-fenix, lint-fenix

Bug 1867184 - update changelog
  docs/changelog.md
Due: none

Update GeckoView (Nightly) to 122.0.20231208151401.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1869049 - stop periodic ingestion when FxSuggest disabled
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: detekt-fenix, lint-fenix

Bug 1869049 - stop periodic ingestion when FxSuggest disabled (#4770)
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: detekt-fenix, lint-fenix

Bug 1868886: Fix Nightly Font Telemetry
  fenix/app/src/androidTest/java/org/mozilla/fenix/components/FontParserTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontEnumerationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/fonts/FontParser.kt
Due: detekt-fenix, lint-fenix

Import translations from android-l10n
  android-components/components/compose/awesomebar/src/main/res/values-co/strings.xml
  android-components/components/feature/addons/src/main/res/values-co/strings.xml
  android-components/components/feature/addons/src/main/res/values-is/strings.xml
  android-components/components/feature/addons/src/main/res/values-kk/strings.xml
  android-components/components/feature/addons/src/main/res/values-nb-rNO/strings.xml
  android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  android-components/components/feature/addons/src/main/res/values-tg/strings.xml
  android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  android-components/components/feature/prompts/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-co/strings.xml
Due: compare-locales-android-components, compare-locales-focus, detekt-android-components, detekt-focus, detekt-fenix, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

Update GeckoView (Release) to 120.0.20231208211905.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 122.0.20231208215722.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update A-S to 122.20231209050318.
  android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 122.0.20231209093328.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-be/strings.xml
  android-components/components/feature/addons/src/main/res/values-br/strings.xml
  android-components/components/feature/addons/src/main/res/values-cs/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  android-components/components/feature/addons/src/main/res/values-eu/strings.xml
  android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  android-components/components/feature/addons/src/main/res/values-ja/strings.xml
  android-components/components/feature/addons/src/main/res/values-oc/strings.xml
  android-components/components/feature/addons/src/main/res/values-th/strings.xml
  android-components/components/feature/addons/src/main/res/values-ug/strings.xml
  android-components/components/feature/fxsuggest/src/main/res/values-br/strings.xml
  android-components/components/feature/prompts/src/main/res/values-be/strings.xml
  android-components/components/feature/prompts/src/main/res/values-br/strings.xml
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-br/strings.xml
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-ja/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Update GeckoView (Nightly) to 122.0.20231209212602.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1795449 - onOpenOptionsPage should call URL via engine session.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtension.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Bug 1868778 - Make sure the correct process type for extensions process crashes is send in "crash" pings
  android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/GleanCrashReporterService.kt
  android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/GleanCrashReporterServiceTest.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Update GeckoView (Nightly) to 122.0.20231210093611.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, detekt-android-components, ktlint-android-components, lint-android-components

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-ug/strings.xml
  android-components/components/feature/addons/src/main/res/values-bs/strings.xml
  android-components/components/feature/addons/src/main/res/values-es-rES/strings.xml
  android-components/components/feature/addons/src/main/res/values-fi/strings.xml
  android-components/components/feature/addons/src/main/res/values-pl/strings.xml
  android-components/components/feature/addons/src/main/res/values-rm/strings.xml
  android-components/components/feature/addons/src/main/res/values-ug/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pl/strings.xml
  fenix/app/src/main/res/values-pl/strings.xml
  fenix/app/src/main/res/values-ug/strings.xml
Due: compare-locales-android-components, detekt-android-components, detekt-fenix, ktlint-android-components, lint-android-components, lint-fenix

Path conditions:
  buildconfig-android-components: any of: android-components/**/build.gradle, android-components/.buildconfig.yml
  buildconfig-focus: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, focus-android/**/build.gradle, focus-android/.buildconfig.yml
  buildconfig-fenix: any of: android-components/**/build.gradle, android-components/.buildconfig.yml, fenix/**/build.gradle, fenix/.buildconfig.yml
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  detekt-android-components: any of: android-components/**
  detekt-focus: any of: focus-android/**
  detekt-fenix: any of: fenix/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
  unit-browser-engine-gecko-nightly: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-browser: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  ui-glean: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-containers: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-pwa: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-share: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-sitepermissions: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-top-sites: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-logins: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-prompts: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-support-ktx: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-downloads: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
  android-feature-recentlyclosed: any of: android-components/automation/taskcluster/androidTest/ui-test.sh
