Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

[fenix] No issue: Fix add-on name check in UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28182 fix disabled verifySearchEnginesWithRTLLocale and toggleSearchEnginesShortcutListTest UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
Due: none

Update GeckoView (Nightly) to 110.0.20221227093156.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28312)
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-pa-rPK/strings.xml
  fenix/app/src/main/res/values-sc/strings.xml
Due: none

Import l10n.
  focus-android/app/src/main/res/values-si/strings.xml
  focus-android/app/src/main/res/values-sq/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/feature/contextmenu/src/main/res/values-fur/strings.xml
  android-components/components/feature/downloads/src/main/res/values-fur/strings.xml
  android-components/components/feature/pwa/src/main/res/values-fur/strings.xml
  android-components/components/feature/qr/src/main/res/values-fur/strings.xml
  android-components/components/feature/readerview/src/main/res/values-fur/strings.xml
  android-components/components/feature/search/src/main/res/values-fur/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-fur/strings.xml
  android-components/components/feature/tabs/src/main/res/values-fur/strings.xml
  android-components/components/feature/webnotifications/src/main/res/values-fur/strings.xml
  android-components/components/lib/crash/src/main/res/values-fur/strings.xml
  android-components/components/service/nimbus/src/main/res/values-fur/strings.xml
  android-components/components/support/base/src/main/res/values-fur/strings.xml
  android-components/components/support/ktx/src/main/res/values-fur/strings.xml
  android-components/components/support/migration/src/main/res/values-fur/strings.xml
  android-components/components/support/migration/src/main/res/values-sc/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-fur/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28325)
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
Due: none

Update GeckoView (Nightly) to 110.0.20221228044022.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0.20221228143243.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Update GeckoView (Beta) to 109.0.20221227225153.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28333)
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
Due: none

Update GeckoView (Nightly) to 110.0.20221229092636.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

For Bug 1806093 Make camera permission's page scrollable in landscape mode
  focus-android/app/src/main/java/org/mozilla/focus/settings/permissions/permissionoptions/SitePermissionOptionsFragmentCompose.kt
Due: compare-locales-focus, ktlint-focus

Bug 1807920 - Make newPrivateTabSearch open only private new tabs
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0.20221229143342.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-sc/strings.xml
  android-components/components/feature/addons/src/main/res/values-sc/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-sc/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28345)
  fenix/app/src/main/res/values-sc/strings.xml
Due: none

Strings - android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 110.0.20221230044034.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0.20221230143323.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1808033 - Add content description for Dismiss Button in CFRPopupContent
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupContent.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] For bug 1807716: Move engine warmup above Glean initialization to fix crash at launch
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-is/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/browser/toolbar/src/main/res/values-pa-rPK/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28352)
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-szl/strings.xml
Due: none

Update GeckoView (Nightly) to 110.0.20221231091949.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
