Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Strings - focus-android/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-es-rCL/strings.xml
  focus-android/app/src/main/res/values-es-rCL/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-ca/strings.xml
  focus-android/app/src/main/res/values-ca/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-is/strings.xml
  focus-android/app/src/main/res/values-is/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-el/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-it/strings.xml
  focus-android/app/src/main/res/values-it/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-de/strings.xml
  focus-android/app/src/main/res/values-de/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-es-rMX/strings.xml
  focus-android/app/src/main/res/values-es-rMX/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sr/strings.xml
  focus-android/app/src/main/res/values-sr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-hu/strings.xml
  focus-android/app/src/main/res/values-hu/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-si/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sk/strings.xml
  focus-android/app/src/main/res/values-sk/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Change form data telemetry from Sharing to Performance
  fenix/app/metrics.yaml
Due: none

[fenix] Update to Android-Components 111.0.20230121143230.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-ca/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
  android-components/components/feature/search/src/main/res/values-ca/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ca/strings.xml
  android-components/components/lib/crash/src/main/res/values-ca/strings.xml
  android-components/l10n.toml
Due: compare-locales-android-components, ktlint-android-components

Bug 1810742 - Address COOKIE_BANNER_MODE_DETECT_ONLY deprecation
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1811699 - Update GeckoView (Nightly) to 111.0.20230121093030.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1811699 - Update Glean to 52.0.1.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 111.0.20230121190339.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-fur/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-lo/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-pa-rIN/strings.xml
  focus-android/app/src/main/res/values-sq/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/browser/awesomebar/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-sq/strings.xml
  android-components/components/browser/menu/src/main/res/values-kaa/strings.xml
  android-components/components/browser/menu2/src/main/res/values-kaa/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/awesomebar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/browser-toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/cfr/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  android-components/components/feature/app-links/src/main/res/values-kaa/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/awesomebar/src/main/res/values-kaa/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-kaa/strings.xml
  android-components/components/feature/customtabs/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-kaa/strings.xml
  android-components/components/feature/findinpage/src/main/res/values-kaa/strings.xml
  android-components/components/feature/pwa/src/main/res/values-kaa/strings.xml
  android-components/components/feature/readerview/src/main/res/values-kaa/strings.xml
  android-components/components/service/nimbus/src/main/res/values-kaa/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28618)
  fenix/app/src/main/res/values-ca/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: none

Strings - android-components/components/lib/crash/src/main/res/values-ca/strings.xml
  android-components/components/lib/crash/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/search/src/main/res/values-ca/strings.xml
  android-components/components/feature/search/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/sitepermissions/src/main/res/values-ca/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/browser/errorpages/src/main/res/values-ca/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fur/strings.xml
  focus-android/app/src/main/res/values-fur/strings.xml
Due: compare-locales-focus, ktlint-focus

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
