Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Strings - focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-lo/strings.xml
  focus-android/app/src/main/res/values-lo/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-pa-rIN/strings.xml
  focus-android/app/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sq/strings.xml
  focus-android/app/src/main/res/values-sq/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-uk/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fur/strings.xml
  focus-android/app/src/main/res/values-fur/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - android-components/components/feature/sitepermissions/src/main/res/values-ca/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/search/src/main/res/values-ca/strings.xml
  android-components/components/feature/search/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/browser/errorpages/src/main/res/values-ca/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/lib/crash/src/main/res/values-ca/strings.xml
  android-components/components/lib/crash/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 111.0.20230122093201.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 111.0.20230121222130.
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Update to Android-Components 111.0.20230122143304.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  android-components/components/browser/awesomebar/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-sq/strings.xml
  android-components/components/browser/menu/src/main/res/values-kaa/strings.xml
  android-components/components/browser/menu2/src/main/res/values-kaa/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/awesomebar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/browser-toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/cfr/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  android-components/components/feature/app-links/src/main/res/values-kaa/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/awesomebar/src/main/res/values-kaa/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-kaa/strings.xml
  android-components/components/feature/customtabs/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-kaa/strings.xml
  android-components/components/feature/findinpage/src/main/res/values-kaa/strings.xml
  android-components/components/feature/pwa/src/main/res/values-kaa/strings.xml
  android-components/components/feature/readerview/src/main/res/values-kaa/strings.xml
  android-components/components/service/nimbus/src/main/res/values-kaa/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Beta) to 110.0.20230122190604.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-ff/strings.xml
  android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-ff/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
  android-components/components/feature/media/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ff/strings.xml
  android-components/components/feature/readerview/src/main/res/values-ff/strings.xml
  android-components/components/feature/search/src/main/res/values-ff/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ff/strings.xml
  android-components/components/feature/tabs/src/main/res/values-kaa/strings.xml
  android-components/components/lib/crash/src/main/res/values-kaa/strings.xml
  android-components/components/support/base/src/main/res/values-kaa/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Import l10n.
  focus-android/app/src/main/res/values-es-rAR/strings.xml
  focus-android/app/src/main/res/values-ru/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28621)
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-ff/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-kmr/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
Due: none

Strings - android-components/components/feature/search/src/main/res/values-ff/strings.xml
  android-components/components/feature/search/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
  android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/prompts/src/main/res/values-ff/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
  android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/sitepermissions/src/main/res/values-ff/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/contextmenu/src/main/res/values-ff/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/readerview/src/main/res/values-ff/strings.xml
  android-components/components/feature/readerview/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/browser/errorpages/src/main/res/values-ff/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  android-components/components/feature/addons/src/main/res/values-sq/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
