Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Bug 1804258 - Emit a telemetry fact when a search term suggestion is clicked
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/facts/AwesomeBarFacts.kt
  android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SearchTermSuggestionsProvider.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/facts/AwesomeBarFactsTest.kt
  android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SearchTermSuggestionsProviderTest.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1806601 - part 3: Run `test-focus-debug` only when focus changes
  taskcluster/ci/test-focus/kind.yml
Due: none

Bug 1806601 - part 2: Run build, signing, and ui-tests only when focus changes
  taskcluster/ci/ui-test-focus/kind.yml
Due: none

Bug 1806601 - part 1: Run `sample-browser` jobs by factorizing optimization in `gradle_optimization`
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/android_taskgraph/transforms/gradle_optimization.py
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/test-components/kind.yml
Due: none

[fenix] Update to Android-Components 110.0.20221220143331.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Bug 1796319 - Select existing addon settings tab if already opened
  fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
Due: none

Bug 1806435 - Add CookieBannerHandlingMode.DETECT_ONLY
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Bug 1806707 - Update Sentry to version 6.10.0
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Bug 1806652 - Downgrade appcompat and material libraries.
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 110.0.20221220190216.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1805832 - Add additional checked casts.
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ext/Bundle.kt
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/BundleTest.kt
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Beta) to 109.0.20221220185745.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Import l10n.
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 110.0.20221221024602.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1806411: Remove image link from message when sharing an image
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/share/ShareDownloadFeature.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/share/ShareDownloadFeatureTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 110.0.20221220214632.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1806804 - part 2: Make github-release components task part of the ship graph
  taskcluster/ci/github-release-components/kind.yml
Due: none

Bug 1806804 - part 1: Add ship-beta parameters file
  taskcluster/test/params/main-repo-ship-beta.yml
  taskcluster/test/params/main-repo-ship-release.yml
Due: none

Bug 1806804 - part 3: Let Github release task create their own specific tag
  taskcluster/android_taskgraph/transforms/github_release.py
  taskcluster/ci/github-release-apks/kind.yml
  taskcluster/ci/github-release-components/kind.yml
Due: none

Bug 1806804 - part 4: Mark A-C betas as pre-release
  taskcluster/android_taskgraph/__init__.py
  taskcluster/android_taskgraph/transforms/github_release.py
  taskcluster/ci/github-release-components/kind.yml
Due: none

Bug 1806804 - part 5: Set A-C release name based on repo level
  taskcluster/ci/github-release-components/kind.yml
Due: none

Bug 1806804 - part 6: Set Focus release name based on repo level too
  taskcluster/ci/github-release-apks/kind.yml
Due: none

Strings - android-components/components/feature/downloads/src/main/res/values-hr/strings.xml
  android-components/components/feature/downloads/src/main/res/values-hr/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/prompts/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/browser/errorpages/src/main/res/values-sl/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
