Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

taskcluster/ci/lint/compare-locales.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Validate strings.xml with compare-locales'
    run:
        using: run-task
        cwd: '{checkout}'
        command: 'pip install --user "compare-locales>=5.0.2,<6.0" && compare-locales --validate l10n.toml .'
    treeherder:
        tier: 2


compare-locales-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        cwd: '{checkout}/android-components'
    treeherder:
        symbol: compare-locales(AC)

compare-locales-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        cwd: '{checkout}/focus-android'
    treeherder:
        symbol: compare-locales(focus)

taskcluster/ci/lint/ktlint.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Run ktlint over all modules'
    run:
        using: gradlew
        gradlew: ['ktlint']

ktlint-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        pre-gradlew:
            - ["cd", "android-components"]
    treeherder:
        symbol: ktlint(AC)

ktlint-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        pre-gradlew:
            - ["cd", "focus-android"]
    treeherder:
        symbol: ktlint(focus)

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28725)
  fenix/app/src/main/res/values-da/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-in/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
Due: none

Strings - focus-android/app/src/main/res/values-eu/strings.xml
  focus-android/app/src/main/res/values-eu/strings.xml
Due: compare-locales-focus, ktlint-focus

Bug 1795423 - Replace deprecated Fragment.requestPermissions API.
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BaseBrowserFragment.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1795423 - Move Focus requestInPlacePermissions extension to AC support utils.
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ext/Fragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BaseFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
  focus-android/quality/detekt-baseline.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Bug 1795423 - Add unique keys to permission requests.
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ext/Fragment.kt
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BaseBrowserFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28728)
  fenix/app/src/main/res/values-in/strings.xml
Due: none

Bug 1811183 - Handle non-digit step values passed for time input
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegate.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegateTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Glean: Export new ReasonCode class and remove unused ones
  android-components/components/lib/crash/docs/metrics.md
  android-components/components/service/glean/src/main/java/mozilla/components/service/glean/private/MetricAliases.kt
  android-components/components/support/sync-telemetry/docs/metrics.md
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 111.0.20230131210346.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Update Glean to 52.2.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 111.0.20230201094356.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1812075: Disable useAppWhileTabIsCrashedTest for recent failure
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CrashReportingTest.kt
Due: none

Bug 1807237 - part 1: Add missing `release_type` in params files
  taskcluster/test/params/fork-push.yml
  taskcluster/test/params/main-repo-cron-nightly.yml
  taskcluster/test/params/main-repo-pull-request-untrusted.yml
  taskcluster/test/params/main-repo-pull-request.yml
  taskcluster/test/params/main-repo-push-bors-try.yml
  taskcluster/test/params/main-repo-push-main.yml
Due: none

Bug 1807237 - part 2: Upgrade taskgraph to get faster hashes
  taskcluster/requirements.txt
Due: none

Bug 1807237 - part 3: Make `complete` depend on docker-images tasks
  taskcluster/ci/complete/kind.yml
Due: none

Bug 1807237 - part 4: Rename `build_config:loader` into `build_config:components_loader`
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/ci/build-components/kind.yml
Due: none

Bug 1807237 - part 5: Move too long treeherder group in `build_config` loader
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/config.yml
Due: none

Bug 1807237 - part 6: Fix jacocoFocusDebugTestReport gradle task
  focus-android/app/build.gradle
Due: compare-locales-focus, ktlint-focus

Bug 1807237 - part 7: Do not let `build-components` tasks set `soft-dependencies`
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
Due: none

Bug 1807237 - part 8: Rename `android-gradle-dependencies` into `external-gradle-dependencies`
  taskcluster/android_taskgraph/job.py
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/test-focus/kind.yml
  taskcluster/ci/toolchain/android.yml
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
  taskcluster/scripts/toolchain/external-gradle-dependencies/after.sh
  taskcluster/scripts/toolchain/external-gradle-dependencies/before.sh
  taskcluster/scripts/toolchain/external-gradle-dependencies/nexus.xml
Due: none

Bug 1807237 - part 9: Split `external-gradle-dependencies` task per component
  taskcluster/android_taskgraph/build_config.py
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/android_taskgraph/transforms/external_gradle_dependencies.py
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/complete/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/external-gradle-dependencies/kind.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/test-focus/kind.yml
  taskcluster/ci/toolchain/android.yml
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
  taskcluster/scripts/toolchain/external-gradle-dependencies/after.sh
Due: none

Bug 1807237 - part 4: Rename `build_config:loader` into `build_config:components_loader`
  taskcluster/android_taskgraph/loader/build_config.py
Due: none

Bug 1807237 - part 5: Move too long treeherder group in `build_config` loader
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/ci/build-samples-browser/kind.yml
Due: none

Bug 1807237 - part 8: Rename `android-gradle-dependencies` into `external-gradle-dependencies`
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/test-focus/kind.yml
  taskcluster/ci/toolchain/android.yml
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
Due: none

Bug 1807237 - part 9: Split `external-gradle-dependencies` task per component
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/complete/kind.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/test-focus/kind.yml
  taskcluster/ci/toolchain/android.yml
  taskcluster/scripts/toolchain/external-gradle-dependencies.sh
Due: none

Bug 1811280 - Add worker retry on Firebase infrastructure error
  taskcluster/ci/ui-test-focus/kind.yml
Due: none

[fenix] update initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: none

Bug 1810781 - After the app is re-opened Focus should display the last closed page.
  focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 111.0.20230201143406.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Show snackbar when entering fullscreen mode
  focus-android/app/src/main/java/org/mozilla/focus/browser/integration/FullScreenIntegration.kt
  focus-android/app/src/main/res/values/strings.xml
  focus-android/app/src/test/java/org/mozilla/focus/browser/integration/FullScreenIntegrationTest.kt
Due: compare-locales-focus, ktlint-focus
