Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

taskcluster/ci/lint/compare-locales.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Validate strings.xml with compare-locales'
    run:
        using: run-task
        cwd: '{checkout}'
        command: 'pip install --user "compare-locales>=5.0.2,<6.0" && compare-locales --validate l10n.toml .'
    treeherder:
        tier: 2


compare-locales-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        cwd: '{checkout}/android-components'
    treeherder:
        symbol: compare-locales(AC)

compare-locales-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        cwd: '{checkout}/focus-android'
    treeherder:
        symbol: compare-locales(focus)

taskcluster/ci/lint/ktlint.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Run ktlint over all modules'
    run:
        using: gradlew
        gradlew: ['ktlint']

ktlint-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        pre-gradlew:
            - ["cd", "android-components"]
    treeherder:
        symbol: ktlint(AC)

ktlint-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        pre-gradlew:
            - ["cd", "focus-android"]
    treeherder:
        symbol: ktlint(focus)

Import l10n.
  android-components/components/browser/engine-system/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/readerview/src/main/res/values-kaa/strings.xml
  android-components/components/feature/webnotifications/src/main/res/values-kaa/strings.xml
  android-components/components/lib/crash/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28680)
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: none

Import l10n.
  focus-android/app/src/main/res/values-fy-rNL/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 111.0.20230128143315.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-ace/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-fur/strings.xml
  focus-android/app/src/main/res/values-ixl/strings.xml
  focus-android/app/src/main/res/values-ja/strings.xml
  focus-android/app/src/main/res/values-ru/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kaa/strings.xml
  android-components/components/feature/pwa/src/main/res/values-kaa/strings.xml
  android-components/components/feature/readerview/src/main/res/values-kaa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-kaa/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28683)
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-ja/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
Due: none

Strings - focus-android/app/src/main/res/values-ace/strings.xml
  focus-android/app/src/main/res/values-ace/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fur/strings.xml
  focus-android/app/src/main/res/values-fur/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-ixl/strings.xml
  focus-android/app/src/main/res/values-ixl/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fy-rNL/strings.xml
  focus-android/app/src/main/res/values-fy-rNL/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-ja/strings.xml
  focus-android/app/src/main/res/values-ja/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-ru/strings.xml
  focus-android/app/src/main/res/values-ru/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-focus, ktlint-focus

Update GeckoView (Nightly) to 111.0.20230129090848.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 111.0.20230129143258.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Update GeckoView (Beta) to 110.0.20230129190147.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-sr/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kaa/strings.xml
  android-components/components/feature/readerview/src/main/res/values-kaa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-kaa/strings.xml
  android-components/components/feature/webnotifications/src/main/res/values-kaa/strings.xml
  android-components/components/lib/crash/src/main/res/values-kaa/strings.xml
  android-components/components/support/base/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Import l10n.
  focus-android/app/src/main/res/values-ace/strings.xml
  focus-android/app/src/main/res/values-es-rES/strings.xml
  focus-android/app/src/main/res/values-ixl/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-sk/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28686)
  fenix/app/src/main/res/values-es-rES/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: none
