Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Bug 1805639 - part 1: Create promote-beta params file and delete outdated promote one
  taskcluster/test/params/main-repo-promote-beta.yml
  taskcluster/test/params/main-repo-promote.yml
Due: none

Bug 1805639 - part 2: Factorize v3 scopes
  taskcluster/android_taskgraph/__init__.py
  taskcluster/android_taskgraph/morph.py
Due: none

Bug 1799696 - part 3: Fix new v3 path by providing artifact_type before the variant
  taskcluster/android_taskgraph/routes.py
Due: none

Bug 1800542 - part 10: Bump relbot from 5.0.1 to 5.0.2
  .github/workflows/ac-create-release.yml
  .github/workflows/ac-update-geckoview.yml
Due: none

Update GeckoView (Release) to 108.0.20221215175817.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Beta) to 109.0.20221215185833.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0.20221216143118.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28155 - Show search terms in address bar for both edit and display modes
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarViewTest.kt
Due: none

Bug 1805256 - Adding legacy telemetry id to Glean pings
  focus-android/app/metrics.yaml
Due: compare-locales-focus, ktlint-focus

Bug 1805832 - Add additional checked casts.
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ext/Bundle.kt
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/BundleTest.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1800700 - Add default search suggest header
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/main/res/values/strings.xml
Due: none

[fenix] Update to Android-Components 110.0.20221216190240.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1805383 - Update treeherder platform for focus build/signing
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/signing-apk/kind.yml
Due: none

Bug 1806170 - Align detekt config between Focus and Android Components
  focus-android/build.gradle
  focus-android/quality/detekt-baseline.xml
  focus-android/quality/detekt.yml
Due: compare-locales-focus, ktlint-focus

Bug 1805383 - Change treeherder platform for focus build/signing
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/signing-apk/kind.yml
Due: none

Import l10n.
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-sk/strings.xml
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/support/ktx/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28228)
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-kmr/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: none

Update GeckoView (Nightly) to 110.0.20221217093017.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0.20221217143322.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-sl/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  android-components/components/feature/addons/src/main/res/values-sl/strings.xml
  android-components/components/feature/prompts/src/main/res/values-pa-rIN/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Import l10n.
  focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-oc/strings.xml
  focus-android/app/src/main/res/values-pa-rIN/strings.xml
  focus-android/app/src/main/res/values-ru/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28233)
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-in/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-kmr/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-su/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
Due: none

Update GeckoView (Nightly) to 110.0.20221218093715.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1805070 - Part 1: Update detekt to v1.22.0 in A-C
  android-components/build.gradle
  android-components/config/detekt-baseline.xml
  android-components/config/detekt.yml
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
