Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus, lint-android-components, lint-focus, lint-fenix

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

lint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: lint(AC)

lint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: lint(focus)

lint-fenix:
  dependencies:
    external-gradle-dependencies: external-gradle-dependencies-lint-fenix
  run:
    pre-gradlew:
    - - cd
      - fenix
    gradlew:
    - lintDebug
    - githubLintAndroidDetails
    - mozilla-lint-rules:test
  treeherder:
    symbol: lint(fenix)

Bug 1808607 - part 3: Delete `mark-as-shipped` task for already being covered existing kind
  fenix/taskcluster/ci/mark-as-shipped/kind.yml
  fenix/taskcluster/fenix_taskgraph/transforms/mark_as_shipped.py
Due: lint-fenix

Bug 1808607 - part 6: Remove fenix taskcluster leftovers
  fenix/taskcluster/fenix_taskgraph/__init__.py
  fenix/taskcluster/fenix_taskgraph/release_promotion.py
  fenix/taskcluster/fenix_taskgraph/routes.py
  fenix/taskcluster/fenix_taskgraph/target_tasks.py
  fenix/taskcluster/fenix_taskgraph/transforms/__init__.py
  fenix/taskcluster/fenix_taskgraph/worker_types.py
Due: lint-fenix

Bug 1808607 - part 2: Migrate notify tasks
  fenix/taskcluster/ci/release-notify-promote/kind.yml
  fenix/taskcluster/ci/release-notify-ship/kind.yml
  fenix/taskcluster/fenix_taskgraph/transforms/notify.py
  fenix/taskcluster/fenix_taskgraph/transforms/release_deps.py
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
Due: lint-fenix

Bug 1808607 - part 1: Migrate github-release tasks
  fenix/taskcluster/ci/github-release/kind.yml
  fenix/taskcluster/fenix_taskgraph/transforms/github_release.py
  taskcluster/ci/github-release-apks/kind.yml
Due: lint-fenix

Bug 1814441 - Import fenix configuration in `.mergify.yml`
  .mergify.yml
  fenix/.mergify.yml
Due: lint-fenix

Bug 1808606 - part 8: Add missing target_task for `legacy_api_ui_tests`
  taskcluster/android_taskgraph/target_tasks.py
Due: none

Bug 1808606 - part 7: Add missing target_task for `screenshots`
  taskcluster/android_taskgraph/target_tasks.py
Due: none

Bug 1817229 - update github workflows to fenix-beta-version v4.2.3
  .github/workflows/ac-sync-strings.yml
  .github/workflows/fenix-sync-strings.yml
  .github/workflows/focus-sync-strings.yml
Due: none

Bug 1808605 - part 28: Do not include non-existing secrets on Focus
  taskcluster/android_taskgraph/transforms/build_apk.py
Due: none

Bug 1808606 - part 9: Sign fenix-nightly with the nightly key
  taskcluster/android_taskgraph/transforms/signing_apk.py
Due: none

Bug 1810531 - Re-enable Fenix UI test: saveAndOpenPdfTest
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: lint-fenix

Revert "Bug 1816945 - part 2: Run `test-components` on untrusted PRs too"
  taskcluster/ci/test-components/kind.yml
Due: none

Bug 1808605 - part 29: Run `startup-test` from the fenix folder
  taskcluster/ci/startup-test/kind.yml
Due: none

Bug 1816715 - Do not optimize away UI tests task when a change happen in either fenix or focus
  taskcluster/android_taskgraph/gradle.py
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Bug 1816184 - Add message for declarativeNetRequestFeedback permission
  android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/Addon.kt
  android-components/components/feature/addons/src/main/res/values/strings.xml
  android-components/components/feature/addons/src/test/java/AddonTest.kt
Due: compare-locales-android-components, ktlint-android-components, lint-android-components

Bug 1816787 - Update treeherder.platform for fenix signing-apk tasks
  taskcluster/android_taskgraph/transforms/signing_apk.py
  taskcluster/ci/signing-apk/kind.yml
Due: none

Bug 1816945 - part 1: Build `debug` and `android-test` on untrusted PRs too
  taskcluster/ci/build-apk/kind.yml
Due: none

Bug 1816945 - part 3: Add `shipping-product` attributes `build-apk` so they don't get optimized away
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/test-apk/kind.yml
Due: none

Bug 1816945 - part 2: Run `test-components` on untrusted PRs too
  taskcluster/ci/test-components/kind.yml
Due: none

Bug 1816683 - Fix AC version not displayed in verifyAboutFirefoxPreview UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAboutRobot.kt
Due: lint-fenix

Bug 1816967 - Simplify and generalize slack notify for ui-test-apk kind
  taskcluster/ci/ui-test-apk/kind.yml
Due: none

Bug 1813877 - Announce page title with talkback when swiping on navbar Talkback now announces the name of the tab switched to using swipe left or right gestures on the navbar
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/res/layout/fragment_browser.xml
Due: lint-fenix

Bug 1817052 - Build Android nightlies 6 hours after Desktop's
  .cron.yml
Due: none

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
  lint-android-components: any of: android-components/**
  lint-focus: any of: focus-android/**
  lint-fenix: any of: fenix/**
