Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

taskcluster/ci/lint/compare-locales.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Validate strings.xml with compare-locales'
    run:
        using: run-task
        cwd: '{checkout}'
        command: 'pip install --user "compare-locales>=5.0.2,<6.0" && compare-locales --validate l10n.toml .'
    treeherder:
        tier: 2


compare-locales-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        cwd: '{checkout}/android-components'
    treeherder:
        symbol: compare-locales(AC)

compare-locales-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        cwd: '{checkout}/focus-android'
    treeherder:
        symbol: compare-locales(focus)

taskcluster/ci/lint/ktlint.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Run ktlint over all modules'
    run:
        using: gradlew
        gradlew: ['ktlint']

ktlint-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        pre-gradlew:
            - ["cd", "android-components"]
    treeherder:
        symbol: ktlint(AC)

ktlint-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        pre-gradlew:
            - ["cd", "focus-android"]
    treeherder:
        symbol: ktlint(focus)

Strings - android-components/components/browser/errorpages/src/main/res/values-sq/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-sq/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - focus-android/app/src/main/res/values-es-rAR/strings.xml
  focus-android/app/src/main/res/values-es-rAR/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-ru/strings.xml
  focus-android/app/src/main/res/values-ru/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-th/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  android-components/components/feature/addons/src/main/res/values-sq/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/sitepermissions/src/main/res/values-ff/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
  android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/browser/errorpages/src/main/res/values-ff/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/contextmenu/src/main/res/values-ff/strings.xml
  android-components/components/feature/contextmenu/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
  android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/prompts/src/main/res/values-ff/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/search/src/main/res/values-ff/strings.xml
  android-components/components/feature/search/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/readerview/src/main/res/values-ff/strings.xml
  android-components/components/feature/readerview/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0b2.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

run 2 downloadNotification Test
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/DownloadFileTest.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/DownloadRobot.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
  focus-android/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: compare-locales-focus, ktlint-focus

run new downloadNotification Test
  focus-android/app/src/androidTest/assets/image_test.html
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/DownloadFileTest.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/BrowserRobot.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/DownloadRobot.kt
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
  focus-android/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: compare-locales-focus, ktlint-focus

run 5 downloadNotification Test
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
  focus-android/automation/taskcluster/androidTest/flank-arm64-v8a.yml
Due: compare-locales-focus, ktlint-focus

run 4 downloadNotification Test
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
Due: compare-locales-focus, ktlint-focus

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

[fenix] Automatic version bump CLOSED TREE NO BUG a=release
  fenix/version.txt
Due: none

Update GeckoView (Nightly) to 111.0.20230123094444.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

run 6
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
Due: compare-locales-focus, ktlint-focus

[fenix] Bug 1809444: Add Worker to generate Notifications using Nimbus messaging (https://github.com/mozilla-mobile/fenix/pull/28605)
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/DefaultMessageController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/DefaultBrowserNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/ReEngagementNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/NotificationBase.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/DefaultMessageControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
  fenix/messaging.fml.yaml
Due: none

run 7
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 111.0.20230123143137.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] update initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: none

[fenix] update nimbus-experiments job action versions
  fenix/.github/workflows/fenix-update-nimbus-experiments.yml
Due: none

Bug 1810743 - Expose detect-only setting in AC
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/ext/TrackingProtectionPolicy.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/ext/TrackingProtectionPolicyKtTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/SettingsTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1811504 - Update strings for cookie banner handling
  fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerHandlingDetailsView.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogUtils.kt
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerHandlingDetailsViewTest.kt
Due: none

[fenix] Bug 1810818: Configures order of panels in new user onboarding
  fenix/.experimenter.yaml
  fenix/app/src/main/java/org/mozilla/fenix/home/Mode.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/FenixOnboarding.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/ModeTest.kt
  fenix/nimbus.fml.yaml
Due: none

Import l10n.
  focus-android/app/src/main/res/values-hsb/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-ja/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-lo/strings.xml
  focus-android/app/src/main/res/values-mix/strings.xml
  focus-android/app/src/main/res/values-sq/strings.xml
  focus-android/app/src/main/res/values-ur/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-ar/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/errorpages/src/main/res/values-kn/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/compose/tabstray/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-an/strings.xml
  android-components/components/feature/findinpage/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ia/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-mix/strings.xml
  android-components/components/feature/readerview/src/main/res/values-be/strings.xml
  android-components/components/feature/readerview/src/main/res/values-ia/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-kaa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-lij/strings.xml
  android-components/components/ui/tabcounter/src/main/res/values-in/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Close https://github.com/mozilla-mobile/fenix/issues/19919: Migrate away from startActivityForResult
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/ext/Fragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/autofill/AutofillSettingFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/biometric/BiometricPromptPreferenceFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsAuthFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/widget/VoiceSearchActivity.kt
  fenix/app/src/test/java/org/mozilla/fenix/widget/VoiceSearchActivityTest.kt
Due: none
