Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

taskcluster/ci/lint/compare-locales.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Validate strings.xml with compare-locales'
    run:
        using: run-task
        cwd: '{checkout}'
        command: 'pip install --user "compare-locales>=5.0.2,<6.0" && compare-locales --validate l10n.toml .'
    treeherder:
        tier: 2


compare-locales-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        cwd: '{checkout}/android-components'
    treeherder:
        symbol: compare-locales(AC)

compare-locales-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        cwd: '{checkout}/focus-android'
    treeherder:
        symbol: compare-locales(focus)

taskcluster/ci/lint/ktlint.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Run ktlint over all modules'
    run:
        using: gradlew
        gradlew: ['ktlint']

ktlint-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        pre-gradlew:
            - ["cd", "android-components"]
    treeherder:
        symbol: ktlint(AC)

ktlint-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        pre-gradlew:
            - ["cd", "focus-android"]
    treeherder:
        symbol: ktlint(focus)

Bug 1809592 - Update positioning for the BODY_TO_ANCHOR_CENTER CFR
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayout.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayoutTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

[fenix] update initial_experiments.json based on the current first-run experiments in experimenter
  fenix/app/src/main/res/raw/initial_experiments.json
Due: none

Bug 1807920 - Make newPrivateTabSearch open only private new tabs
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/UrlInputFragment.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Update to Android-Components 111.0.20230208143122.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Automated: Update Focus initial_experiments.json based on the current first-run experiments in experimenter
  focus-android/app/src/main/res/raw/initial_experiments.json
Due: compare-locales-focus, ktlint-focus

[fenix] Bug 1814082 - New verifySavedAddressCanBeEditedTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddressAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: none

[fenix] Bug 1814082 - New verifyAutofillAddressSectionTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddressAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: none

[fenix] Bug 1814082 - New verifyStateFieldUpdatesInAccordanceWithCountryFieldTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddressAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: none

[fenix] Bug 1814082 - New verifyFormFieldCanBeFilledManuallyTest UI test
  fenix/app/src/androidTest/assets/pages/addressForm.html
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddressAutofillTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: none

[fenix] Bug 1815160 - Add sponsored story id to home_recs_spoc_shown and home_recs_spoc_clicked
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesController.kt
  fenix/app/src/test/java/org/mozilla/fenix/home/pocket/DefaultPocketStoriesControllerTest.kt
Due: none

[fenix] Bug 1815306 - Truncate tabs tray title to mitigate scroll performance
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolder.kt
Due: none

[fenix] Update to Android-Components 111.0.20230208190408.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Fix breaking APIs in SearchUseCases
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/feature/app-links/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-hsb/strings.xml
  focus-android/app/src/main/res/values-kab/strings.xml
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28799)
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-es-rAR/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kab/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-lo/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-pa-rIN/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: none

[fenix] Bug 1807270 - re-enable navigateBackInCollectionFlowTest and undoDeleteCollectionTest UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
Due: none

Update GeckoView (Nightly) to 111.0.20230209041032.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1815885 - Ensure the synced tabs CFR is shown
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/HomeCFRPresenter.kt
Due: none

Bug 1805408 - Ship v111.0.0 of the WebCompat System Addon.
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/shims.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1605611-maps.google.com-directions-time.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1784195-nutmeg.morrisons.com-overflow.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1784351-movistar.com.ar-overflow-overlay-fix.css
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1605611-maps.google.com-directions-time.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1769762-tiktok.com-plugins-shim.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/custom_functions.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/instagram.js
  android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/spotify-embed.js
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 111.0.20230209143246.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Bug 1815548 – Add offset parameter to menu2
  fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/toolbar/SearchSelectorMenu.kt
  fenix/app/src/main/java/org/mozilla/fenix/search/toolbar/SearchSelectorToolbarAction.kt
  fenix/app/src/main/res/layout/fragment_home.xml
  fenix/app/src/test/java/org/mozilla/fenix/search/toolbar/SearchSelectorToolbarActionTest.kt
Due: none

[fenix] Bug 1815698 - Allow sponsored stories details to be spaced evenly vertically
  fenix/app/src/main/java/org/mozilla/fenix/compose/ListItemTabLarge.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Due: none

[fenix] Bug 1812193 - Increase the height of the 'x' buttons of the login and password fields on the 'Add New Login' screen (https://github.com/mozilla-mobile/fenix/pull/28658)
  fenix/app/src/main/res/layout/fragment_add_login.xml
Due: none

[fenix] Don't pass CrashReporter to RustLog
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: none

Bug 1815992 - Migrated shared-docs into the monorepo
  docs/shared/android/CONTRIBUTING.md
  docs/shared/android/CONTRIBUTING_code.md
  docs/shared/android/accessibility_guide.md
  docs/shared/android/android_guide.md
  docs/shared/android/automation.md
  docs/shared/android/configure_java.md
  docs/shared/android/device_testing.md
  docs/shared/android/docker_guide.md
  docs/shared/android/fretboard.md
  docs/shared/android/images/double-nav.gif
  docs/shared/android/images/single-nav.gif
  docs/shared/android/kotlin_guide.md
  docs/shared/android/sprint_process.md
  docs/shared/android/taskcluster_guide.md
  docs/shared/android/testing.md
  docs/shared/android/ui-testing.md
  docs/shared/android/workmanager_faq.md
  docs/shared/android/writing_lint_rules.md
  docs/shared/git_guide.md
  docs/shared/im/sentry_dsn_click.png
  docs/shared/rfc/wallpapers_v2_network_improvements.md
  docs/shared/sentry_guide.md
Due: none

[fenix] Bug 1814208 - Enable speedometer3 in the fenix branch. (https://github.com/mozilla-mobile/fenix/pull/28717)
  fenix/taskcluster/ci/browsertime/kind.yml
Due: none

[fenix] Bug 1813421 - Convert Nimbus Experiments to Compose
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/NimbusExperimentsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/view/NimbusExperiments.kt
  fenix/app/src/main/java/org/mozilla/fenix/nimbus/view/NimbusExperimentsView.kt
Due: none

[fenix] Update to Android-Components 111.0.20230209190054.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Bug 1815623 - Add telemetry for sharing to an app from the share sheet
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/share/ShareController.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/ShareToAppsSafeExtras.kt
  fenix/app/src/test/java/org/mozilla/fenix/share/ShareControllerTest.kt
Due: none

Import translations from android-l10n
  android-components/components/feature/app-links/src/main/res/values-cy/strings.xml
  android-components/components/feature/app-links/src/main/res/values-en-rCA/strings.xml
  android-components/l10n.toml
  focus-android/app/src/main/res/values-cy/strings.xml
  focus-android/app/src/main/res/values-en-rCA/strings.xml
  focus-android/l10n.toml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28811)
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-en-rCA/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-pl/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-th/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/l10n.toml
Due: none

[fenix] Bug 1815901 - Further document experimentation for cookie banner handling
  fenix/nimbus.fml.yaml
Due: none

Bug 1816058 - Fix error pages strings for https and expired certificate.
  focus-android/app/src/main/res/values/strings.xml
Due: compare-locales-focus, ktlint-focus

Update GeckoView (Nightly) to 111.0.20230210050819.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1815424 - Show Dialog should not be called multiple times.
  fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: none
