Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

taskcluster/ci/lint/compare-locales.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Validate strings.xml with compare-locales'
    run:
        using: run-task
        cwd: '{checkout}'
        command: 'pip install --user "compare-locales>=5.0.2,<6.0" && compare-locales --validate l10n.toml .'
    treeherder:
        tier: 2


compare-locales-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        cwd: '{checkout}/android-components'
    treeherder:
        symbol: compare-locales(AC)

compare-locales-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        cwd: '{checkout}/focus-android'
    treeherder:
        symbol: compare-locales(focus)

taskcluster/ci/lint/ktlint.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
task-defaults:
    description: 'Run ktlint over all modules'
    run:
        using: gradlew
        gradlew: ['ktlint']

ktlint-android-components:
    optimization:
        skip-unless-changed:
            - "android-components/**"
    run:
        pre-gradlew:
            - ["cd", "android-components"]
    treeherder:
        symbol: ktlint(AC)

ktlint-focus:
    optimization:
        skip-unless-changed:
            - "focus-android/**"
    run:
        pre-gradlew:
            - ["cd", "focus-android"]
    treeherder:
        symbol: ktlint(focus)

Update GeckoView (Release) to 110.0.20230206190557.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Set version to 110.1.0
  version.txt
Due: none

[fenix] Set the version to 110.1.0
  fenix/version.txt
Due: none

[fenix] Closes EXP-3078 Use Nimbus.fetchExperiments() more intentionally (https://github.com/mozilla-mobile/fenix/pull/28760)
  fenix/.experimenter.yaml
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/test/java/org/mozilla/fenix/nimbus/NimbusSystemTest.kt
  fenix/messaging.fml.yaml
Due: none

Import translations from android-l10n
  android-components/components/feature/app-links/src/main/res/values-es-rMX/strings.xml
  android-components/components/feature/app-links/src/main/res/values-es/strings.xml
  android-components/components/feature/app-links/src/main/res/values-rm/strings.xml
  android-components/components/feature/app-links/src/main/res/values-sr/strings.xml
  focus-android/app/src/main/res/values-es-rMX/strings.xml
  focus-android/app/src/main/res/values-sr/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Bug 1813416 - Clear FLAG_KEEP_SCREEN_ON when playing media is finished.
  android-components/components/feature/media/src/main/java/mozilla/components/feature/media/fullscreen/MediaSessionFullscreenFeature.kt
  android-components/components/feature/media/src/test/java/mozilla/components/feature/media/fullscreen/MediaSessionFullscreenFeatureTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28780)
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-rm/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
Due: none

Bug 1792926 - After downloading, the download name was fixed. Check if the string is empty.
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Set the version to 110.0
  fenix/version.txt
Due: none

Update GeckoView (Nightly) to 111.0.20230207043534.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1813085 - If a message notification is being displayed, do not create another notification with the same message.
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/Message.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/OnDiskMessageMetadataStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/BootUtils.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/OnDiskMessageMetadataStorageTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/utils/BootUtilsTest.kt
Due: none

[fenix] Bug 1814410: Unified search migrate to general se after search engine list loads
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: none

Set version to 110.0
  version.txt
Due: none

Bug 1815195 - Avoid a redundant file extension when saving a real pdf file
  android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt
  android-components/components/support/utils/src/test/java/mozilla/components/support/utils/DownloadUtilsTest.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1813694: Update strings for history group section
  fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  fenix/app/src/main/java/org/mozilla/fenix/library/history/viewholders/HistoryListItemViewHolder.kt
  fenix/app/src/main/res/values/strings.xml
Due: none

[fenix] Bug 1811795 - Add granular media permissions.
  fenix/app/src/main/AndroidManifest.xml
Due: none

[fenix] Update to Android-Components 111.0.20230207143318.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Update to Android-Components 110.0.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1815551 - Update Sentry to version 6.13.1
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Bug 1815551 - Update Sentry to version 6.13.1
  fenix/buildSrc/src/main/java/Dependencies.kt
Due: none

Import translations from android-l10n
  android-components/components/feature/app-links/src/main/res/values-gn/strings.xml
  android-components/components/feature/app-links/src/main/res/values-hsb/strings.xml
  android-components/components/feature/app-links/src/main/res/values-tg/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28791)
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
Due: none

Update GeckoView (Nightly) to 111.0.20230208095231.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1809592 - Update positioning for the INDICATOR_CENTERED_IN_ANCHOR CFR
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayout.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayoutTest.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1809592 - Update positioning for the BODY_TO_ANCHOR_START CFR
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayout.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayoutTest.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1809592 - Update positioning for the BODY_TO_ANCHOR_CENTER CFR
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayout.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayoutTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Bug 1809592 - Update display orientation listener
  android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/helper/DisplayOrientationListener.kt
  android-components/components/compose/cfr/src/test/java/mozilla/components/compose/cfr/helper/DisplayOrientationListenerTest.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1811532 - Add secret setting allowing to overwrite the `site` parameter for Pocket sponsored stories
  fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SponsoredStoriesSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/static_strings.xml
  fenix/app/src/main/res/xml/secret_settings_preferences.xml
  fenix/app/src/main/res/xml/sponsored_stories_settings.xml
Due: none

[fenix] Bug 1811537 - Add secret setting allowing to overwrite the `country` and `city` parameters for Pocket sponsored stories
  fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/SponsoredStoriesSettingsFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/static_strings.xml
  fenix/app/src/main/res/xml/sponsored_stories_settings.xml
Due: none
