Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Strings - android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
  android-components/components/feature/autofill/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
  android-components/components/feature/downloads/src/main/res/values-ff/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28640)
  fenix/app/src/main/res/values-cy/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-en-rGB/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-ff/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-hsb/strings.xml
  fenix/app/src/main/res/values-hy-rAM/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-it/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-sq/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: none

Bug 1806798 - Make download filename scrollable.
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/SimpleDownloadDialogFragment.kt
  android-components/components/feature/downloads/src/main/res/layout/mozac_downloads_prompt.xml
Due: compare-locales-android-components, ktlint-android-components

Bug 1806652 - Downgrade appcompat and material libraries.
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-focus, ktlint-focus

Bug 1796348 - Add post notification permission requirement for downloads.
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/manager/FetchDownloadManager.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1796348 - Correctly identify active download when receiving permissions.
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadsFeature.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0b3.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1806066 - Remove redirection to SUMO page for Huawei devices.
  focus-android/app/src/main/java/org/mozilla/focus/fragment/onboarding/OnboardingController.kt
Due: compare-locales-focus, ktlint-focus

Bug 1806066 - Finish onboarding on Focus set as default browser from OS settings.
  focus-android/app/src/main/java/org/mozilla/focus/fragment/onboarding/OnboardingSecondFragment.kt
Due: compare-locales-focus, ktlint-focus

Bug 1806066 - Set proper tag for ActivityNotFoundException.
  focus-android/app/src/main/java/org/mozilla/focus/fragment/onboarding/OnboardingController.kt
Due: compare-locales-focus, ktlint-focus

Bug 1812282 - Add testcase for broken progress bar
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadNotificationTest.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1812282 - Fix notification progress bar
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadNotification.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1808678 - Focus should not crash if the app is sent to the background after the "Send usage data" toggle is enabled.
  focus-android/app/src/main/java/org/mozilla/focus/widget/TelemetrySwitchPreference.kt
Due: compare-locales-focus, ktlint-focus

Bug 1811448 - Expose the GeckoView release channel in EngineVersion utils.
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/utils/EngineVersion.kt
  android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/utils/EngineVersionTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Bug 1806652 - Improve checking for keyboard present.
  focus-android/app/src/main/java/org/mozilla/focus/widget/ResizableKeyboardViewDelegate.java
Due: compare-locales-focus, ktlint-focus

Bug 1806652 - Upgrade appcompat and material to latest version.
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-focus, ktlint-focus

Bug 1811183 - Handle non-digit step values passed for time input
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegate.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/prompt/GeckoPromptDelegateTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 111.0.20230125094200.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1812279 - disable mainMenuOpenInAppTest UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
Due: none

[fenix] Automatic version bump CLOSED TREE NO BUG a=release
  fenix/version.txt
Due: none

run 8
  focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/NotificationRobot.kt
Due: compare-locales-focus, ktlint-focus

[fenix] Bug 1806798 - Better handle long filenames in download finished dialog.
  fenix/app/src/main/java/org/mozilla/fenix/downloads/DynamicDownloadDialog.kt
  fenix/app/src/main/res/layout/download_dialog_layout.xml
Due: none

[fenix] Update to Android-Components 111.0.20230125150919.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1812378 - Fix cookie_banner_exception_panel_description_state_off_for_site string.
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/CookieBannerExceptionDetailsPanel.kt
  focus-android/app/src/main/res/values/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] EXP-2996 Add triggers for notifications (https://github.com/mozilla-mobile/fenix/pull/28627)
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusMessagingTriggerTest.kt
  fenix/messaging.fml.yaml
Due: none

[fenix] Update to Android-Components 111.0.20230125190040.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-es-rMX/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-hsb/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-it/strings.xml
  focus-android/app/src/main/res/values-nb-rNO/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-sl/strings.xml
Due: compare-locales-focus, ktlint-focus

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
