Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Bug 1802620 - Handles ForegroundServiceStartNotAllowedException
  android-components/components/feature/media/README.md
  android-components/components/feature/media/build.gradle
  android-components/components/feature/media/src/main/java/mozilla/components/feature/media/service/AbstractMediaSessionService.kt
  android-components/components/feature/media/src/main/java/mozilla/components/feature/media/service/MediaSessionServiceDelegate.kt
  android-components/components/feature/media/src/test/java/mozilla/components/feature/media/focus/AudioFocusTest.kt
  android-components/components/feature/media/src/test/java/mozilla/components/feature/media/service/AbstractMediaSessionServiceTest.kt
  android-components/components/feature/media/src/test/java/mozilla/components/feature/media/service/MediaSessionServiceDelegateTest.kt
  android-components/samples/browser/src/main/AndroidManifest.xml
  android-components/samples/browser/src/main/java/org/mozilla/samples/browser/media/MediaSessionService.kt
  docs/changelog.md
  focus-android/app/src/main/AndroidManifest.xml
  focus-android/app/src/main/java/org/mozilla/focus/media/MediaSessionService.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Import l10n.
  focus-android/app/src/main/res/values-ja/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 111.0.20230118143235.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Update to application-services 96.3.0
  android-components/components/support/sync-telemetry/docs/metrics.md
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components

Update A-S to 96.3.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Automatic version bump CLOSED TREE NO BUG a=release
  fenix/version.txt
Due: none

Bug 1800146 - Set tab's GeckoSession priority based on form data
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/SessionPrioritizationMiddleware.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ContentStateReducer.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/SessionPrioritizationMiddlewareTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: compare-locales-android-components, ktlint-android-components

Update Glean to 52.0.0.
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 111.0.20230118095131.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1811093 - Exclude dependabot and MickeyMoz from the bugzilla commit format check
  .github/workflows/bugzilla-format.yml
Due: none

Import l10n.
  focus-android/app/src/main/res/values-fr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-ja/strings.xml
  focus-android/app/src/main/res/values-ja/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Move tests from DefaultMessageControllerTest to NimbusMessageControllerTest
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/DefaultMessageController.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/DefaultMessageControllerTest.kt
Due: none

[fenix] Refactor messaging middleware Part III
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Due: none

[fenix] Refactor messaging middleware Part II
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/NimbusMessagingController.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Due: none

[fenix] EXP-2994 Refactor messaging middleware Part I
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/Message.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/NimbusMessagingController.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Due: none

[fenix] Address reviewer comments
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
  fenix/messaging.fml.yaml
Due: none

[fenix] Move logic into NimbusMessagingController to correspond with NimbusMessagingStorage
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/DefaultMessageController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/NimbusMessagingController.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/DefaultMessageControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
Due: none

[fenix] Switch to the typed API for Glean events
  fenix/app/metrics.yaml
  fenix/app/src/main/java/org/mozilla/fenix/telemetry/TelemetryLifecycleObserver.kt
Due: none

[fenix] Bug 1807278 - Re-enable UI tests affected by settings screen changes
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/EnhancedTrackingProtectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Due: none

Update GeckoView (Nightly) to 111.0.20230119093127.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1808678 - Focus should not crash if the app is sent to the background after the "Send usage data" toggle is enabled.
  focus-android/app/src/main/java/org/mozilla/focus/widget/TelemetrySwitchPreference.kt
Due: compare-locales-focus, ktlint-focus

[fenix] Bug 1810735 - Part 2: New logins related UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordOptionsToSaveRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Due: none

[fenix] Closes https://github.com/mozilla-mobile/fenix/issues/28589 - Restrict coroutine calls between messagemiddleware and messagingcontroller
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  fenix/app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Due: none

Revert downloads changes for ui tests failures downstream.
  android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/behavior/BrowserToolbarBehavior.kt
  android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/behavior/BrowserToolbarBehaviorTest.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadDialogFragment.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadsFeature.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/ext/DownloadState.kt
  android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/ui/DownloaderAppAdapter.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadsFeatureTest.kt
  android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/ext/DownloadStateKtTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Clean changelog following revert of downloads changes
  docs/changelog.md
Due: none

[fenix] Update to Android-Components 111.0.20230119154817.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Update breaking APIs in MediaSessionService
  fenix/app/src/main/java/org/mozilla/fenix/media/MediaSessionService.kt
Due: none

Bug 1811280 - Add worker retry on Firebase infrastructure error
  taskcluster/ci/ui-test-focus/kind.yml
Due: none

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
