Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

[fenix] Bug 1807288 - Disable intermittent validateBaselinePing UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/glean/BaselinePingTest.kt
Due: none

[fenix] For EXP-2992: Add notification config with polling interval to messaging feature (https://github.com/mozilla-mobile/fenix/pull/28381)
  fenix/.experimenter.yaml
  fenix/nimbus.fml.yaml
Due: none

[fenix] Update to Android-Components 110.0.20230105143224.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[fenix] Closes 28414: NotificationManagerCompat extension to safely check if notifications are enabled
  fenix/app/src/main/java/org/mozilla/fenix/ext/NotificationManagerCompat.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/MarketingNotificationHelper.kt
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28261 - Rename solo `xInteractor` parameters in the Tabs Tray to `interactor`
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/FloatingActionButtonBinding.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/BrowserTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabsAdapter.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/FloatingActionButtonBindingTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolderTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/BrowserTabsAdapterTest.kt
Due: none

[fenix] Bug 1801022 - Update AndroidX testing libraries to the latest releases
  fenix/buildSrc/src/main/java/Dependencies.kt
Due: none

[fenix] Closes 28417: Add nimbus flags for pre permission prompt
  fenix/.experimenter.yaml
  fenix/nimbus.fml.yaml
Due: none

Update GeckoView (Beta) to 109.0.20230105190654.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28262 - Refactor InactiveTabsAutoCloseDialogInteractor into InactiveTabsInteractor
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabsInteractor.kt
  fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/DefaultInactiveTabsInteractorTest.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-su/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-pa-rPK/strings.xml
  android-components/components/feature/addons/src/main/res/values-pa-rPK/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-pa-rPK/strings.xml
Due: compare-locales-android-components, ktlint-android-components

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28201 - Make a LightDarkPreview annotation Add LightDarkPreview annotation
  fenix/app/src/main/java/org/mozilla/fenix/compose/annotation/LightDarkPreview.kt
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28201 - replace existing night mode preview annotations with LightDarkPreview annotation
  fenix/app/src/main/java/org/mozilla/fenix/compose/Divider.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/ListItemTabLarge.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/SelectableChip.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/button/Button.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/button/TextButton.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/MediaImage.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabListItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/collections/CollectionItem.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/pocket/PocketCategoriesViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/pocket/PocketRecommendationsHeaderViewHolder.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarks.kt
  fenix/app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/ProtectionsView.kt
  fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFItem.kt
Due: none

[fenix] Bug 1797593 - Add re-engagement dialog for cookie banners.
  fenix/app/metrics.yaml
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SponsoredShortcutsTest.kt
  fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/CookieBannersSwitchPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/LearnMoreSwitchPreference.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/ConnectionDetailsController.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerDetailsController.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialog.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogCompose.kt
  fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogUtils.kt
  fenix/app/src/main/java/org/mozilla/fenix/trackingprotection/TrackingProtectionPanelInteractor.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/layout/preference_switch_learn_more.xml
  fenix/app/src/main/res/navigation/nav_graph.xml
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/main/res/values/strings.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/DefaultConnectionDetailsControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/DefaultCookieBannerDetailsControllerTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/trackingprotection/TrackingProtectionPanelInteractorTest.kt
  fenix/nimbus.fml.yaml
Due: none

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28427)
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-en-rCA/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-pa-rPK/strings.xml
Due: none

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Due: none

[fenix] Bug 1807302 - New set desktop site before page load UI tests
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ReaderViewTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ThreeDotMenuMainTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
Due: none

Bug 1804996: Replace and remove DDG Type Tags
  android-components/components/feature/search/src/main/assets/searchplugins/ddg.xml
  android-components/components/feature/search/src/main/assets/searchplugins/duckduckgo.xml
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/Utils.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

Update GeckoView (Nightly) to 110.0.20230106095123.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

Bug 1805840 - Fix layout for add to home screen ETP warning.
  focus-android/app/src/main/res/layout/dialog_add_to_homescreen2.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 110.0.20230106143238.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1801022 - Update AndroidX testing libraries to the latest releases
  android-components/components/browser/storage-sync/src/test/java/mozilla/components/browser/storage/sync/PlacesHistoryStorageTest.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/sync/TypesTest.kt
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Bug 1802817 - Update firefox-android to Gradle 7.6
  android-components/gradle/wrapper/gradle-wrapper.properties
  focus-android/gradle/wrapper/gradle-wrapper.properties
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Update to Android-Components 110.0.20230106190247.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-co/strings.xml
  focus-android/app/src/main/res/values-en-rCA/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28445)
  fenix/app/src/main/res/values-co/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28428: update growth data with new events
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/Event.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsStorage.kt
  fenix/app/src/main/java/org/mozilla/fenix/telemetry/TelemetryMiddleware.kt
  fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  fenix/app/src/main/res/values/preference_keys.xml
  fenix/app/src/test/java/org/mozilla/fenix/components/metrics/DefaultMetricsStorageTest.kt
  fenix/app/src/test/java/org/mozilla/fenix/telemetry/TelemetryMiddlewareTest.kt
Due: none

Update GeckoView (Nightly) to 110.0.20230107093442.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 110.0.20230107143316.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  android-components/components/compose/cfr/src/main/res/values-ca/strings.xml
  android-components/components/feature/addons/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Strings - android-components/components/feature/addons/src/main/res/values-ca/strings.xml
  android-components/components/feature/addons/src/main/res/values-ca/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
