Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Update GeckoView (Nightly) to 111.0.20230204091116.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 111.0.20230204143254.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import translations from android-l10n
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/app-links/src/main/res/values-da/strings.xml
  android-components/components/feature/app-links/src/main/res/values-el/strings.xml
  android-components/components/feature/app-links/src/main/res/values-eu/strings.xml
  android-components/components/feature/app-links/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/app-links/src/main/res/values-th/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kaa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-kaa/strings.xml
  focus-android/app/src/main/res/values-da/strings.xml
  focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-eu/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28766)
  fenix/app/src/main/res/values-el/strings.xml
  fenix/app/src/main/res/values-eu/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-pt-rPT/strings.xml
  fenix/app/src/main/res/values-ru/strings.xml
Due: none

Uplift AC strings from main to releases_v110
  android-components/components/browser/errorpages/src/main/res/values-kaa/strings.xml
  android-components/components/browser/toolbar/src/main/res/values-kaa/strings.xml
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/app-links/src/main/res/values-da/strings.xml
  android-components/components/feature/app-links/src/main/res/values-el/strings.xml
  android-components/components/feature/app-links/src/main/res/values-eu/strings.xml
  android-components/components/feature/app-links/src/main/res/values-pt-rPT/strings.xml
  android-components/components/feature/app-links/src/main/res/values-th/strings.xml
  android-components/components/feature/autofill/src/main/res/values-kaa/strings.xml
  android-components/components/feature/downloads/src/main/res/values-kaa/strings.xml
  android-components/components/feature/prompts/src/main/res/values-kaa/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-kaa/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Uplift Focus strings from main to releases_v110
  focus-android/app/src/main/res/values-da/strings.xml
  focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-eu/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-th/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Update to Android-Components 111.0.20230205143241.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import translations from android-l10n
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/app-links/src/main/res/values-ca/strings.xml
  android-components/components/feature/app-links/src/main/res/values-cs/strings.xml
  android-components/components/feature/app-links/src/main/res/values-en-rGB/strings.xml
  android-components/components/feature/app-links/src/main/res/values-es-rES/strings.xml
  android-components/components/feature/app-links/src/main/res/values-ja/strings.xml
  android-components/components/feature/app-links/src/main/res/values-nb-rNO/strings.xml
  android-components/components/feature/app-links/src/main/res/values-pl/strings.xml
  android-components/components/feature/app-links/src/main/res/values-sl/strings.xml
  focus-android/app/src/main/res/values-ca/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-es-rES/strings.xml
  focus-android/app/src/main/res/values-ja/strings.xml
  focus-android/app/src/main/res/values-ko/strings.xml
  focus-android/app/src/main/res/values-nb-rNO/strings.xml
  focus-android/app/src/main/res/values-pl/strings.xml
  focus-android/app/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28769)
  fenix/app/src/main/res/values-ca/strings.xml
  fenix/app/src/main/res/values-cs/strings.xml
  fenix/app/src/main/res/values-es-rMX/strings.xml
  fenix/app/src/main/res/values-ja/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-nb-rNO/strings.xml
  fenix/app/src/main/res/values-pl/strings.xml
  fenix/app/src/main/res/values-sl/strings.xml
Due: none

Uplift AC strings from main to releases_v110
  android-components/components/feature/addons/src/main/res/values-kaa/strings.xml
  android-components/components/feature/app-links/src/main/res/values-ca/strings.xml
  android-components/components/feature/app-links/src/main/res/values-cs/strings.xml
  android-components/components/feature/app-links/src/main/res/values-en-rGB/strings.xml
  android-components/components/feature/app-links/src/main/res/values-es-rES/strings.xml
  android-components/components/feature/app-links/src/main/res/values-ja/strings.xml
  android-components/components/feature/app-links/src/main/res/values-nb-rNO/strings.xml
  android-components/components/feature/app-links/src/main/res/values-pl/strings.xml
  android-components/components/feature/app-links/src/main/res/values-sl/strings.xml
Due: compare-locales-android-components, ktlint-android-components

Uplift Focus strings from main to releases_v110
  focus-android/app/src/main/res/values-ca/strings.xml
  focus-android/app/src/main/res/values-en-rGB/strings.xml
  focus-android/app/src/main/res/values-es-rES/strings.xml
  focus-android/app/src/main/res/values-ja/strings.xml
  focus-android/app/src/main/res/values-ko/strings.xml
  focus-android/app/src/main/res/values-nb-rNO/strings.xml
  focus-android/app/src/main/res/values-pl/strings.xml
  focus-android/app/src/main/res/values-sl/strings.xml
Due: compare-locales-focus, ktlint-focus

Bug 1807920 - Make newPrivateTabSearch open only private new tabs
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/UrlInputFragment.kt
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Bug 1811531 - Add 'site' query parameter to Pocket sponsored stories request
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/PocketStoriesConfig.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/PocketStoriesService.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/SpocsUseCases.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsEndpoint.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRaw.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/PocketStoriesConfigTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/PocketStoriesServiceTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/SpocsUseCasesTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRawTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1813628 - Adjust shard count for debug UI tests
  fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
  fenix/taskcluster/ci/ui-test/kind.yml
Due: none

Bug 1811537 - Add 'country' and 'city' query parameters to Pocket sponsored stories request
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/PocketStoriesConfig.kt
  android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRaw.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/PocketStoriesConfigTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/SpocsUseCasesTest.kt
  android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/spocs/api/SpocsEndpointRawTest.kt
  docs/changelog.md
Due: compare-locales-android-components, ktlint-android-components

[fenix] Bug 1814425 - Don't show a suggestions header for topic specific search engines
  fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Due: none

Update GeckoView (Nightly) to 111.0.20230206092409.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Create common OnboardingPage composable
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
Due: none

[fenix] Bug 1810204 - Schedule legacy Android API Cron for test coverage
  fenix/.cron.yml
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  fenix/automation/taskcluster/androidTest/parse-ui-test.py
  fenix/taskcluster/ci/ui-test/kind.yml
Due: none

monorepo-migration: Fetch latest repo numbers and regexes
  monorepo-migration/data/message-expressions.txt
  monorepo-migration/data/repo-numbers.json
Due: none

Bug 1804785 - Consume AC via gradle build with relative path in Fenix
  android-components/build.gradle
  fenix/LICENSE
  fenix/app/build.gradle
  fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  fenix/app/src/main/res/values/static_strings.xml
  fenix/build.gradle
  fenix/buildSrc/src/main/java/Config.kt
  fenix/buildSrc/src/main/java/Dependencies.kt
  fenix/gradle.properties
  fenix/settings.gradle
  fenix/version.txt
  focus-android/build.gradle
  focus-android/gradle.properties
Due: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

Revert "Bug 1802214 - Remove redundant getAppLaunchCount."
  focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
  focus-android/app/src/main/java/org/mozilla/focus/utils/Settings.kt
  focus-android/app/src/main/res/values/preference_keys.xml
  focus-android/quality/detekt-baseline.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Disable failing ui tests pending investigation.
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
Due: none

[fenix] Update to Android-Components 111.0.20230206143351.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Set version to 110.0.0
  version.txt
Due: none

[fenix] Set version to 110.0.0
  fenix/version.txt
Due: none

Bug 27998 – Add offset parameter to menu2
  android-components/components/browser/menu2/src/main/java/mozilla/components/browser/menu2/BrowserMenuController.kt
  android-components/components/browser/menu2/src/main/java/mozilla/components/browser/menu2/ext/MenuPositioningData.kt
  android-components/components/browser/menu2/src/main/java/mozilla/components/browser/menu2/ext/PopupWindow.kt
  android-components/components/browser/menu2/src/main/res/values/dimens.xml
  android-components/components/browser/menu2/src/test/java/mozilla/components/browser/menu2/ext/PopupWindowTest.kt
  android-components/components/concept/menu/src/main/java/mozilla/components/concept/menu/MenuStyle.kt
Due: compare-locales-android-components, ktlint-android-components

[fenix] Update to Android-Components 111.0.20230206190358.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
