Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: compare-locales-android-components, compare-locales-focus, ktlint-android-components, ktlint-focus

compare-locales-android-components:
  run:
    cwd: '{checkout}/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/focus-android'
  treeherder:
    symbol: compare-locales(focus)

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Bug 1811280 - Add worker retry on Firebase infrastructure error
  taskcluster/ci/ui-test-focus/kind.yml
Due: none

Bug 1811490 - Add < at the start of each of the localization comment
  focus-android/app/src/main/res/values/strings.xml
Due: compare-locales-focus, ktlint-focus

[fenix] Bug 1811045 - Expand device and scheduling for legacy Android testing cron
  fenix/.cron.yml
  fenix/automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
Due: none

[fenix] Update to Android-Components 111.0.20230120143314.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1811480 - update nimbus-experiments job action versions
  .github/workflows/focus-update-nimbus-experiments.yml
Due: none

[fenix] Bug 1807594 - Respect users setting when switching back to search suggestions
  fenix/app/src/main/java/org/mozilla/fenix/search/SearchFragmentStore.kt
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/26855 - Direct users to Bugzilla for issue tracking
  fenix/.github/ISSUE_TEMPLATE/---bug-report.yml
  fenix/.github/ISSUE_TEMPLATE/---feature-request.md
  fenix/.github/ISSUE_TEMPLATE/---performance-issue.md
  fenix/.github/ISSUE_TEMPLATE/---webcontent-issue-report.md
  fenix/.github/ISSUE_TEMPLATE/--spike.md
  fenix/.github/ISSUE_TEMPLATE/--telemetry-request.md
  fenix/.github/ISSUE_TEMPLATE/--ui-test.md
  fenix/.github/ISSUE_TEMPLATE/--unit-test.md
  fenix/.github/ISSUE_TEMPLATE/--user-story.md
  fenix/.github/ISSUE_TEMPLATE/config.yml
  fenix/docs/release-checklist.md
Due: none

[fenix] Update to Android-Components 111.0.20230120190252.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Import l10n.
  focus-android/app/src/main/res/values-ca/strings.xml
  focus-android/app/src/main/res/values-de/strings.xml
  focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-es-rCL/strings.xml
  focus-android/app/src/main/res/values-es-rMX/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-hu/strings.xml
  focus-android/app/src/main/res/values-is/strings.xml
  focus-android/app/src/main/res/values-it/strings.xml
  focus-android/app/src/main/res/values-kk/strings.xml
  focus-android/app/src/main/res/values-nl/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
  focus-android/app/src/main/res/values-sk/strings.xml
  focus-android/app/src/main/res/values-skr/strings.xml
  focus-android/app/src/main/res/values-sl/strings.xml
  focus-android/app/src/main/res/values-sr/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-focus, ktlint-focus

Import l10n.
  android-components/components/browser/errorpages/src/main/res/values-ca/strings.xml
  android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
  android-components/components/feature/search/src/main/res/values-ca/strings.xml
  android-components/components/feature/sitepermissions/src/main/res/values-ca/strings.xml
  android-components/components/lib/crash/src/main/res/values-ca/strings.xml
  android-components/l10n.toml
Due: compare-locales-android-components, ktlint-android-components

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28612)
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-ca/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fur/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-hu/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-kaa/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-pt-rBR/strings.xml
  fenix/app/src/main/res/values-si/strings.xml
  fenix/app/src/main/res/values-sk/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rCN/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
  fenix/l10n.toml
Due: none

Strings - focus-android/app/src/main/res/values-ca/strings.xml
  focus-android/app/src/main/res/values-ca/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-de/strings.xml
  focus-android/app/src/main/res/values-de/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-es-rCL/strings.xml
  focus-android/app/src/main/res/values-es-rCL/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-el/strings.xml
  focus-android/app/src/main/res/values-el/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-es-rMX/strings.xml
  focus-android/app/src/main/res/values-es-rMX/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-hu/strings.xml
  focus-android/app/src/main/res/values-hu/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-is/strings.xml
  focus-android/app/src/main/res/values-is/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-nl/strings.xml
  focus-android/app/src/main/res/values-nl/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-kk/strings.xml
  focus-android/app/src/main/res/values-kk/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-it/strings.xml
  focus-android/app/src/main/res/values-it/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-pt-rBR/strings.xml
  focus-android/app/src/main/res/values-pt-rBR/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-si/strings.xml
  focus-android/app/src/main/res/values-si/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sl/strings.xml
  focus-android/app/src/main/res/values-sl/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sk/strings.xml
  focus-android/app/src/main/res/values-sk/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-skr/strings.xml
  focus-android/app/src/main/res/values-skr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-sr/strings.xml
  focus-android/app/src/main/res/values-sr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-tr/strings.xml
  focus-android/app/src/main/res/values-tr/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-zh-rTW/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-focus, ktlint-focus

Strings - focus-android/app/src/main/res/values-zh-rCN/strings.xml
  focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: compare-locales-focus, ktlint-focus

Path conditions:
  compare-locales-android-components: any of: android-components/**
  compare-locales-focus: any of: focus-android/**
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
