Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: ktlint-android-components, ktlint-focus

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Update GeckoView (Nightly) to 109.0.20221210213651.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

Bug 1805066 - Update the order of search engines
  android-components/components/feature/search/src/main/assets/search/list.json
Due: ktlint-android-components

[focus] Update to Android-Components 109.0.20221211031229.
  focus-android/buildSrc/src/main/java/AndroidComponents.kt
Due: ktlint-focus

[fenix] Update to Android-Components 109.0.20221211031229.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Update GeckoView (Nightly) to 109.0.20221211092251.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

[focus] Update to Android-Components 109.0.20221211143351.
  focus-android/buildSrc/src/main/java/AndroidComponents.kt
Due: ktlint-focus

[fenix] Update to Android-Components 109.0.20221211143351.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

[focus] Import l10n.
  focus-android/app/src/main/res/values-kab/strings.xml
Due: ktlint-focus

[fenix] For https://github.com/mozilla-mobile/fenix/issues/26286 improve firstRunScreenTest UI test coverage
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/util/Strings.kt
Due: none

Bug 1799696 - part 8: Migrate github-release task over
  focus-android/taskcluster/focus_android_taskgraph/transforms/github_release.py
  taskcluster/android_taskgraph/transforms/github_release.py
  taskcluster/ci/github-release-apks/kind.yml
  taskcluster/ci/github-release-components/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
Due: ktlint-focus

Bug 1799696 - part 6: Migrate release-notify-promote tasks
  taskcluster/android_taskgraph/transforms/release_deps.py
  taskcluster/ci/release-notify-promote/kind.yml
Due: none

Bug 1799696 - part 10: Let version task reference firefox-android as a whole
  focus-android/taskcluster/ci/version-bump/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: ktlint-focus

Bug 1799696 - part 7: Migrate release-notify-ship tasks
  taskcluster/ci/release-notify-ship/kind.yml
Due: none

Bug 1799696 - part 9: Let mark-as-ship task update the Firefox-android product on shipit
  focus-android/taskcluster/ci/mark-as-shipped/kind.yml
  focus-android/taskcluster/focus_android_taskgraph/transforms/mark_as_shipped.py
  focus-android/taskcluster/focus_android_taskgraph/transforms/version_bump.py
  taskcluster/android_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ci/mark-as-shipped/kind.yml
Due: ktlint-focus

Bug 1799696 - part 6: Split A-C release graph into 2: ship and promote
  taskcluster/android_taskgraph/release_type.py
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/build-components/kind.yml
Due: none

[focus] For #1797578 - Create toggle option in the toolbar that allow a site to be excluded from cookie banner handling in Focus
  focus-android/app/build.gradle
  focus-android/app/metrics.yaml
  focus-android/app/src/main/java/org/mozilla/focus/Components.kt
  focus-android/app/src/main/java/org/mozilla/focus/components/EngineProvider.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/CookieBannerExceptionDetailsPanel.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/CookieBannerExceptionDetailsSwitch.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/CookieBannerExceptionItem.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/CookieBannerExceptionMiddleware.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/CookieBannerExceptionStore.kt
  focus-android/app/src/main/java/org/mozilla/focus/cookiebannerexception/DefaultCookieBannerExceptionInteractor.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/PrivacySecuritySettingsFragment.kt
  focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/TrackingProtectionPanel.kt
  focus-android/app/src/main/java/org/mozilla/focus/utils/Settings.kt
  focus-android/app/src/main/res/drawable/ic_cookies_disable.xml
  focus-android/app/src/main/res/layout/cookie_banner_exception_details.xml
  focus-android/app/src/main/res/layout/dialog_tracking_protection_sheet.xml
  focus-android/app/src/main/res/values/preference_keys.xml
  focus-android/app/src/main/res/values/strings.xml
Due: ktlint-focus

[focus] Bug 1799701 - part 2: Do not build and ship Focus Nightly until the monorepo migration
  focus-android/.cron.yml
Due: ktlint-focus

[focus] Bug 1799701 - part 1: Do not bump Android-Components because of the monorepo migration
  focus-android/.github/workflows/focus-update-ac.yml
Due: ktlint-focus

Update GeckoView (Nightly) to 109.0.20221212094833.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

[fenix] Bug 1804690 - Allow emulator to access network of the host machine sidestepping the TLS error on debug channel
  fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: none

add karma search engine
  android-components/components/feature/search/src/main/assets/search/list.json
  android-components/components/feature/search/src/main/assets/searchplugins/karma.xml
Due: ktlint-android-components

[focus] Automatic version bump CLOSED TREE NO BUG a=release
  focus-android/version.txt
Due: ktlint-focus

Bug 1799679 - Preserve search terms for search engine result pages
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/SystemEngineSession.kt
  android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/SystemEngineSessionTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ContentStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/ContentState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/SearchUseCasesTest.kt
  android-components/components/feature/serviceworker/src/test/java/mozilla/components/feature/serviceworker/ServiceWorkerSupportTest.kt
  android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/TabsUseCases.kt
  android-components/components/feature/tabs/src/test/java/mozilla/components/feature/tabs/TabsUseCasesTest.kt
Due: ktlint-android-components

[fenix] Update to Android-Components 109.0.20221212145348.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Switch to GeckoView Beta
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

[focus] Bug 1805184 - Enable or disable Glean collection and upload immediately.
  focus-android/app/src/main/java/org/mozilla/focus/widget/TelemetrySwitchPreference.kt
Due: ktlint-focus

[fenix] Update version.txt to 110.0b1
  fenix/version.txt
Due: none

[focus] Update version.txt to 110.0b1.
  focus-android/version.txt
Due: ktlint-focus

Start 110 development cycle
  android-components/plugins/dependencies/src/main/java/Gecko.kt
  docs/changelog.md
  version.txt
Due: ktlint-android-components

[fenix] Close https://github.com/mozilla-mobile/fenix/issues/28137: Disable run-build tasks on Pull Requests
  fenix/.github/workflows/build-contributor-pr.yml
Due: none

Update GeckoView (Beta) to 109.0.20221212143511.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

Bug 1804594 - Differentiate search engines between "general" and "topic specific" when they are loaded
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/search/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/ext/SearchEngineKtTest.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/storage/SearchEngineReaderTest.kt
  docs/changelog.md
Due: ktlint-android-components

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28174 - Remove all unused strings marked moz:removedIn <= 107
  fenix/app/src/main/res/values/strings.xml
Due: none

Bug 1804274: Adds entrypoints for firefox accounts
  android-components/components/concept/sync/src/main/java/mozilla/components/concept/sync/OAuthAccount.kt
  android-components/components/feature/accounts/src/main/java/mozilla/components/feature/accounts/FirefoxAccountsAuthFeature.kt
  android-components/components/feature/accounts/src/test/java/mozilla/components/feature/accounts/FirefoxAccountsAuthFeatureTest.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/FirefoxAccount.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/Utils.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/State.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/UtilsKtTest.kt
  android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/manager/StateKtTest.kt
  android-components/components/support/sync-telemetry/docs/metrics.md
  android-components/samples/firefox-accounts/src/main/java/org/mozilla/samples/fxa/MainActivity.kt
  android-components/samples/sync-logins/src/main/java/org/mozilla/samples/sync/logins/MainActivity.kt
  android-components/samples/sync/src/main/java/org/mozilla/samples/sync/MainActivity.kt
  docs/changelog.md
Due: ktlint-android-components

Path conditions:
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
