Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: ktlint-android-components, ktlint-focus

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Bug 1799696 - part 4: Bump taskgraph from 3.7.0 to 4.1.0
  taskcluster/requirements.txt
Due: none

Bug 1799696 - part 10: Let version task reference firefox-android as a whole
  focus-android/taskcluster/ci/version-bump/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: ktlint-focus

Bug 1799696 - part 7: Migrate release-notify-ship tasks
  taskcluster/ci/release-notify-ship/kind.yml
Due: none

Bug 1799696 - part 9: Let mark-as-ship task update the Firefox-android product on shipit
  focus-android/taskcluster/ci/mark-as-shipped/kind.yml
  focus-android/taskcluster/focus_android_taskgraph/transforms/mark_as_shipped.py
  focus-android/taskcluster/focus_android_taskgraph/transforms/version_bump.py
  taskcluster/android_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ci/mark-as-shipped/kind.yml
Due: ktlint-focus

Bug 1799696 - part 5: Let `task` transform set the shipping_phase attribute
  focus-android/taskcluster/ci/github-release/kind.yml
  focus-android/taskcluster/ci/mark-as-shipped/kind.yml
  focus-android/taskcluster/ci/release-notify-promote/kind.yml
  focus-android/taskcluster/ci/release-notify-ship/kind.yml
  focus-android/taskcluster/ci/version-bump/kind.yml
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/push-apk/kind.yml
Due: ktlint-focus

Bug 1799668 - part 14: Do not build release APKs on PRs
  taskcluster/ci/build-apk/kind.yml
Due: none

Bug 1799668 - part 4: Delete unused requirements files in favor of more up-to-date ones
  focus-android/taskcluster/requirements.in
  focus-android/taskcluster/requirements.txt
Due: ktlint-focus

Bug 1799668 - part 11: Port signing APK jobs
  focus-android/taskcluster/scripts/get-secret.py
  taskcluster/android_taskgraph/transforms/clean_multi_dep.py
  taskcluster/android_taskgraph/transforms/multi_dep.py
  taskcluster/android_taskgraph/transforms/signing.py
  taskcluster/android_taskgraph/transforms/signing_apk.py
  taskcluster/ci/signing-apk/kind.yml
  taskcluster/ci/signing/kind.yml
Due: ktlint-focus

Bug 1799668 - part 2: Merge .config.yml into 1 file
  focus-android/taskcluster/ci/config.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/build/kind.yml
  taskcluster/ci/complete/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/test/kind.yml
  taskcluster/ci/toolchain/android.yml
  taskcluster/ci/trigger-nightly/kind.yml
Due: ktlint-focus

Bug 1799668 - part 3: Do not run small lightweight tasks on large workers anymore
  taskcluster/ci/complete/kind.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/trigger-nightly/kind.yml
Due: none

Bug 1799668 - part 6: Delete focus fetch task definition for being identical too
  focus-android/taskcluster/ci/fetch/kind.yml
Due: ktlint-focus

Bug 1799668 - part 7: Merge toolchain tasks
  focus-android/taskcluster/ci/toolchain/android.yml
  focus-android/taskcluster/ci/toolchain/kind.yml
  focus-android/taskcluster/scripts/toolchain/android-gradle-dependencies.sh
  focus-android/taskcluster/scripts/toolchain/android-gradle-dependencies/after.sh
  focus-android/taskcluster/scripts/toolchain/android-gradle-dependencies/before.sh
  focus-android/taskcluster/scripts/toolchain/android-gradle-dependencies/nexus.xml
  focus-android/taskcluster/scripts/toolchain/repack-android-sdk-linux.sh
  taskcluster/ci/toolchain/android.yml
  taskcluster/scripts/toolchain/android-gradle-dependencies.sh
Due: ktlint-focus

Bug 1799668 - part 5: Delete focus Docker definitions for being identical
  focus-android/taskcluster/ci/docker-image/kind.yml
  focus-android/taskcluster/docker/android-build/Dockerfile
  focus-android/taskcluster/docker/base/Dockerfile
  focus-android/taskcluster/docker/ui-tests/Dockerfile
Due: ktlint-focus

Bug 1799668 - part 1: Rename `ac_taskgraph` into `android_taskgraph`
  taskcluster/android_taskgraph/__init__.py
  taskcluster/android_taskgraph/build_config.py
  taskcluster/android_taskgraph/gradle.py
  taskcluster/android_taskgraph/job.py
  taskcluster/android_taskgraph/loader/__init__.py
  taskcluster/android_taskgraph/loader/all_dep.py
  taskcluster/android_taskgraph/loader/build_config.py
  taskcluster/android_taskgraph/loader/multi_dep.py
  taskcluster/android_taskgraph/release_promotion.py
  taskcluster/android_taskgraph/routes.py
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/android_taskgraph/transforms/__init__.py
  taskcluster/android_taskgraph/transforms/all_dep.py
  taskcluster/android_taskgraph/transforms/beetmover.py
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/android_taskgraph/transforms/chunk.py
  taskcluster/android_taskgraph/transforms/complete.py
  taskcluster/android_taskgraph/transforms/github_release.py
  taskcluster/android_taskgraph/transforms/gradle_optimization.py
  taskcluster/android_taskgraph/transforms/mark_as_shipped.py
  taskcluster/android_taskgraph/transforms/multi_dep.py
  taskcluster/android_taskgraph/transforms/post_dummy.py
  taskcluster/android_taskgraph/transforms/signing.py
  taskcluster/android_taskgraph/transforms/treeherder.py
  taskcluster/android_taskgraph/transforms/trigger_nightly.py
  taskcluster/android_taskgraph/transforms/ui_tests.py
  taskcluster/android_taskgraph/transforms/version_bump.py
  taskcluster/android_taskgraph/worker_types.py
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/build-samples-browser/kind.yml
  taskcluster/ci/build/kind.yml
  taskcluster/ci/complete/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/github-release/kind.yml
  taskcluster/ci/mark-as-shipped/kind.yml
  taskcluster/ci/post-beetmover/kind.yml
  taskcluster/ci/post-signing/kind.yml
  taskcluster/ci/signing/kind.yml
  taskcluster/ci/trigger-nightly/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: none

Bug 1799668 - part 8: Merge lint tasks
  android-components/build.gradle
  focus-android/build.gradle
  focus-android/taskcluster/ci/lint/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/lint/compare-locales.yml
  taskcluster/ci/lint/detekt.yml
  taskcluster/ci/lint/kind.yml
  taskcluster/ci/lint/ktlint.yml
  taskcluster/ci/lint/lint.yml
Due: ktlint-android-components, ktlint-focus

Bug 1799668 - part 9: Rename `build` kind into `build-components`
  focus-android/taskcluster/ci/complete/kind.yml
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/build-components/kind.yml
  taskcluster/ci/complete/kind.yml
  taskcluster/ci/signing/kind.yml
Due: ktlint-focus

Bug 1799668 - part 13: Improve complete task dependencies
  focus-android/taskcluster/ci/complete/kind.yml
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/complete/kind.yml
Due: ktlint-focus

Bug 1799668 - part 10: Port focus build jobs
  android-components/automation/taskcluster/helper/get-secret.py
  focus-android/.github/PULL_REQUEST_TEMPLATE
  focus-android/taskcluster/ci/signing/kind.yml
  focus-android/taskcluster/ci/ui-test/kind.yml
  focus-android/taskcluster/focus_android_taskgraph/gradle.py
  focus-android/taskcluster/scripts/get-secret.py
  taskcluster/android_taskgraph/__init__.py
  taskcluster/android_taskgraph/build_config.py
  taskcluster/android_taskgraph/gradle.py
  taskcluster/android_taskgraph/job.py
  taskcluster/android_taskgraph/transforms/build_apk.py
  taskcluster/ci/build-apk/kind.yml
Due: ktlint-android-components, ktlint-focus

Bug 1799668 - part 12: Merge test tasks
  focus-android/taskcluster/focus_android_taskgraph/job.py
  taskcluster/android_taskgraph/job.py
  taskcluster/android_taskgraph/transforms/test_focus.py
  taskcluster/ci/test-components/kind.yml
  taskcluster/ci/test-focus/kind.yml
  taskcluster/ci/ui-test-focus/kind.yml
  taskcluster/docker/base/Dockerfile
  taskcluster/scripts/get-secret.py
  taskcluster/scripts/write-dummy-secret.py
Due: ktlint-focus

Bug 1799696 - part 6: Migrate release-notify-promote tasks
  taskcluster/android_taskgraph/transforms/release_deps.py
  taskcluster/ci/release-notify-promote/kind.yml
Due: none

Bug 1799696 - part 3: Make `release-promotion` callback similar to the one in fenix/focus
  taskcluster/android_taskgraph/release_promotion.py
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/ci/config.yml
  taskcluster/test/params/main-repo-ship.yml
Due: none

Bug 1799696 - part 1: Create new taskgraph parameter files
  taskcluster/test/params/fork-promote-beta.yml
  taskcluster/test/params/main-repo-promote.yml
  taskcluster/test/params/main-repo-ship.yml
Due: none

Bug 1799696 - part 6: Split A-C release graph into 2: ship and promote
  taskcluster/android_taskgraph/release_type.py
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/build-components/kind.yml
Due: none

Bug 1799696 - part 8: Migrate github-release task over
  focus-android/taskcluster/focus_android_taskgraph/transforms/github_release.py
  taskcluster/android_taskgraph/transforms/github_release.py
  taskcluster/ci/github-release-apks/kind.yml
  taskcluster/ci/github-release-components/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
Due: ktlint-focus

Bug 1799696 - part 2: Change signing routes to support both APKs and components coming from the same repo
  taskcluster/android_taskgraph/routes.py
Due: none

Bug 1803141 - part 8: Build focus only when it or one of its dependencies change
  taskcluster/android_taskgraph/gradle.py
  taskcluster/android_taskgraph/transforms/build_apk.py
  taskcluster/android_taskgraph/transforms/gradle_optimization.py
  taskcluster/ci/build-apk/kind.yml
Due: none

Bug 1799670 - Add focus push-apk kind
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/android_taskgraph/transforms/multi_dep.py
  taskcluster/android_taskgraph/transforms/push_apk.py
  taskcluster/android_taskgraph/worker_types.py
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/signing-apk/kind.yml
Due: none

Path conditions:
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
