Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: ktlint-android-components, ktlint-focus

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Update GeckoView (Beta) to 109.0.20221213185929.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

No issue: Remove redundant LICENSE file in focus-android folder
  focus-android/LICENSE
Due: ktlint-focus

Bug 1805438 - Don't lint components when building Focus
  focus-android/settings.gradle
Due: ktlint-focus

Import l10n.
  focus-android/app/src/main/res/values-de/strings.xml
  focus-android/app/src/main/res/values-es-rCL/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-fy-rNL/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-in/strings.xml
  focus-android/app/src/main/res/values-kk/strings.xml
  focus-android/app/src/main/res/values-lo/strings.xml
  focus-android/app/src/main/res/values-nl/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-skr/strings.xml
  focus-android/app/src/main/res/values-sr/strings.xml
  focus-android/app/src/main/res/values-su/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-uk/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: ktlint-focus

[fenix] Bug 1804820 - Refactor Deps to FenixDependencies
  fenix/app/build.gradle
  fenix/build.gradle
  fenix/buildSrc/src/main/java/Dependencies.kt
  fenix/mozilla-detekt-rules/build.gradle
  fenix/mozilla-lint-rules/build.gradle
Due: none

[fenix] Bug 1804820 - Refactor Versions to FenixVersions
  fenix/app/build.gradle
  fenix/build.gradle
  fenix/buildSrc/src/main/java/Dependencies.kt
  fenix/mozilla-lint-rules/build.gradle
Due: none

No issue: Remove redundant version.txt
  focus-android/version.txt
Due: ktlint-focus

No issue: Update README to reflect Focus migration
  README.md
Due: none

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28191)
  fenix/app/src/main/res/values-fi/strings.xml
  fenix/app/src/main/res/values-is/strings.xml
  fenix/app/src/main/res/values-oc/strings.xml
  fenix/app/src/main/res/values-sr/strings.xml
  fenix/app/src/main/res/values-tr/strings.xml
  fenix/app/src/main/res/values-uk/strings.xml
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/26286 new verifyUndoRemoveTopSite UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TopSitesTest.kt
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: none

Bug 1800542 - Refactor Dependencies into a plugin using composite build
  .github/workflows/ac-create-release.yml
  .github/workflows/ac-update-geckoview.yml
  .mergify.yml
  android-components/build.gradle
  android-components/plugins/dependencies/build.gradle
  android-components/plugins/dependencies/settings.gradle
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  android-components/plugins/dependencies/src/main/java/Gecko.kt
  android-components/settings.gradle
  android-components/tools/list_compatible_dependency_versions.py
  taskcluster/ci/toolchain/android.yml
  taskcluster/ci/trigger-nightly/kind.yml
Due: ktlint-android-components

Bug 1800540 - Refactor PublicSuffixListPlugin into a plugin using composite build
  android-components/buildSrc/src/main/java/Dependencies.kt
  android-components/components/lib/publicsuffixlist/build.gradle
  android-components/plugins/publicsuffixlist/build.gradle
  android-components/plugins/publicsuffixlist/src/main/java/PublicSuffixListPlugin.kt
  android-components/settings.gradle
Due: ktlint-android-components

[focus] For https://github.com/mozilla-mobile/focus-android/issues/8035 - Refactor Versions to FocusVersions
  focus-android/app/build.gradle
  focus-android/build.gradle
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
  focus-android/taskcluster/ci/toolchain/android.yml
Due: ktlint-focus

[focus] For https://github.com/mozilla-mobile/focus-android/issues/8035 - Refactor Dependencies to FocusDependencies
  focus-android/app/build.gradle
  focus-android/build.gradle
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
  focus-android/service-telemetry/build.gradle
Due: ktlint-focus

Fix trigger-nightly task after repository move
  taskcluster/ac_taskgraph/target_tasks.py
  taskcluster/ci/trigger-nightly/kind.yml
Due: none

Update GeckoView (Nightly) to 110.0.20221214033416.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

Bug 1805629: fix chain of trust verification failure on pull requests
  .taskcluster.yml
Due: none

Bug 1805639 - part 1: Create promote-beta params file and delete outdated promote one
  taskcluster/test/params/main-repo-promote-beta.yml
  taskcluster/test/params/main-repo-promote.yml
Due: none

Bug 1803141 - part 1: Remove unused vars/imports in `build_config` loader
  taskcluster/ac_taskgraph/loader/build_config.py
Due: none

Bug 1803141 - part 2: Make gradle dependencies parsing more generic
  taskcluster/ac_taskgraph/gradle.py
  taskcluster/ac_taskgraph/loader/build_config.py
Due: none

Bug 1803141 - part 3: Optimize away build tasks during taskgraph optimization phase
  taskcluster/ac_taskgraph/gradle.py
  taskcluster/ac_taskgraph/loader/build_config.py
  taskcluster/ac_taskgraph/transforms/build.py
  taskcluster/ac_taskgraph/transforms/gradle_optimization.py
  taskcluster/ci/build/kind.yml
Due: none

Bug 1803141 - part 4: Factorize UI tests commons in a transform
  taskcluster/ac_taskgraph/transforms/ui_tests.py
  taskcluster/ci/test/kind.yml
Due: none

Bug 1803141 - part 6: Run UI tests only when components under tests are changed
  taskcluster/ac_taskgraph/transforms/gradle_optimization.py
  taskcluster/ci/test/kind.yml
Due: none

Bug 1803141 - part 7: Build samples-browser only when changed
  taskcluster/ci/build-samples-browser/kind.yml
Due: none

Bug 1803141 - part 5: Re-enable tests on features-downloads and features-recentlyclosed
  taskcluster/ci/test/kind.yml
Due: none

Bug 1805639 - part 2: Factorize v3 scopes
  taskcluster/android_taskgraph/__init__.py
  taskcluster/android_taskgraph/morph.py
Due: none

Bug 1799964 - Migrate firefox-android from AWS to GCP (#128)
  .taskcluster.yml
  taskcluster/ci/config.yml
Due: none

Path conditions:
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
