Repository mozilla-mobile/firefox-android: changes, and which Taskcluster tasks are due for each by the changed paths.
All: ktlint-android-components, ktlint-focus

ktlint-android-components:
  run:
    pre-gradlew:
    - - cd
      - android-components
  treeherder:
    symbol: ktlint(AC)

ktlint-focus:
  run:
    pre-gradlew:
    - - cd
      - focus-android
  treeherder:
    symbol: ktlint(focus)

Bug 1799696 - part 6: Migrate release-notify-promote tasks
  taskcluster/android_taskgraph/transforms/release_deps.py
  taskcluster/ci/release-notify-promote/kind.yml
Due: none

Bug 1799696 - part 7: Migrate release-notify-ship tasks
  taskcluster/ci/release-notify-ship/kind.yml
Due: none

Bug 1799696 - part 8: Migrate github-release task over
  focus-android/taskcluster/focus_android_taskgraph/transforms/github_release.py
  taskcluster/android_taskgraph/transforms/github_release.py
  taskcluster/ci/github-release-apks/kind.yml
  taskcluster/ci/github-release-components/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
Due: ktlint-focus

Bug 1799696 - part 9: Let mark-as-ship task update the Firefox-android product on shipit
  focus-android/taskcluster/ci/mark-as-shipped/kind.yml
  focus-android/taskcluster/focus_android_taskgraph/transforms/mark_as_shipped.py
  focus-android/taskcluster/focus_android_taskgraph/transforms/version_bump.py
  taskcluster/android_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ci/mark-as-shipped/kind.yml
Due: ktlint-focus

Bug 1799696 - part 10: Let version task reference firefox-android as a whole
  focus-android/taskcluster/ci/version-bump/kind.yml
  taskcluster/ci/version-bump/kind.yml
Due: ktlint-focus

Bug 1799696 - part 6: Split A-C release graph into 2: ship and promote
  taskcluster/android_taskgraph/release_type.py
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/android_taskgraph/transforms/build.py
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/build-components/kind.yml
Due: none

Bug 1799696 - part 3: Make `release-promotion` callback similar to the one in fenix/focus
  taskcluster/android_taskgraph/release_promotion.py
  taskcluster/android_taskgraph/target_tasks.py
  taskcluster/ci/config.yml
  taskcluster/test/params/main-repo-ship.yml
Due: none

Bug 1799696 - part 1: Create new taskgraph parameter files
  taskcluster/test/params/fork-promote-beta.yml
  taskcluster/test/params/main-repo-promote.yml
  taskcluster/test/params/main-repo-ship.yml
Due: none

Bug 1799696 - part 5: Let `task` transform set the shipping_phase attribute
  focus-android/taskcluster/ci/github-release/kind.yml
  focus-android/taskcluster/ci/mark-as-shipped/kind.yml
  focus-android/taskcluster/ci/release-notify-promote/kind.yml
  focus-android/taskcluster/ci/release-notify-ship/kind.yml
  focus-android/taskcluster/ci/version-bump/kind.yml
  taskcluster/ci/build-apk/kind.yml
  taskcluster/ci/push-apk/kind.yml
Due: ktlint-focus

Bug 1799696 - part 4: Bump taskgraph from 3.7.0 to 4.1.0
  taskcluster/requirements.txt
Due: none

Bug 1799696 - part 2: Change signing routes to support both APKs and components coming from the same repo
  taskcluster/android_taskgraph/routes.py
Due: none

[fenix] For https://github.com/mozilla-mobile/fenix/issues/28165 fix showDefaultHomeScreen screenshot UI test
  fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: none

Revert "Bug 1799668 - part 15: Fix Focus build warning"
  focus-android/app/src/main/java/org/mozilla/focus/ext/ContentState.kt
  focus-android/app/src/main/java/org/mozilla/focus/fragment/UrlInputFragment.kt
Due: ktlint-focus

Revert "Bug 1799679 - Preserve search terms for search engine result pages"
  android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/SystemEngineSession.kt
  android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/SystemEngineSessionTest.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ContentStateReducer.kt
  android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/ContentState.kt
  android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  android-components/components/feature/search/src/test/java/mozilla/components/feature/search/SearchUseCasesTest.kt
  android-components/components/feature/serviceworker/src/test/java/mozilla/components/feature/serviceworker/ServiceWorkerSupportTest.kt
  android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/TabsUseCases.kt
  android-components/components/feature/tabs/src/test/java/mozilla/components/feature/tabs/TabsUseCasesTest.kt
Due: ktlint-android-components

Import l10n.
  focus-android/app/src/main/res/values-de/strings.xml
  focus-android/app/src/main/res/values-es-rCL/strings.xml
  focus-android/app/src/main/res/values-fi/strings.xml
  focus-android/app/src/main/res/values-fr/strings.xml
  focus-android/app/src/main/res/values-fy-rNL/strings.xml
  focus-android/app/src/main/res/values-ia/strings.xml
  focus-android/app/src/main/res/values-in/strings.xml
  focus-android/app/src/main/res/values-kk/strings.xml
  focus-android/app/src/main/res/values-lo/strings.xml
  focus-android/app/src/main/res/values-nl/strings.xml
  focus-android/app/src/main/res/values-nn-rNO/strings.xml
  focus-android/app/src/main/res/values-skr/strings.xml
  focus-android/app/src/main/res/values-su/strings.xml
  focus-android/app/src/main/res/values-sv-rSE/strings.xml
  focus-android/app/src/main/res/values-vi/strings.xml
  focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: ktlint-focus

Bug 1799670 - part 2: Fix nightly and beta not being signed with level 3 workers
  taskcluster/android_taskgraph/transforms/signing_apk.py
Due: none

[fenix] Update to Android-Components 110.0.20221213163249.
  fenix/buildSrc/src/main/java/AndroidComponents.kt
Due: none

Bug 1800540 - Refactor PublicSuffixListPlugin into a plugin using composite build
  android-components/buildSrc/src/main/java/Dependencies.kt
  android-components/components/lib/publicsuffixlist/build.gradle
  android-components/plugins/publicsuffixlist/build.gradle
  android-components/plugins/publicsuffixlist/src/main/java/PublicSuffixListPlugin.kt
  android-components/settings.gradle
Due: ktlint-android-components

Fix trigger-nightly task after repository move
  taskcluster/ac_taskgraph/target_tasks.py
  taskcluster/ci/trigger-nightly/kind.yml
Due: none

Bug 1800542 - Refactor Dependencies into a plugin using composite build
  .github/workflows/ac-create-release.yml
  .github/workflows/ac-update-geckoview.yml
  .mergify.yml
  android-components/build.gradle
  android-components/plugins/dependencies/build.gradle
  android-components/plugins/dependencies/settings.gradle
  android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  android-components/plugins/dependencies/src/main/java/Gecko.kt
  android-components/settings.gradle
  android-components/tools/list_compatible_dependency_versions.py
  taskcluster/ci/toolchain/android.yml
  taskcluster/ci/trigger-nightly/kind.yml
Due: ktlint-android-components

[fenix] No issue: Update add-ons collection.
  fenix/app/build.gradle
Due: none

Set version.txt to 109.0b1
  version.txt
Due: none

[fenix] Import l10n. (https://github.com/mozilla-mobile/fenix/pull/28187)
  fenix/app/src/main/res/values-be/strings.xml
  fenix/app/src/main/res/values-de/strings.xml
  fenix/app/src/main/res/values-es-rCL/strings.xml
  fenix/app/src/main/res/values-fr/strings.xml
  fenix/app/src/main/res/values-fy-rNL/strings.xml
  fenix/app/src/main/res/values-gn/strings.xml
  fenix/app/src/main/res/values-ia/strings.xml
  fenix/app/src/main/res/values-in/strings.xml
  fenix/app/src/main/res/values-iw/strings.xml
  fenix/app/src/main/res/values-kk/strings.xml
  fenix/app/src/main/res/values-ko/strings.xml
  fenix/app/src/main/res/values-nl/strings.xml
  fenix/app/src/main/res/values-nn-rNO/strings.xml
  fenix/app/src/main/res/values-sat/strings.xml
  fenix/app/src/main/res/values-skr/strings.xml
  fenix/app/src/main/res/values-sv-rSE/strings.xml
  fenix/app/src/main/res/values-tg/strings.xml
  fenix/app/src/main/res/values-vi/strings.xml
  fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: none

[focus] For https://github.com/mozilla-mobile/focus-android/issues/8035 - Refactor Dependencies to FocusDependencies
  focus-android/app/build.gradle
  focus-android/build.gradle
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
  focus-android/service-telemetry/build.gradle
Due: ktlint-focus

[focus] For https://github.com/mozilla-mobile/focus-android/issues/8035 - Refactor Versions to FocusVersions
  focus-android/app/build.gradle
  focus-android/build.gradle
  focus-android/buildSrc/src/main/java/FocusDependencies.kt
  focus-android/taskcluster/ci/toolchain/android.yml
Due: ktlint-focus

Bug 1804598 - Remove the AC build configuration indicator in the About Fragment
  focus-android/app/src/main/java/org/mozilla/focus/fragment/about/AboutFragment.kt
  focus-android/app/src/main/res/values/static_strings.xml
Due: ktlint-focus

No issue: Remove redundant LICENSE file in focus-android folder
  focus-android/LICENSE
Due: ktlint-focus

Update GeckoView (Beta) to 109.0.20221213185929.
  android-components/plugins/dependencies/src/main/java/Gecko.kt
Due: ktlint-android-components

Bug 1805438 - Don't lint components when building Focus
  focus-android/settings.gradle
Due: ktlint-focus

Path conditions:
  ktlint-android-components: any of: android-components/**
  ktlint-focus: any of: focus-android/**
